#toplevel_page_tf_contact_forms_list .wp-menu-image a
img{display:none}#toplevel_page_tf_contact_forms_list .wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/contact-forms.png") no-repeat scroll 5px -16px transparent!important;height:16px !important;margin-top:8px !important;margin-left:2px}#menu-posts-testimonials  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/testimonials.png") no-repeat scroll 5px -16px transparent!important;height:16px;margin-top:6px !important;margin-left:2px}#toplevel_page_tf_contact_forms_list:hover  div.wp-menu-image,
#toplevel_page_tf_contact_forms_list.wp-has-current-submenu  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/contact-forms.png") no-repeat scroll 5px 0 transparent!important;height:16px}#menu-posts-testimonials:hover  div.wp-menu-image,
#menu-posts-testimonials.wp-has-current-submenu  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/testimonials.png") no-repeat scroll 5px 0 transparent!important;height:16px}#toplevel_page_tf_slider_list  div.wp-menu-image a
img{display:none}#toplevel_page_tf_slider_list  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/sliders.png") no-repeat scroll 5px -16px transparent!important;height:16px;margin-top:5px !important;margin-left:2px}#toplevel_page_tf_slider_list:hover  div.wp-menu-image,
#toplevel_page_tf_slider_list.wp-has-current-submenu  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/sliders.png") no-repeat scroll 5px 0 transparent!important;height:16px}#toplevel_page_tf_reservations_list .wp-menu-image a
img{display:none}#toplevel_page_tf_reservations_list .wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/reservations_menu_icon.png") no-repeat scroll 5px -16px transparent!important;height:16px !important;margin-top:8px !important;margin-left:2px}#toplevel_page_tf_reservations_list:hover  div.wp-menu-image,
#toplevel_page_tf_reservations_list.wp-has-current-submenu  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/reservations_menu_icon.png") no-repeat scroll 5px 0 transparent!important;height:16px}#menu-posts-portfolio  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/portfolio.png") no-repeat scroll 5px -16px transparent!important;height:16px !important;margin-top:4px !important;margin-left:2px}#menu-posts-portfolio:hover  div.wp-menu-image,
#menu-posts-portfolio.wp-has-current-submenu  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/portfolio.png") no-repeat scroll 5px 0 transparent!important;height:16px}#menu-posts-service  div.wp-menu-image a
img{display:none}#menu-posts-service  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/services.png") no-repeat scroll 5px 0 transparent!important;height:16px;margin-top:3px !important;margin-left:2px}#menu-posts-service:hover  div.wp-menu-image,
#menu-posts-service.wp-has-current-submenu  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/services.png") no-repeat scroll 5px -16px transparent!important;height:16px}#menu-posts-members  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/members.png") no-repeat scroll 5px -16px transparent!important;height:16px !important;margin-top:4px !important;margin-left:2px}#menu-posts-members:hover  div.wp-menu-image,
#menu-posts-members.wp-has-current-submenu  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/members.png") no-repeat scroll 5px 0 transparent!important;height:16px}#toplevel_page_tf_contact_forms_list .wp-menu-image
img{display:none}#toplevel_page_tf_reservations_list .wp-menu-image
img{display:none}#toplevel_page_tf_contact_forms_list div.wp-menu-image  img,#toplevel_page_tf_slider_list  div.wp-menu-image
img{display:none}.folded #adminmenu a.menu-top{height:0px}.folded #adminmenu a.menu-top{padding:0px
!important}.folded #menu-posts-service div.wp-menu-image{margin-top:6px !important}.folded #menu-posts-members div.wp-menu-image{margin-top:8px !important}
/* end of /wp-content/themes/metrovibes-parent/css/custom_admin.css */
#tfuse_newsletter_total_emails{display:none}.newsletter_service_logo{max-width:580px;padding:10px
!important;vertical-align:middle}.newsletter_service_logo
div{margin:54px
0 0 160px}.newsletter_service_logo
img{float:left}.newsletter_apikey_holder{display:none}
/* end of /wp-content/themes/metrovibes-parent/framework/extensions/newsletter/static/css/newsletter.css */
.tf_shortcode_element{float:left;width:86px;height:86px;margin:0
20px 50px 0;background:url('http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/shortcodes/static/css/../images/box_border.png') no-repeat;cursor:pointer;text-align:center}.tf_shortcode_element:hover{background-position:0 -86px}.tf_shortcode_element
h3{padding:0;margin:6px
0 0 0;font-size:15px;width:86px;overflow:hidden}.tf_shortcode_element
.description{display:none}.tf_shc_category_filter{position:absolute;left:20px}.tf_shc_name_filter{position:absolute;left:260px}.tf_shortcode_element
.shc_icon{margin:4px}#tf_shortcode_controls{height:30px;margin:-4px -15px;padding:10px
6px;background:#e5e5e5;position:relative}.tf_ctrl_button{position:absolute;top:14px}#tf_shortcode_back{left:20px}#tf_shortcode_insert{right:20px}#tf_shortcode_controls
#tf_shortcode_control_buttons{display:none}#tf_shortcode_list{margin-top:30px;overflow:auto}#tf_shortcode_options{display:none;margin-top:4px;overflow:auto}#tfuse_fields.tfuse_shortcode_page,.tfuse_fields.tfuse_shortcode_page{margin-top:2px}#tfuse_fields.tfuse_shortcode_page .titledesc, .tfuse_fields.tfuse_shortcode_page
.titledesc{width:70px;margin-top:4px;text-align:right}#tfuse_fields.tfuse_shortcode_page .option-inner, .tfuse_fields.tfuse_shortcode_page .option-inner{padding:10px
10px}#tfuse_fields.tfuse_shortcode_page .desc, .tfuse_fields.tfuse_shortcode_page
.desc{margin:4px
0 0 4px;width:266px}.tf_shortcode_preview_div{position:relative;height:238px;padding:1px
1px 1px 1px}.tf_shortcode_preview_container{float:right;width:238px;margin:0
0 0 4px}#tf_shortcode_preview_iframe{width:100%;height:100%;top:0;right:0;position:absolute;border:1px
solid #ccc;z-index:999}.tf_shortcode_options_container{margin:0
246px 0 0}.tf_shortcode_element_header{border-bottom:1px solid #E6E6E6;padding:10px
0;margin:0
0 10px 0;line-height:24px;height:40px}.tf_shortcode_element_header
h2{margin:0}.tf_shortcode_element_header
.description{color:#555;font-size:12px;font-style:normal}#qt_content_tf_qtag_add_shortcode{padding-left:22px !important;background:#eee url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/shortcodes/static/css/../images/framework-icon-button.png) no-repeat scroll 0 center;background-image:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/shortcodes/static/css/../images/framework-icon-button.png),-ms-linear-gradient(bottom,#e3e3e3,#fff);background-image:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/shortcodes/static/css/../images/framework-icon-button.png),-moz-linear-gradient(bottom,#e3e3e3,#fff);background-image:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/shortcodes/static/css/../images/framework-icon-button.png),-o-linear-gradient(bottom,#e3e3e3,#fff);background-image:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/shortcodes/static/css/../images/framework-icon-button.png),-webkit-linear-gradient(bottom,#e3e3e3,#fff);background-image:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/shortcodes/static/css/../images/framework-icon-button.png),linear-gradient(bottom,#e3e3e3,#fff)}#qt_content_tf_qtag_add_shortcode:hover{background:#DDD url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/shortcodes/static/css/../images/framework-icon-button.png) no-repeat scroll 0 center !important}.tf_shc_addable_add,.tf_shc_addable_remove{cursor:pointer}.tf_shortcode_option{width:420px}
/* end of /wp-content/themes/metrovibes-parent/framework/extensions/shortcodes/static/css/shortcodes.css */
.lb-v-dummy{width:100%;display:block;height:1px}.lb-h-dummy{height:100%;display:block;width:1px}.lb-clear{clear:both}.lb-wrap{z-index:0;overflow:auto;position:relative}.lb-v-scrollbar{z-index:1;position:absolute;right:2px;top:2px;width:7px;height:100%;background:#cfcfcf;opacity:0.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px}.lb-h-scrollbar{z-index:1;position:absolute;bottom:2px;left:2px;width:100%;height:7px;background:#cfcfcf;opacity:0.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px}.lb-v-scrollbar-slider{position:absolute;width:7px;height:50px;left:0;top:0;background:#000;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px}.lb-h-scrollbar-slider{position:absolute;height:7px;width:50px;left:0;top:0;background:#000;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px}
/* end of /wp-content/themes/metrovibes-parent/framework/static/css/lionbars.css */
