#toplevel_page_tf_contact_forms_list .wp-menu-image a
img{display:none}#toplevel_page_tf_contact_forms_list .wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/contact-forms.png") no-repeat scroll 5px -16px transparent!important;height:16px !important;margin-top:8px !important;margin-left:2px}#menu-posts-testimonials  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/testimonials.png") no-repeat scroll 5px -16px transparent!important;height:16px;margin-top:6px !important;margin-left:2px}#toplevel_page_tf_contact_forms_list:hover  div.wp-menu-image,
#toplevel_page_tf_contact_forms_list.wp-has-current-submenu  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/contact-forms.png") no-repeat scroll 5px 0 transparent!important;height:16px}#menu-posts-testimonials:hover  div.wp-menu-image,
#menu-posts-testimonials.wp-has-current-submenu  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/testimonials.png") no-repeat scroll 5px 0 transparent!important;height:16px}#toplevel_page_tf_slider_list  div.wp-menu-image a
img{display:none}#toplevel_page_tf_slider_list  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/sliders.png") no-repeat scroll 5px -16px transparent!important;height:16px;margin-top:5px !important;margin-left:2px}#toplevel_page_tf_slider_list:hover  div.wp-menu-image,
#toplevel_page_tf_slider_list.wp-has-current-submenu  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/sliders.png") no-repeat scroll 5px 0 transparent!important;height:16px}#toplevel_page_tf_reservations_list .wp-menu-image a
img{display:none}#toplevel_page_tf_reservations_list .wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/reservations_menu_icon.png") no-repeat scroll 5px -16px transparent!important;height:16px !important;margin-top:8px !important;margin-left:2px}#toplevel_page_tf_reservations_list:hover  div.wp-menu-image,
#toplevel_page_tf_reservations_list.wp-has-current-submenu  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/reservations_menu_icon.png") no-repeat scroll 5px 0 transparent!important;height:16px}#menu-posts-portfolio  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/portfolio.png") no-repeat scroll 5px -16px transparent!important;height:16px !important;margin-top:4px !important;margin-left:2px}#menu-posts-portfolio:hover  div.wp-menu-image,
#menu-posts-portfolio.wp-has-current-submenu  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/portfolio.png") no-repeat scroll 5px 0 transparent!important;height:16px}#menu-posts-service  div.wp-menu-image a
img{display:none}#menu-posts-service  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/services.png") no-repeat scroll 5px 0 transparent!important;height:16px;margin-top:3px !important;margin-left:2px}#menu-posts-service:hover  div.wp-menu-image,
#menu-posts-service.wp-has-current-submenu  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/services.png") no-repeat scroll 5px -16px transparent!important;height:16px}#menu-posts-members  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/members.png") no-repeat scroll 5px -16px transparent!important;height:16px !important;margin-top:4px !important;margin-left:2px}#menu-posts-members:hover  div.wp-menu-image,
#menu-posts-members.wp-has-current-submenu  div.wp-menu-image{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/css/../images/icons/members.png") no-repeat scroll 5px 0 transparent!important;height:16px}#toplevel_page_tf_contact_forms_list .wp-menu-image
img{display:none}#toplevel_page_tf_reservations_list .wp-menu-image
img{display:none}#toplevel_page_tf_contact_forms_list div.wp-menu-image  img,#toplevel_page_tf_slider_list  div.wp-menu-image
img{display:none}.folded #adminmenu a.menu-top{height:0px}.folded #adminmenu a.menu-top{padding:0px
!important}.folded #menu-posts-service div.wp-menu-image{margin-top:6px !important}.folded #menu-posts-members div.wp-menu-image{margin-top:8px !important}
/* end of /wp-content/themes/metrovibes-parent/css/custom_admin.css */
#tfuse_newsletter_total_emails{display:none}.newsletter_service_logo{max-width:580px;padding:10px
!important;vertical-align:middle}.newsletter_service_logo
div{margin:54px
0 0 160px}.newsletter_service_logo
img{float:left}.newsletter_apikey_holder{display:none}
/* end of /wp-content/themes/metrovibes-parent/framework/extensions/newsletter/static/css/newsletter.css */
.tf_shortcode_element{float:left;width:86px;height:86px;margin:0
20px 50px 0;background:url('http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/shortcodes/static/css/../images/box_border.png') no-repeat;cursor:pointer;text-align:center}.tf_shortcode_element:hover{background-position:0 -86px}.tf_shortcode_element
h3{padding:0;margin:6px
0 0 0;font-size:15px;width:86px;overflow:hidden}.tf_shortcode_element
.description{display:none}.tf_shc_category_filter{position:absolute;left:20px}.tf_shc_name_filter{position:absolute;left:260px}.tf_shortcode_element
.shc_icon{margin:4px}#tf_shortcode_controls{height:30px;margin:-4px -15px;padding:10px
6px;background:#e5e5e5;position:relative}.tf_ctrl_button{position:absolute;top:14px}#tf_shortcode_back{left:20px}#tf_shortcode_insert{right:20px}#tf_shortcode_controls
#tf_shortcode_control_buttons{display:none}#tf_shortcode_list{margin-top:30px;overflow:auto}#tf_shortcode_options{display:none;margin-top:4px;overflow:auto}#tfuse_fields.tfuse_shortcode_page,.tfuse_fields.tfuse_shortcode_page{margin-top:2px}#tfuse_fields.tfuse_shortcode_page .titledesc, .tfuse_fields.tfuse_shortcode_page
.titledesc{width:70px;margin-top:4px;text-align:right}#tfuse_fields.tfuse_shortcode_page .option-inner, .tfuse_fields.tfuse_shortcode_page .option-inner{padding:10px
10px}#tfuse_fields.tfuse_shortcode_page .desc, .tfuse_fields.tfuse_shortcode_page
.desc{margin:4px
0 0 4px;width:266px}.tf_shortcode_preview_div{position:relative;height:238px;padding:1px
1px 1px 1px}.tf_shortcode_preview_container{float:right;width:238px;margin:0
0 0 4px}#tf_shortcode_preview_iframe{width:100%;height:100%;top:0;right:0;position:absolute;border:1px
solid #ccc;z-index:999}.tf_shortcode_options_container{margin:0
246px 0 0}.tf_shortcode_element_header{border-bottom:1px solid #E6E6E6;padding:10px
0;margin:0
0 10px 0;line-height:24px;height:40px}.tf_shortcode_element_header
h2{margin:0}.tf_shortcode_element_header
.description{color:#555;font-size:12px;font-style:normal}#qt_content_tf_qtag_add_shortcode{padding-left:22px !important;background:#eee url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/shortcodes/static/css/../images/framework-icon-button.png) no-repeat scroll 0 center;background-image:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/shortcodes/static/css/../images/framework-icon-button.png),-ms-linear-gradient(bottom,#e3e3e3,#fff);background-image:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/shortcodes/static/css/../images/framework-icon-button.png),-moz-linear-gradient(bottom,#e3e3e3,#fff);background-image:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/shortcodes/static/css/../images/framework-icon-button.png),-o-linear-gradient(bottom,#e3e3e3,#fff);background-image:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/shortcodes/static/css/../images/framework-icon-button.png),-webkit-linear-gradient(bottom,#e3e3e3,#fff);background-image:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/shortcodes/static/css/../images/framework-icon-button.png),linear-gradient(bottom,#e3e3e3,#fff)}#qt_content_tf_qtag_add_shortcode:hover{background:#DDD url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/shortcodes/static/css/../images/framework-icon-button.png) no-repeat scroll 0 center !important}.tf_shc_addable_add,.tf_shc_addable_remove{cursor:pointer}.tf_shortcode_option{width:420px}
/* end of /wp-content/themes/metrovibes-parent/framework/extensions/shortcodes/static/css/shortcodes.css */
.lb-v-dummy{width:100%;display:block;height:1px}.lb-h-dummy{height:100%;display:block;width:1px}.lb-clear{clear:both}.lb-wrap{z-index:0;overflow:auto;position:relative}.lb-v-scrollbar{z-index:1;position:absolute;right:2px;top:2px;width:7px;height:100%;background:#cfcfcf;opacity:0.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px}.lb-h-scrollbar{z-index:1;position:absolute;bottom:2px;left:2px;width:100%;height:7px;background:#cfcfcf;opacity:0.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px}.lb-v-scrollbar-slider{position:absolute;width:7px;height:50px;left:0;top:0;background:#000;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px}.lb-h-scrollbar-slider{position:absolute;height:7px;width:50px;left:0;top:0;background:#000;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px}
/* end of /wp-content/themes/metrovibes-parent/framework/static/css/lionbars.css */
.sidebar-name-delete{float:right}#sidebar-masks{display:none}#add_new_sidebar .sidebar-name{}#add_new_sidebar input[type=text]{width:223px;margin-bottom:4px}.input_legend{padding:4px
4px 10px 4px;margin-left:5px}#add_new_sidebar_wrapper{padding:4px}#add_new_sidebar_wrapper
*{vertical-align:top}.widget-holder-sidebar-new{border-width:0 1px 1px;border-color:#DFDFDF;border-style:solid}.sidebar_delete_button{float:right;margin-top:8px;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/sidebars/static/css/../images/delete.png) no-repeat;width:17px;height:17px}.sidebar_box{display:none}.sidebar_placeholder{width:250px;background:#EFEFEF;border:1px
solid #CCC;min-height:40px;padding:20px
0;text-align:center;cursor:pointer;float:left;margin:0
10px 0 0}.sidebar_placeholder.active{border:3px
solid red}.add_to_placeholder{float:right;margin:8px
0 0 6px;display:none}.sidebar_placeholder_group{background:#FFF;border:1px
solid red;margin:4px
10px;padding:10px
8px;position:relative}.placeholder_name{display:inline-block;margin:-10px 0 10px 0}.sidebar_placeholder_actions{position:absolute;width:100%;height:100%;opacity:0.8;background:red;margin:0;padding:0;top:0;left:0;display:none}.explain_icons{float:right;width:440px;margin:10px
0;font-style:italic}.explain_icons
*{vertical-align:bottom}.sdb_ph_table{width:100%}.sdb_ph_table
th{text-align:left;padding:10px
14px;border-bottom:1px solid #E7E7E7}.sdb_ph_table tr
td{padding:10px
14px;border-bottom:1px solid #E7E7E7;margin:0;vertical-align:middle;position:relative}.sidebar_settings_delete{position:absolute;right:20px;cursor:pointer;display:none}.sdb_ph_table
.first_th{width:150px}#sidebar_manager_container{display:none}.multi_options{display:none}#sidebars_choose_subtype{display:none}.sidebars_choose_subtype,.sidebars_choose_multi{display:none}.sidebars_placeholder_container{display:inline-block;margin-right:10px;cursor:pointer}.sidebars_placeholder_box{padding:0;margin:0;width:206px;display:block}.sidebars_placeholder_box
li{margin:0
0 4px 0;width:198px;height:26px;padding:8px
0 0 8px;font-weight:700;color:#fff;overflow:hidden;position:relative;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/sidebars/static/css/../images/sdb_li_bg.png) no-repeat}.sidebars_placeholder_box li
.delete{position:absolute;top:8px;right:6px;width:17px;height:17px;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/sidebars/static/css/../images/delete.png) no-repeat}.sidebars_placeholder_top{width:234px;height:14px}.sidebars_placeholder_contents{width:206px;padding:2px
14px;min-height:200px}.sidebars_placeholder_bottom{width:234px;height:14px}.sidebars_placeholder_top.sdb_blue{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/sidebars/static/css/../images/normal_blue.png) no-repeat}.sidebars_placeholder_contents.sdb_blue{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/sidebars/static/css/../images/normal_blue_middle.png) repeat-y}.sidebars_placeholder_bottom.sdb_blue{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/sidebars/static/css/../images/normal_blue.png) no-repeat 0 -14px}.selected
.sidebars_placeholder_top.sdb_blue{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/sidebars/static/css/../images/edit_blue.png) no-repeat}.selected
.sidebars_placeholder_contents.sdb_blue{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/sidebars/static/css/../images/edit_blue_middle.png) repeat-y}.selected
.sidebars_placeholder_bottom.sdb_blue{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/sidebars/static/css/../images/edit_blue.png) no-repeat 0 -14px}.sidebars_placeholder_top.sdb_yellow{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/sidebars/static/css/../images/normal_yellow.png) no-repeat}.sidebars_placeholder_contents.sdb_yellow{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/sidebars/static/css/../images/normal_yellow_middle.png) repeat-y}.sidebars_placeholder_bottom.sdb_yellow{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/sidebars/static/css/../images/normal_yellow.png) no-repeat 0 -14px}.selected
.sidebars_placeholder_top.sdb_yellow{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/sidebars/static/css/../images/edit_yellow.png) no-repeat}.selected
.sidebars_placeholder_contents.sdb_yellow{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/sidebars/static/css/../images/edit_yellow_middle.png) repeat-y}.selected
.sidebars_placeholder_bottom.sdb_yellow{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/sidebars/static/css/../images/edit_yellow.png) no-repeat 0 -14px}.sidebars_placeholder_empty_clicked{display:none}.padd-left{padding-left:60px !important;position:relative}.corner_sdb{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/extensions/sidebars/static/css/../images/corner.png) no-repeat;width:12px;height:12px;position:absolute;left:30px}.auto_select{font-weight:700}#sidebars_cancel_changes{display:none}.sdb_box_name{width:170px;display:inline-block;white-space:nowrap;overflow:hidden}.sdb_null_class{outline:#71992C solid}#widgets-left
.sidebar_main_box{margin-top:10px !important}.sidebar_main_box
.tf_meta_tabs{max-width:none !important}.sidebar_main_box .tf_meta_tabs .ui-tabs-nav{padding:10px
6px 0 6px !important}.sidebar_main_box
.tf_meta_tabs{padding:0
0 10px 0}.sidebar_main_box
#sidebar_action_buttons{margin:10px
10px 12px 10px}#tfusetab-sidebar_new_settings,#tfusetab-sidebar_manage_settings{margin:0
6px}
/* end of /wp-content/themes/metrovibes-parent/framework/extensions/sidebars/static/css/sidebar.css */
@font-face{font-family:'VegurExtraLight';src:url('http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/vegur/vegur-el_0500-webfont.eot');src:url('http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/vegur/vegur-el_0500-webfont.eot?iefix') format('eot'), url('http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/vegur/vegur-el_0500-webfont.woff') format('woff'), url('http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/vegur/vegur-el_0500-webfont.ttf') format('truetype'), url('http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/vegur/vegur-el_0500-webfont.svg#webfontTyOtPvBM') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'VegurRegular';src:url('http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/vegur/vegur-r_0500-webfont.eot');src:url('http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/vegur/vegur-r_0500-webfont.eot?iefix') format('eot'), url('http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/vegur/vegur-r_0500-webfont.woff') format('woff'), url('http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/vegur/vegur-r_0500-webfont.ttf') format('truetype'), url('http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/vegur/vegur-r_0500-webfont.svg#webfontbzDmieGh') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'VegurBold';src:url('http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/vegur/vegur-b_0500-webfont.eot');src:url('http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/vegur/vegur-b_0500-webfont.eot?iefix') format('eot'), url('http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/vegur/vegur-b_0500-webfont.woff') format('woff'), url('http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/vegur/vegur-b_0500-webfont.ttf') format('truetype'), url('http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/vegur/vegur-b_0500-webfont.svg#webfontz8oN8b5a') format('svg');font-weight:normal;font-style:normal}#tfusetab-tf_rf_dates_settings .postbox
.inside{margin-left:10px}#tfuse_fields,.tfuse_fields{padding-top:0!important;margin-top:0!important}#tfuse_fields #normal-sortables, #tfuse_fields #advanced-sortables, #tfuse_fields .ui-tabs,
.tfuse_fields #normal-sortables, .tfuse_fields #advanced-sortables, .tfuse_fields .ui-tabs,
#post-body #normal-sortables, #post-body #advanced-sortables{min-width:717px}#tfuse_fields .tfuse_header, .tfuse_fields
.tfuse_header{min-width:717px;border:1px
solid}#tfuse_fields .formcontainer, .tfuse_fields .formcontainer, #post-body
.formcontainer{min-width:105px}#tfuse_fields .option-multi .formcontainer, .tfuse_fields .option-multi .formcontainer, #post-body .option-multi .formcontainer,
#side-info-column .option-multi .formcontainer, #tfuse_fields div.option-boxes span.selected_widget, .tfuse_fields div.option-boxes
span.selected_widget{width:280px}#tfuse_fields .titledesc, .tfuse_fields .titledesc, #post-body
.titledesc{width:165px;margin-right:20px}#tfuse_fields .formcontainer input, #tfuse_fields .formcontainer select, #tfuse_fields .formcontainer textarea,
.tfuse_fields .formcontainer input, .tfuse_fields .formcontainer select, .tfuse_fields .formcontainer textarea,
#post-body .formcontainer input, #post-body .formcontainer select, #post-body .formcontainer
textarea{width:275px;max-width:275px}#tfuse_fields .option-textarray .formcontainer input, .tfuse_fields .option-textarray .formcontainer input, #post-body .option-textarray .formcontainer
input{width:130px}#tfuse_fields .option-hidden, .tfuse_fields .option-hidden, #post-body .option-hidden, #side-info-column .option-hidden{display:none !important}#side-info-column .option-textarray .formcontainer
input{width:116px}#side-info-column .formcontainer input, #side-info-column .formcontainer select, #side-info-column .formcontainer textarea,
#side-sortables .formcontainer input,#side-sortables .formcontainer select, #side-sortables .formcontainer
textarea{width:250px}#tfuse_fields .formcontainer input[type="checkbox"], #tfuse_fields .formcontainer input[type="radio"],
.tfuse_fields .formcontainer input[type="checkbox"], .tfuse_fields .formcontainer input[type="radio"],
#post-body .formcontainer input[type="checkbox"], #post-body .formcontainer input[type="radio"],
#side-info-column .formcontainer input[type="checkbox"], #side-info-column .formcontainer input[type="radio"],
.tfuse-tax-form-field input[type="checkbox"], .tfuse-tax-form-field input[type="radio"]{width:20px}#tfuse_fields .desc, .tfuse_fields .desc, #post-body
.desc{margin-left:500px}.option
.desc{margin-right:85px}#tf_sidebar_extra_settings .option
.desc{margin-right:0}#tfuse_fields .option-checkbox .formcontainer, .tfuse_fields .option-checkbox .formcontainer, #post-body .option-checkbox
.formcontainer{width:25px}.tfuse_categorydiv ul.categorychecklist
ul{margin-left:18px}.ui-widget-content
a{color:#8e490c}.ui-widget-content a:hover{color:#d54e21}.form-field
select{width:275px}.form-field.tfuse-tax-form-field.tf_textarray
input{width:130px}.form-field.tfuse-tax-form-field.tf_textarray
span.description{margin-left:10px}.form-field input, .form-field textarea,
.tfuse-tax-form-field table.tfuse-tax-upload-form{width:97%}.tfuse-tax-form-field input.upload-input-text{width:100%}.tfuse-tax-form-field table.tfuse-tax-upload-form
td{padding:0;margin:0}.loading_thumb,.thumb_over{display:none}div.uploaded_thumb
img{padding:5px}div.uploaded_thumb
img.loading_thumb_ico{padding:20px}.upload_button_div
.button{padding:4px
14px}.option-multi_upload .upload_button_div .button,
.option-multi_upload2 .multi_upload2_button_div
.button{margin-left:14px}.option-upload .upload_button_div
.button{margin-top:10px}.upload_button_div
.image_reset_button{margin-left:10px}.option-multi_upload2
.multi_upload2_clear_restore{margin:0
0 0 15px;text-decoration:none}#tfuse_header{margin-right:147px;min-width:570px;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/tfuse_header_bg.png) no-repeat}#tfuse_header_theme_info{padding:9px;height:69px;float:left}#tfuse_framework_version{float:right;height:69px;width:130px;margin-right:-154px;padding:12px;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/tfuse_header_bg.png) no-repeat -2413px 0 transparent}#tfuse_framework_version
span{color:#888}#tfuse_header_icon_bg{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/header_icon_bg.png) no-repeat;height:69px;width:69px;float:left}#tfuse_header_icon_bg
.header_icon{border:none;position:relative;top:10px;left:9px}#tfuse_header_text{float:left;megin:0;padding:0}#tfuse_header_text
img{border:none;float:left;margin-top:8px}#tfuse_header_text
h3{font-family:'VegurRegular',Arial,sans-serif;font-weight:normal;font-size:20px;text-shadow:0 1px 0 #FFF;line-height:20px;margin:9px
0 0 13px;float:left;color:#333;padding:0}#tfuse_header_text
span{color:#464646}#tfuse_header_theme_links{font-family:'VegurRegular',Arial,sans-serif;font-weight:normal;font-size:13px;text-shadow:0 1px 0 #FFF;margin-left:13px;margin-top:5px;float:left}#tfuse_header_theme_links
a{text-decoration:underline;color:#915b1c}#tfuse_header_theme_links a:hover{color:#d54e21}#newspromo_iframe{display:none}.tfuse_support_options
a{float:left}.tfuse_support_options
.forum{display:block;width:216px;height:190px;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/tfuse_support_options.png) no-repeat;background-position:0 0;margin:0
10px 0 0}.tfuse_support_options .forum:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/tfuse_support_options.png) no-repeat;background-position:0 -190px}.tfuse_support_options
.faq{display:block;width:216px;height:190px;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/tfuse_support_options.png) no-repeat;background-position:-225px 0;margin:0
10px 0 0}.tfuse_support_options .faq:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/tfuse_support_options.png) no-repeat;background-position:-225px -190px}.tfuse_support_options
.docs{display:block;width:216px;height:190px;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/tfuse_support_options.png) no-repeat;background-position:-452px 0}.tfuse_support_options .docs:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/tfuse_support_options.png) no-repeat;background-position:-452px -190px}#tfuse_fields .tf_meta_tabs, .tfuse_fields
.tf_meta_tabs{display:none}#tfuse_fields .ui-tabs, #post-body .ui-tabs,
#tfuse_fields .ui-tabs-nav, #post-body .ui-tabs-nav,
#tfuse_fields .ui-tabs-panel, #post-body .ui-tabs-panel,
.tfuse_fields .ui-tabs, #post-body .ui-tabs,
.tfuse_fields .ui-tabs-nav, #post-body .ui-tabs-nav,
.tfuse_fields .ui-tabs-panel, #post-body .ui-tabs-panel{padding:0}#tfuse_fields .ui-tabs-panel, .tfuse_fields .ui-tabs-panel{padding-top:20px}#post-body .ui-tabs-panel{padding-top:10px}#tfuse_fields .ui-tabs-nav, .tfuse_fields .ui-tabs-nav, #post-body .ui-tabs-nav{border-bottom:1px solid #CCC !important;border-radius:0}#tfuse_fields .ui-widget-header, .tfuse_fields .ui-widget-header, #post-body .ui-widget-header,
#tfuse_fields .ui-widget-content, .tfuse_fields .ui-widget-content, #post-body .ui-widget-content{background:none;border:none}#tfuse_fields .ui-tabs .ui-tabs-nav li, .tfuse_fields .ui-tabs .ui-tabs-nav li, #post-body .ui-tabs .ui-tabs-nav
li{margin:0
6px 0px 0}#tfuse_fields .ui-state-default, #tfuse_fields .ui-widget-content .ui-state-default,
#tfuse_fields .ui-widget-header .ui-state-default,
.tfuse_fields .ui-state-default, .tfuse_fields .ui-widget-content .ui-state-default,
.tfuse_fields .ui-widget-header .ui-state-default{background:#fff;border-color:#ccc}#tfuse_fields .ui-state-default a, #tfuse_fields .ui-corner-top a,
.tfuse_fields .ui-state-default a, .tfuse_fields .ui-corner-top a,
#post-body .ui-state-default a, #post-body .ui-corner-top
a{font:italic 18px/34px Georgia,"Times New Roman","Bitstream Charter",Times,serif;color:#C1C1C1;display:inline-block;padding:2px
14px 2px !important;text-decoration:none;text-shadow:0 1px 0 #FFF}#tfuse_fields .ui-tabs-selected a, #tfuse_fields .ui-state-active a,
.tfuse_fields .ui-tabs-selected a, .tfuse_fields .ui-state-active a,
#post-body .ui-tabs-selected a, #post-body .ui-state-active
a{border-width:1px;color:#464646}#tfuse_fields .ui-tabs-nav a:hover, .tfuse_fields .ui-tabs-nav a:hover, #post-body .ui-tabs-nav a:hover{color:#D54E21}#post-body .ui-state-default, #post-body .ui-state-hover{background:none;background-color:#f8f8f8}#post-body div.inside ul.ui-tabs-nav{padding-left:10px}#tfuse_fields .titledesc, .tfuse_fields .titledesc, #post-body .titledesc, #side-info-column
.titledesc{font-size:11px;font-weight:bold;display:block;line-height:1.2em;float:left;font-family:Arial,sans-serif}#side-info-column .titledesc, #side-info-column .desc, #side-sortables .titledesc, #side-sortables
.desc{margin:5px
3px;float:left}#tfuse_fields .desc, .tfuse_fields .desc, #post-body .desc, #side-info-column
.desc{color:#999;font-size:11px}.option-inner{font-size:12px;line-height:1.2em;font-family:sans-serif}#tfuse_fields div.option-boxes span.selected_widget, .tfuse_fields div.option-boxes
span.selected_widget{padding-top:5px}#tfuse_fields .option-radio .option-inner,
.tfuse_fields .option-radio .option-inner,
#post-body .option-radio .option-inner,
#side-info-column .option-radio .option-inner{line-height:1.5em}#tfuse_fields .formcontainer, .tfuse_fields .formcontainer, #post-body .formcontainer, #side-info-column .formcontainer, #side-sortables
.formcontainer{float:left}.option-inner .formcontainer input, .option-inner  .formcontainer select, .option-inner .formcontainer
textarea{background-color:#f1f1f1;border:1px
solid;border-color:#ccc #e6e6e6 #e6e6e6 #ccc;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;font-size:12px}#tfuse_fields input[type="checkbox"], #tfuse_fields input[type="radio"],
.tfuse_fields input[type="checkbox"], .tfuse_fields input[type="radio"],
#post-body input[type="checkbox"], #post-body input[type="radio"],
#side-info-column input[type="checkbox"], #side-info-column input[type="radio"],
#edittag input[type="checkbox"], #edittag input[type="radio"]{background:none;border:none}#tfuse_fields .option-inner, .tfuse_fields .option-inner{padding:10px
30px}#post-body .option-inner{padding:10px
15px}#side-info-column .option-inner,#side-sortables   .option-inner{padding:5px
0}#tfuse_fields .uploaded_thumb, .tfuse_fields .uploaded_thumb, #post-body .uploaded_thumb, .tfuse-tax-form-field
.uploaded_thumb{float:right;position:relative;width:55px;height:55px;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/thumb_images_bg.png) no-repeat}.thumb_over,.tfuse-meta-radio-img-selected{width:57px;height:57px;margin-top:-3px;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/thumb_images_bg.png) no-repeat 0 -55px;position:absolute}.tfuse-meta-radio-img-selected{margin-top:-4px;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/thumb_images_bg.png) no-repeat -1px -55px}.tfuse-meta-radio-img-box{height:60px;width:60px;float:left}#side-info-column .tfuse-meta-radio-img-box{width:63px}.tfuse-meta-radio-img-label{display:none}img.tfuse-meta-radio-img-img{cursor:pointer}.single_checkbox{display:none}.tf_checkbox_switch{height:28px;width:108px;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/tf_checkbox_switch.png) no-repeat 0 -31px;display:inline-block;cursor:pointer}#side-info-column div.option-checkbox label.titledesc, #side-sortables div.option-checkbox
label.titledesc{width:144px}.tfuse-tax-form-field
.tf_checkbox_switch{margin:-5px 10px -5px 0}.tf_checkbox_switch.on{background-position:0 0}span.tf_checkbox_switch{margin:0
-1px}.tfuse-tax-form-field
span.tf_checkbox_switch{margin:0
10px 0 0px}#side-info-column
span.tf_checkbox_switch{margin:0
4px}div.tfclear{clear:both}div.tfclear.divider{border-top:1px solid #e3e3e3;border-bottom:1px solid #FFF}div.tfuse_spacer{display:block;height:5px}.tf_meta_tabs .postbox .inside,
#tfuse_framework_options_metabox .inside,
.tfuse-postbox
.inside{padding:0}.tfuse-save-popup{position:absolute;-moz-border-radius:5px;border-radius:5px;background:rgba(0,0,0,0.6);color:#e4e4e4;font-size:18px;font-family:Arial;font-style:italic;text-align:center;display:none;z-index:10}.tfuse-save-save{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/saved.png) 20px 51% no-repeat;padding:26px
30px 24px 70px}.tfuse-save-reset{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/warning.png) 20px 51% no-repeat;padding:26px
30px 24px 70px}.tfuse-save-loading{padding:26px
5px}#tfuse_admin_options_form p.submit, #tfuse_admin_options_form_reset p.submit, .tfuse_fields form
p.submit{padding:0
0 15px 0}.submit-footer,#tfuse_admin_options_form_reset{float:left}#tfuse_admin_options_form_reset{padding-left:20px}#tfuse_submit_admin_form_button,#tfuse_reset_admin_form_button,.tfuse_submit_admin_form_button,.tfuse_reset_admin_form_button{line-height:15px !important;padding:3px
10px !important}.popup_thumb{display:none}.tfuse_input_help_text{font-style:italic;color:#808080}.tfuse_ac_loading{background:url('http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/loading_16x16.gif') white right center no-repeat !important}.tfuse_ac_results{max-height:300px;overflow-y:auto;overflow-x:hidden;padding-right:20px}.tfuse_ac_results{padding:0;margin:0;list-style:none;position:absolute;z-index:10000;display:none;border-width:1px;border-style:solid;background-color:#fff;border-color:#808080}.tfuse_ac_results
li{color:#101010;padding:2px
5px;white-space:nowrap;text-align:left}.tfuse_ac_results
a{text-decoration:none}.tfuse_ac_over{cursor:pointer;background-color:#f0f0b8}.tfuse_ac_match{color:#d54e21;text-decoration:underline}div.multiple_box_selected_titles.tagchecklist
span{white-space:normal;display:block}.del_button{display:inline-block;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/xit.gif) no-repeat;background-position:0 0;height:10px;width:10px}.del_button:hover{background-position:-10px 0}.install_demo_container{width:750px}.metabox-holder .install
h3{margin:8px
0 20px 40px;padding:0;text-shadow:0 1px 0 #FFF}.install
p{color:#888;font-family:'VegurRegular',Arial,sans-serif;font-size:13px;font-style:normal;margin:0px;padding:0px;line-height:20px}.install p
span{color:#915B1C;font-family:'VegurBold',Arial,sans-serif;font-size:12px;font-style:normal;font-weight:normal}.install_loading{display:none;width:750px}.demoinstall,.skipinstall{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/install_bg.png) no-repeat;height:235px;width:320px;padding:25px;float:left}.skipinstall{margin-left:10px}.tfuse_install_icon{float:left}.tfuse_install_submit{position:absolute;margin-top:210px}#tfuse_fields .tagchecklist span, .tfuse_fields .tagchecklist
span{float:none !important}#dashboard-widgets-wrap #dashboard-widgets.metabox-holder{margin-bottom:7px}.tf_load_meta_tabs{background:url("http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/loading_16x16.gif") no-repeat;margin-left:47%}.ui-widget-header .ui-dialog-titlebar-close{margin-top:0px}.ui-dialog-titlebar .ui-dialog-titlebar-close{margin-top:-10px}.pp_description{display:none !important}#ui-datepicker-div{display:none}.tf-optigen-input-maps-div{height:275px;width:275px;background:#808080;margin:3px
auto 0}.tf-optigen-input-maps-div-big{width:480px;height:480px}.option-images .option-inner
.formcontainer{max-width:277px}.tf-interface-option
.formcontainer{position:relative}.tf-interface-option .tf-interface-hidden-children{color:transparent;position:absolute;top:5px;right:-24px;display:block;height:16px;width:16px;background:url('http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/hidden_children-showhide.png') scroll no-repeat 0 0}.tf-interface-option .tf-interface-hidden-children.children-hidden{}.widget{position:relative}.tf-gray{color:#C1C1C1}table.tfuse-optigen-table{background:#FFF;background:transparent}table.tfuse-optigen-table,
table.tfuse-optigen-table thead th,
table.tfuse-optigen-table thead td,
table.tfuse-optigen-table tfoot
td{border:none;background:#FFF;background:transparent}table.tfuse-optigen-table tbody td,
table.tfuse-optigen-table thead
td{border:none;padding:5px}table.tfuse-optigen-table thead, table.tfuse-optigen-table
tfoot{background:none !important}table.tfuse-optigen-table
tfoot{display:none}table.tfuse-optigen-table tbody .tf-opt-table-add-row{padding:2px}table.tfuse-optigen-table tbody .tf-opt-table-add-row
span.padd{padding:0
10px 0 0}
/* end of /wp-content/themes/metrovibes-parent/framework/static/css/style.css */
#side-info-column div.option-checkbox label.titledesc, #side-sortables div.option-checkbox
label.titledesc{width:140px}.single_checkbox.tfuse_option{display:none}.tf_meta_tabs .postbox .inside,
#tfuse_framework_options_metabox .inside,
.tfuse-postbox
.inside{padding:0
12px 12px}#tfuse_fields .ui-state-default, #tfuse_fields .ui-widget-content .ui-state-default,
#tfuse_fields .ui-widget-header .ui-state-default,
.tfuse_fields .ui-state-default, .tfuse_fields .ui-widget-content .ui-state-default,
.tfuse_fields .ui-widget-header .ui-state-default{background:none}#tfuse_fields .ui-tabs-selected, #tfuse_fields .ui-state-active, .tfuse_fields .ui-tabs-selected, .tfuse_fields .ui-state-active{border-width:0}#tfuse_fields .ui-tabs-selected a,
#tfuse_fields .ui-state-active a,
.tfuse_fields .ui-tabs-selected a,
.tfuse_fields .ui-state-active
a{border-width:1px;margin-bottom:-1px;border-top-left-radius:4px;border-top-right-radius:4px;outline:none}#post-body .ui-tabs-selected a,
#post-body .ui-state-active
a{outline:none}.ui-tabs .ui-tabs-nav li.ui-tabs-active{padding-bottom:1px}.ui-state-default a, .ui-corner-top
a{border-color:#CCC #CCC #F2F1EF !important;border-style:solid;border-width:0}#tfuse_fields .ui-tabs-nav a, .tfuse_fields .ui-tabs-nav
a{-webkit-transition-property:none;-moz-transition-property:none;transition-property:none;-webkit-transition-duration:none;-moz-transition-duration:none;transition-duration:0}.upload_button_div
.button{padding:0px
14px}.option-inner .desc a,
#tfuse_header_theme_links
a{color:#0074a2}.option-inner .desc a:hover, .option-inner .desc a:active,
#tfuse_header_theme_links a:hover{color:#2ea2cc}#tfuse_fields .ui-tabs-nav a:hover, .tfuse_fields .ui-tabs-nav a:hover, #post-body .ui-tabs-nav a:hover{color:#0074a2}#tfuse_framework_options_metabox h3.hndle,
#tfuse_framework_options_metabox
.handlediv{display:none}#post-body .ui-state-default, #post-body .ui-state-hover{background:none;background-color:#fff}#tfuse_fields .titledesc, .tfuse_fields .titledesc, #post-body .titledesc, #side-info-column
.titledesc{font-size:12px;font-family:Arial,sans-serif;font-weight:bold;line-height:16px;padding-top:4px}#tfuse_fields  div.tfclear.divider,
.tfuse_fields  div.tfclear.divider,div.tfclear.divider{margin-top:10px;margin-bottom:10px}#post-body .ui-state-active
a{border-width:0}#side-info-column
div.tfclear.divider{margin:8px
0}#tfuse_fields .desc, .tfuse_fields .desc, #post-body .desc, #side-info-column
.desc{font-size:11px;font-style:italic;line-height:14px;padding-top:5px}#post-body #side-sortables .option-inner{padding:6px
10px}.tf_meta_tabs .postbox .inside, #tfuse_framework_options_metabox .inside, .tfuse-postbox
.inside{padding:0}#tfuse_framework_options_metabox
.inside{margin-top:10px}#post-body #normal-sortables, #post-body #advanced-sortables{width:100%;min-width:0}#slider_frames{width:inherit;margin:0
10px 0px 0;padding:10px
10px 8px 0px}.menu-icon-generic div.wp-menu-image:before,
#menu-posts-portfolio div.wp-menu-image:before,
#menu-posts-service div.wp-menu-image:before,
#menu-posts-testimonials div.wp-menu-image:before,
#menu-posts-members div.wp-menu-image:before,
#menu-posts-vehicle div.wp-menu-image:before,
#menu-posts-faq div.wp-menu-image:before,
#menu-posts-event div.wp-menu-image:before,
#menu-posts-gallery div.wp-menu-image:before,
#menu-posts-resource div.wp-menu-image:before,
#menu-posts-staff div.wp-menu-image:before,
#menu-posts-announcement div.wp-menu-image:before,
#menu-posts-holiday div.wp-menu-image:before,
#menu-posts-work div.wp-menu-image:before,
#menu-posts-room div.wp-menu-image:before,
#menu-posts-testimonial div.wp-menu-image:before,
#menu-posts-activity div.wp-menu-image:before,
#menu-posts-promo div.wp-menu-image:before,
#menu-posts-album div.wp-menu-image:before,
#menu-posts-product div.wp-menu-image:before,
#menu-posts-date div.wp-menu-image:before,
#menu-posts-review div.wp-menu-image:before,
#menu-posts-feature div.wp-menu-image:before,
#menu-posts-services div.wp-menu-image:before,
#menu-posts-careers div.wp-menu-image:before,
#menu-posts-bridesmaids div.wp-menu-image:before,
#menu-posts-accommodation div.wp-menu-image:before,
#menu-posts-property div.wp-menu-image:before,
#menu-posts-cases div.wp-menu-image:before,
#menu-posts-sliders div.wp-menu-image:before,
#menu-posts-doctors div.wp-menu-image:before,
#menu-posts-rooms div.wp-menu-image:before{display:none}#toplevel_page_tf_contact_forms_list div.wp-menu-image,
#toplevel_page_tf_reservations_list div.wp-menu-image,
#toplevel_page_tf_slider_list div.wp-menu-image,
#menu-posts-testimonials div.wp-menu-image,
#menu-posts-rooms div.wp-menu-image,
#menu-posts-portfolio div.wp-menu-image,
#menu-posts-cases div.wp-menu-image,
#menu-posts-service div.wp-menu-image,
#menu-posts-members div.wp-menu-image,
#menu-posts-vehicle div.wp-menu-image,
#menu-posts-faq div.wp-menu-image,
#menu-posts-event div.wp-menu-image,
#menu-posts-gallery div.wp-menu-image,
#menu-posts-resource div.wp-menu-image,
#menu-posts-staff div.wp-menu-image,
#menu-posts-announcement div.wp-menu-image,
#menu-posts-holiday div.wp-menu-image,
#menu-posts-work div.wp-menu-image,
#menu-posts-room div.wp-menu-image,
#menu-posts-testimonial div.wp-menu-image,
#menu-posts-activity div.wp-menu-image,
#menu-posts-promo div.wp-menu-image,
#menu-posts-album div.wp-menu-image,
#menu-posts-product div.wp-menu-image,
#menu-posts-date div.wp-menu-image,
#menu-posts-review div.wp-menu-image,
#menu-posts-feature div.wp-menu-image,
#menu-posts-services div.wp-menu-image,
#menu-posts-careers div.wp-menu-image,
#menu-posts-bridesmaids div.wp-menu-image,
#menu-posts-accommodation div.wp-menu-image,
#menu-posts-property div.wp-menu-image,
#menu-posts-sliders div.wp-menu-image,
#menu-posts-doctors div.wp-menu-image{margin-left:5px;margin-top:9px !important;width:32px;height:16px !important}#menu-posts-holiday div.wp-menu-image, #menu-posts-holiday:hover div.wp-menu-image, #menu-posts-holiday.wp-has-current-submenu div.wp-menu-image{top:0}.add_to_placeholder,.sidebar_delete_button{margin:15px
35px 0 6px;position:relative}#save_changes_slide,#cancel_changes_slide{padding-top:4px;padding-bottom:4px}#sidebars_cancel_changes{padding-top:4px;padding-bottom:6px}#cf_save_form_button,#new_form_reset,#tf_cf_add_new,#tf_cf_prev_button,#rf_save_form_button,#tf_rf_add_new,#tf_rf_prev_button,#rf_save_messages_button,#messages_reset,#rf_save_dates_button,#rf_exclude_new_interval,#cf_save_messages_button,#tf_cf_save_gen_options,#gen_options_reset,#tf_rf_save_gen_options,#save_slider,#cancel_slider{padding:0
10px 1px 10px !important}#tf_cf_prev_button,#tf_rf_prev_button{margin-bottom:10px}#tfuse_fields .form_list_table input[type="checkbox"], #post-body input[type="checkbox"], #email-sending-options input[type="radio"],#tfuse_fields .slider_list_table input[type="checkbox"], #tfuse_fields .formcontainer input[type="checkbox"]{border:1px
solid #BBB;background:#FFF;color:#555;-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1)}#tfuse_fields #email-sending-options input[type="radio"]{width:16px}#media-upload
.menu_order_input{padding:0}#media-upload p.search-box{float:right;margin:0;position:relative;width:260px;height:26px}#media-upload .search-box input[name="s"]{float:left;margin:0
4px 0 0;width:150px;height:25px}#media-upload .tablenav .tablenav-pages{width:168px}.closed .widget-holder{display:none}.skipinstall input[name="skip_installation"]{color:#555;border-color:#CCC;background:#F7F7F7;-webkit-box-shadow:inset 0 1px 0 #FFF,0 1px 0 rgba(0, 0, 0, 0.08);box-shadow:inset 0 1px 0 #FFF,0 1px 0 rgba(0, 0, 0, 0.08);vertical-align:top;display:inline-block;text-decoration:none;font-size:13px;line-height:26px;height:28px;margin:0;padding:0
10px 1px;cursor:pointer;border-width:1px;border-style:solid;-webkit-border-radius:3px;-webkit-appearance:none;border-radius:3px;white-space:nowrap;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.skipinstall input[name="skip_installation"]:hover{border-color:#999}#post-body .submitbox input[type="radio"]{border:1px
solid #ccc}
/* end of /wp-content/themes/metrovibes-parent/framework/static/css/style-wp3.8.css */
@media only screen and (max-width: 320px){#post-body .formcontainer
select{max-width:250px}#post-body .option-textarray .formcontainer input,#tfuse_fields .option-textarray .formcontainer input, .tfuse_fields .option-textarray .formcontainer
input{width:115px}#tfuse_fields .desc, .tfuse_fields .desc, #post-body
.desc{max-width:250px}#tfuse_fields #tfusetab-slider_settings .titledesc, #tfusetab-slider_setup .titledesc, #tfusetab-slider_settings .formcontainer,#tfusetab-slider_setup
.formcontainer{float:none}#tfuse_fields #tfusetab-slider_settings .option .desc,#tfusetab-slider_setup .option
.desc{max-width:280px}#tfuse_fields #normal-sortables,#tfuse_fields .ui-tabs{min-width:285px;max-width:290px}#save_changes_slide,#cancel_changes_slide{padding-left:10px;padding-right:10px}.frame_box_buttons{margin-left:10px}#tfuse_admin_options_form_reset{padding-left:0}.tf_seek_sortable_list_container
.tf_seek_sortable_item{max-width:265px}.tf_seek_sortable_lists_container .tf_seek_sortable_list_right
.tf_seek_sortable_item{max-width:240px}.tf_seek_sortable_lists_container .tf_seek_sortable_list_left,.tf_seek_sortable_lists_container
.tf_seek_sortable_list_right{float:none;margin-left:0;margin-top:10px}.tf_seek_sortable_lists_container .tf_seek_sortable_list_right
.tf_seek_sortable_list_container{min-width:265px;max-width:265px}.colorpicker{left:0 !important}.tf_tfuse_cf_label .rf_type,.tf_tfuse_cf_label
.cf_type{max-width:15px;margin-left:10px}.tf_tfuse_cf_label .rf_label,.tf_tfuse_cf_label
.cf_label{max-width:20px;margin-left:5px}.tf_tfuse_cf_label .rf_required,.tf_tfuse_cf_label
.cf_required{max-width:40px;margin-left:5px}.tf_tfuse_cf_label .rf_newline,.tf_tfuse_cf_label .rf_width,.tf_tfuse_cf_label .cf_newline,.tf_tfuse_cf_label
.cf_width{margin-left:10px;max-width:55px;margin-right:5px}.cf_input_label,.cf_input_width,.rf_input_label,.rf_input_width{margin-top:10px}#gen_options_reset{margin-left:0}.tf_rf_exclude_interval{max-width:225px}#tf_rf_input_required_1,#tf_rf_input_required_2{margin-top:17px}.widgets-holder-wrap
.widget{margin-left:0 !important}#menu-to-edit .menu-item{max-width:275px}.nav-menus-php .major-publishing-actions .publishing-action{margin-right:24px}.tf_custom_reservationform_dates_row
.tf_rf_delete_dates_row{right:-24px}.tablenav .actions
select{max-width:140px}#postbox-container-2{max-width:285px}.tf-interface-option .tf-interface-hidden-children{right:3px;top:9px}#tfuse_fields #tfusetab-sidebar_manage_settings{max-width:285px}#tfuse_fields #tf_sidebar_extra_settings .option
.desc{float:none;margin-left:0}#poststuff #post-body #normal-sortables{min-width:280px}#tfuse_fields .formcontainer input,#tfuse_fields .formcontainer select,#tfuse_fields .formcontainer textarea,.tfuse_fields .formcontainer input,.tfuse_fields .formcontainer select,.tfuse_fields .formcontainer textarea,#post-body .formcontainer input,#post-body .formcontainer select,#post-body .formcontainer
textarea{max-width:255px}.formcontainer .tf-optigen-input-maps-div{max-width:255px;max-height:250px}}@media only screen and (max-width: 480px){#tfuse_header_icon_bg,#tfuse_header_theme_links{display:none}#tfuse_header{margin-right:145px;min-width:145px}#tfuse_framework_version{background-position-x:-2420px}#tfuse_header_text{padding:6px
0}#tfuse_header_text
img{margin-top:45px;margin-left:-102px}#tfuse_header_theme_info{padding:0}.tf_meta_tabs .postbox .inside,#tfuse_framework_options_metabox .inside,.tfuse-postbox
.inside{padding:0}#tfuse_fields .option-inner,.tfuse_fields .option-inner{padding:6px}#tfuse_fields .formcontainer input,#tfuse_fields .formcontainer select,#tfuse_fields .formcontainer textarea,.tfuse_fields .formcontainer input,.tfuse_fields .formcontainer select,.tfuse_fields .formcontainer textarea,#post-body .formcontainer input,#post-body .formcontainer select,#post-body .formcontainer
textarea{width:265px}#tfuse_fields .uploaded_thumb,.tfuse_fields .uploaded_thumb,#post-body .uploaded_thumb,.tfuse-tax-form-field
.uploaded_thumb{display:none}#tfuse_fields .option-checkbox .titledesc, .tfuse_fields .option-checkbox .titledesc, #post-body .option-checkbox
.titledesc{width:160px;margin-right:5px}.upload_button_div .button,.upload_button_div .button:active{padding:6px
14px}#tfuse_fields .desc,.tfuse_fields .desc,#post-body
.desc{margin-left:0px;float:left;min-width:250px;margin-right:0;font-size:11px;font-family:sans-serif;-webkit-text-size-adjust:100%}#post-body .option-images .option-inner
.titledesc{float:none;margin-bottom:10px}.ui-tabs .ui-tabs-nav li.ui-tabs-active{padding-bottom:0}#post-body .option-inner
.formcontainer{max-width:100%}#save_slider,#cancel_slider,#tfuse_submit_admin_form_button,#tfuse_reset_admin_form_button,#cf_save_form_button,#new_form_reset,#tf_cf_add_new,#tf_cf_prev_button,#rf_save_form_button,#tf_rf_add_new,#tf_rf_prev_button,#rf_save_messages_button,#messages_reset,#rf_save_dates_button,#rf_exclude_new_interval,#cf_save_messages_button,#tf_cf_save_gen_options,#gen_options_reset,#tf_rf_save_gen_options,#save_slider,#cancel_slider{padding:10px
14px !important}#tfuse_fields #tfusetab-slider_settings .desc,#tfusetab-slider_setup
.desc{max-width:450px}#tfuse_fields #tfusetab-slider_settings .titledesc,#tfusetab-slider_setup
.titledesc{width:155px}#tfuse_admin_options_form .tf_meta_tabs, #tfuse_fields #tfuse_admin_options_form #normal-sortables, #tf_cf_form_setup #normal-sortables, #tf_rf_form_setup #normal-sortables, #tf_rf_form_setup
.tf_meta_tabs{min-width:290px;max-width:450px}#tfuse_fields #email-sending-options input[type="radio"]{width:25px;margin-top:5px}#tf_cf_prev_button,#tf_rf_prev_button{margin-bottom:14px;margin-left:15px}#tf_cf_shortcode_row,#tf_rf_shortcode_row,.cf_shortcode,.rf_shortcode{display:none}.tf_custom_contactform_row .tf_checkbox_switch,.tf_custom_reservationform_row
.tf_checkbox_switch{margin-top:15px !important}.tf_tfuse_cf_label .cf_type,.tf_tfuse_cf_label .cf_label,.tf_tfuse_cf_label .cf_width,.tf_tfuse_cf_label .cf_required,.tf_tfuse_cf_label .cf_newline,.tf_tfuse_cf_label .rf_type,.tf_tfuse_cf_label .rf_label,.tf_tfuse_cf_label .rf_width,.tf_tfuse_cf_label .rf_required,.tf_tfuse_cf_label
.rf_newline{width:55px}.tf_tfuse_cf_label .cf_newline,.tf_tfuse_cf_label
.rf_newline{margin-right:0}.tf_cf_delete_row,.tf_rf_delete_row{right:5px}.tf_rf_delete_dates_row{float:right;position:absolute;right:0px;margin-top:42px}.tf_custom_reservationform_dates_row
.tfuse_datepicker_popbox{width:20px !important}#sidebars_cancel_changes,#sidebars_add_sidebar{padding:10px
8px}#sidebars_cancel_changes{padding-bottom:7px}#post-body .option-images .option-inner .titledesc,#tfuse_fields #tfusetab-sidebar_new_settings .option
.titledesc{float:none;margin-bottom:10px}#tf_sidebar_extra_settings .sidebars_choose_type
.formcontainer{float:none}.explain_icons{float:left;width:100%}#tfusetab-sidebar_manage_settings{max-width:450px}p.search-box input[name="s"]{margin-top:10px}#tfuse_fields #tfusetab-slider_setup
.formcontainer{float:none}#tfuse_fields #normal-sortables, #tfuse_fields #advanced-sortables, #tfuse_fields .ui-tabs, .tfuse_fields #normal-sortables, .tfuse_fields #advanced-sortables, .tfuse_fields .ui-tabs, #post-body #normal-sortables, #post-body #advanced-sortables{min-width:456px}.tf-optigen-input-maps-div{max-width:420px;max-height:420px}.form-table, .form-table td, .form-table th, .form-table td p, .form-wrap
label{font-size:12px;-webkit-text-size-adjust:100%}}@media only screen and (max-width: 500px){#tfuse_header_icon_bg{display:none}#tfuse_header{min-width:145px}}@media only screen and (min-width: 500px){#tfuse_header{min-width:325px}}@media only screen and (min-width: 481px) and (max-width: 768px){#tfuse_fields .desc,.tfuse_fields .desc,#post-body
.desc{margin-left:5px;float:left;min-width:270px}#tfuse_fields #normal-sortables,#tfuse_fields #advanced-sortables,#tfuse_fields .ui-tabs,.tfuse_fields #normal-sortables,.tfuse_fields #advanced-sortables,.tfuse_fields .ui-tabs{min-width:285px}#post-body .option-images .option-inner
.titledesc{float:left}.column-title{width:40%}.upload_button_div .button,.upload_button_div .button:active{padding:6px
14px}p.search-box input[name="s"]{margin-top:10px}#save_slider,#cancel_slider,#tfuse_submit_admin_form_button,#tfuse_reset_admin_form_button,#cf_save_form_button,#new_form_reset,#tf_cf_add_new,#tf_cf_prev_button,#rf_save_form_button,#tf_rf_add_new,#tf_rf_prev_button,#rf_save_messages_button,#messages_reset,#rf_save_dates_button,#rf_exclude_new_interval,#cf_save_messages_button,#tf_cf_save_gen_options,#gen_options_reset,#tf_rf_save_gen_options,#save_slider,#cancel_slider{padding:10px
14px !important}html
#wpadminbar{z-index:99999!important}#tfuse_fields .ui-tabs .ui-tabs-nav li.ui-tabs-active{padding-bottom:0px}.tf_seek_sortable_lists_container
.tf_seek_sortable_list_right{margin-left:12px;margin-top:18px}.tf_seek_sortable_lists_container .tf_seek_sortable_list_left
.tf_seek_sortable_list_container{min-width:330px}#tfuse_fields #email-sending-options input[type="radio"]{width:25px;margin-top:5px}#tf_cf_prev_button,#tf_rf_prev_button{margin-bottom:14px;margin-left:15px}#tf_cf_shortcode_row,#tf_rf_shortcode_row{display:none}.tf_cf_delete_row,.tf_rf_delete_row{right:30px}#wpbody #form-content
.medica_inp_select{height:28px}.tf_custom_reservationform_dates_row
.tfuse_datepicker_popbox{width:20px !important}#tfuse_fields #tfusetab-sidebar_new_settings .option-inner{padding:10px
5px}.explain_icons{float:left;width:100%}#sidebars_cancel_changes,#sidebars_add_sidebar{padding:10px
8px}#sidebars_cancel_changes{padding-bottom:7px}}@media only screen and (min-width: 769px) and (max-width: 990px){#tfuse_fields .ui-tabs .ui-tabs-nav li.ui-tabs-active,.ui-tabs .ui-tabs-nav li.ui-tabs-active{padding-bottom:0px}#tfuse_fields .ui-tabs .ui-tabs-nav li,.tfuse_fields .ui-tabs .ui-tabs-nav li,#post-body .ui-tabs .ui-tabs-nav
li{margin:3px;margin-bottom:0}#post-body .option-inner
.formcontainer{max-width:100%}.tf_cf_delete_row,.tf_rf_delete_row{right:30px}#tf_cf_shortcode_row,#tf_rf_shortcode_row{display:none}#tfuse_fields .option
.desc{margin-right:20px;padding-top:0}.tf_custom_reservationform_dates_row
.tfuse_datepicker_popbox{width:20px !important}html
#wpadminbar{z-index:99999!important}#post-body .desc,#tf_sidebar_extra_settings
.desc{margin-left:0px;float:left;min-width:270px}#post-body .option-images .option-inner .titledesc,#tfuse_fields #tfusetab-sidebar_new_settings .option
.titledesc{float:none;margin-bottom:10px}#tfuse_fields #tf_sidebar_extra_settings .ui-tabs{min-width:325px}.explain_icons{float:left;width:75%}}@media only screen and (min-width: 991px) and (max-width: 1079px){#post-body .desc,#tfuse_fields #tf_sidebar_extra_settings
.desc{margin-left:0px;float:left;min-width:270px}.fixed .column-date{width:12%}.sdb_ph_table{width:44%}.explain_icons{float:left;width:57%}#post-body .option-images .option-inner .titledesc,#tfuse_fields #tfusetab-sidebar_new_settings .option
.titledesc{float:none;margin-bottom:10px}#tfuse_fields .ui-tabs .ui-tabs-nav li.ui-tabs-active,.ui-tabs .ui-tabs-nav li.ui-tabs-active{padding-bottom:0}#tfuse_fields #tf_sidebar_extra_settings .ui-tabs{min-width:425px}}@media only screen and (min-width: 1080px) and (max-width: 1800px){.explain_icons{float:left}#post-body .option-images .option-inner .titledesc,#tfuse_fields #tfusetab-sidebar_new_settings .option
.titledesc{float:none;margin-bottom:10px}#tf_sidebar_extra_settings
.desc{margin-left:0px;float:left;min-width:270px}#tfuse_fields #tf_sidebar_extra_settings .ui-tabs{min-width:325px}}
/* end of /wp-content/themes/metrovibes-parent/framework/static/css/screen-wp3.8.css */
div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom
.pp_right{height:13px}div.pp_default .pp_top
.pp_left{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/default/sprite.png) -78px -93px no-repeat}div.pp_default .pp_top
.pp_middle{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/default/sprite_x.png) top left repeat-x}div.pp_default .pp_top
.pp_right{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/default/sprite.png) -112px -93px no-repeat}div.pp_default .pp_content
.ppt{color:#f8f8f8}div.pp_default .pp_content_container
.pp_left{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;padding-left:13px}div.pp_default .pp_content_container
.pp_right{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/default/sprite_y.png) top right repeat-y;padding-right:13px}div.pp_default .pp_next:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/default/sprite_next.png) center right no-repeat;cursor:pointer}div.pp_default .pp_previous:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/default/sprite_prev.png) center left no-repeat;cursor:pointer}div.pp_default
.pp_expand{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/default/sprite.png) 0 -29px no-repeat;cursor:pointer;width:28px;height:28px}div.pp_default .pp_expand:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/default/sprite.png) 0 -56px no-repeat;cursor:pointer}div.pp_default
.pp_contract{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/default/sprite.png) 0 -84px no-repeat;cursor:pointer;width:28px;height:28px}div.pp_default .pp_contract:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/default/sprite.png) 0 -113px no-repeat;cursor:pointer}div.pp_default
.pp_close{width:30px;height:30px;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/default/sprite.png) 2px 1px no-repeat;cursor:pointer}div.pp_default .pp_gallery ul li
a{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/default/default_thumb.png) center center #f8f8f8;border:1px
solid #aaa}div.pp_default
.pp_social{margin-top:7px}div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery
a.pp_arrow_next{position:static;left:auto}div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav
.pp_pause{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/default/sprite.png) -51px 1px no-repeat;height:30px;width:30px}div.pp_default .pp_nav
.pp_pause{background-position:-51px -29px}div.pp_default a.pp_arrow_previous,div.pp_default
a.pp_arrow_next{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;height:20px;width:20px;margin:4px
0 0}div.pp_default
a.pp_arrow_next{left:52px;background-position:-82px -3px}div.pp_default .pp_content_container
.pp_details{margin-top:5px}div.pp_default
.pp_nav{clear:none;height:30px;width:110px;position:relative}div.pp_default .pp_nav
.currentTextHolder{font-family:Georgia;font-style:italic;color:#999;font-size:11px;left:75px;line-height:25px;position:absolute;top:2px;margin:0;padding:0
0 0 10px}div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}div.pp_default
.pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px
50px 5px 0}div.pp_default .pp_bottom
.pp_left{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/default/sprite.png) -78px -127px no-repeat}div.pp_default .pp_bottom
.pp_middle{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/default/sprite_x.png) bottom left repeat-x}div.pp_default .pp_bottom
.pp_right{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/default/sprite.png) -112px -127px no-repeat}div.pp_default
.pp_loaderIcon{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/default/loader.gif) center center no-repeat}div.light_rounded .pp_top
.pp_left{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat}div.light_rounded .pp_top
.pp_right{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat}div.light_rounded .pp_next:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;cursor:pointer}div.light_rounded .pp_previous:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}div.light_rounded
.pp_expand{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}div.light_rounded .pp_expand:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}div.light_rounded
.pp_contract{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}div.light_rounded .pp_contract:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}div.light_rounded
.pp_close{width:75px;height:22px;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer}div.light_rounded .pp_nav
.pp_play{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}div.light_rounded .pp_nav
.pp_pause{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}div.light_rounded
.pp_arrow_previous{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat}div.light_rounded
.pp_arrow_next{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat}div.light_rounded .pp_bottom
.pp_left{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat}div.light_rounded .pp_bottom
.pp_right{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat}div.dark_rounded .pp_top
.pp_left{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat}div.dark_rounded .pp_top
.pp_right{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat}div.dark_rounded .pp_content_container
.pp_left{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y}div.dark_rounded .pp_content_container
.pp_right{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y}div.dark_rounded .pp_next:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;cursor:pointer}div.dark_rounded .pp_previous:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}div.dark_rounded
.pp_expand{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}div.dark_rounded .pp_expand:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}div.dark_rounded
.pp_contract{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}div.dark_rounded .pp_contract:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}div.dark_rounded
.pp_close{width:75px;height:22px;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer}div.dark_rounded
.pp_description{margin-right:85px;color:#fff}div.dark_rounded .pp_nav
.pp_play{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}div.dark_rounded .pp_nav
.pp_pause{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}div.dark_rounded
.pp_arrow_previous{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat}div.dark_rounded
.pp_arrow_next{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat}div.dark_rounded .pp_bottom
.pp_left{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat}div.dark_rounded .pp_bottom
.pp_right{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat}div.dark_rounded
.pp_loaderIcon{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_rounded/loader.gif) center center no-repeat}div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square
.pp_content{background:#000}div.dark_square
.pp_description{color:#fff;margin:0
85px 0 0}div.dark_square
.pp_loaderIcon{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_square/loader.gif) center center no-repeat}div.dark_square
.pp_expand{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;cursor:pointer}div.dark_square .pp_expand:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;cursor:pointer}div.dark_square
.pp_contract{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;cursor:pointer}div.dark_square .pp_contract:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;cursor:pointer}div.dark_square
.pp_close{width:75px;height:22px;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;cursor:pointer}div.dark_square
.pp_nav{clear:none}div.dark_square .pp_nav
.pp_play{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}div.dark_square .pp_nav
.pp_pause{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}div.dark_square
.pp_arrow_previous{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat}div.dark_square
.pp_arrow_next{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat}div.dark_square .pp_next:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_square/btnNext.png) center right no-repeat;cursor:pointer}div.dark_square .pp_previous:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;cursor:pointer}div.light_square
.pp_expand{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;cursor:pointer}div.light_square .pp_expand:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;cursor:pointer}div.light_square
.pp_contract{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;cursor:pointer}div.light_square .pp_contract:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;cursor:pointer}div.light_square
.pp_close{width:75px;height:22px;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;cursor:pointer}div.light_square .pp_nav
.pp_play{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}div.light_square .pp_nav
.pp_pause{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}div.light_square
.pp_arrow_previous{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat}div.light_square
.pp_arrow_next{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat}div.light_square .pp_next:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_square/btnNext.png) center right no-repeat;cursor:pointer}div.light_square .pp_previous:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;cursor:pointer}div.facebook .pp_top
.pp_left{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat}div.facebook .pp_top
.pp_middle{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x}div.facebook .pp_top
.pp_right{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat}div.facebook .pp_content_container
.pp_left{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y}div.facebook .pp_content_container
.pp_right{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y}div.facebook
.pp_expand{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;cursor:pointer}div.facebook .pp_expand:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;cursor:pointer}div.facebook
.pp_contract{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;cursor:pointer}div.facebook .pp_contract:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;cursor:pointer}div.facebook
.pp_close{width:22px;height:22px;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;cursor:pointer}div.facebook
.pp_description{margin:0
37px 0 0}div.facebook
.pp_loaderIcon{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/facebook/loader.gif) center center no-repeat}div.facebook
.pp_arrow_previous{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;height:22px;margin-top:0;width:22px}div.facebook
.pp_arrow_previous.disabled{background-position:0 -96px;cursor:default}div.facebook
.pp_arrow_next{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;height:22px;margin-top:0;width:22px}div.facebook
.pp_arrow_next.disabled{background-position:-32px -96px;cursor:default}div.facebook
.pp_nav{margin-top:0}div.facebook .pp_nav
p{font-size:15px;padding:0
3px 0 4px}div.facebook .pp_nav
.pp_play{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;height:22px;width:22px}div.facebook .pp_nav
.pp_pause{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;height:22px;width:22px}div.facebook .pp_next:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/facebook/btnNext.png) center right no-repeat;cursor:pointer}div.facebook .pp_previous:hover{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;cursor:pointer}div.facebook .pp_bottom
.pp_left{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat}div.facebook .pp_bottom
.pp_middle{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x}div.facebook .pp_bottom
.pp_right{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat}div.pp_pic_holder a:focus{outline:none}div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}.pp_content{height:40px;min-width:40px}* html
.pp_content{width:40px}.pp_content_container{position:relative;text-align:left;width:100%}.pp_content_container
.pp_left{padding-left:20px}.pp_content_container
.pp_right{padding-right:20px}.pp_content_container
.pp_details{float:left;margin:10px
0 2px}.pp_description{display:none;margin:0}.pp_social{float:left;margin:0}.pp_social
.facebook{float:left;margin-left:5px;width:55px;overflow:hidden}.pp_social
.twitter{float:left}.pp_nav{clear:right;float:left;margin:3px
10px 0 0}.pp_nav
p{float:left;white-space:nowrap;margin:2px
4px}.pp_nav .pp_play,.pp_nav
.pp_pause{float:left;margin-right:4px;text-indent:-10000px}a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}.pp_gallery
div{float:left;overflow:hidden;position:relative}.pp_gallery
ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0
0 0 5px;padding:0}.pp_gallery ul
a{border:1px
rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}.pp_gallery ul a
img{border:0}.pp_gallery
li{display:block;float:left;margin:0
5px 0 0;padding:0}.pp_gallery li.default
a{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}.pp_gallery .pp_arrow_previous,.pp_gallery
.pp_arrow_next{margin-top:7px!important}a.pp_next{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%}a.pp_previous{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%}a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px}.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px}#pp_full_res{line-height:1!important}#pp_full_res
.pp_inline{text-align:left}#pp_full_res .pp_inline
p{margin:0
0 15px}div.ppt{color:#fff;display:none;font-size:17px;z-index:9999;margin:0
0 5px 15px}div.pp_default .pp_content,div.light_rounded
.pp_content{background-color:#fff}div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res
.pp_inline{color:#000}div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected
a{border-color:#fff}div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook
.pp_details{position:relative}div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook
.pp_content{background:#fff}div.light_rounded .pp_description,div.light_square
.pp_description{margin-right:85px}div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery
a.pp_arrow_next{margin-top:12px!important}div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square
.pp_arrow_previous.disabled{background-position:0 -87px;cursor:default}div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square
.pp_arrow_next.disabled{background-position:-22px -87px;cursor:default}div.light_rounded .pp_loaderIcon,div.light_square
.pp_loaderIcon{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/light_rounded/loader.gif) center center no-repeat}div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom
.pp_middle{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat}div.dark_rounded .currentTextHolder,div.dark_square
.currentTextHolder{color:#c4c4c4}div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res
.pp_inline{color:#fff}.pp_top,.pp_bottom{height:20px;position:relative}* html .pp_top,* html
.pp_bottom{padding:0
20px}.pp_top .pp_left,.pp_bottom
.pp_left{height:20px;left:0;position:absolute;width:20px}.pp_top .pp_middle,.pp_bottom
.pp_middle{height:20px;left:20px;position:absolute;right:20px}* html .pp_top .pp_middle,* html .pp_bottom
.pp_middle{left:0;position:static}.pp_top .pp_right,.pp_bottom
.pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}.pp_fade,.pp_gallery li.default a
img{display:none}
/* end of /wp-content/themes/metrovibes-parent/framework/static/css/prettyPhoto.css */
.colorpicker{width:356px;height:176px;overflow:hidden;position:absolute;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/clr_picker/colorpicker_background.png);font-family:Arial,Helvetica,sans-serif;display:none;z-index:9999}.colorpicker_color{width:150px;height:150px;left:14px;top:13px;position:absolute;background:#f00;overflow:hidden;cursor:crosshair}.colorpicker_color
div{position:absolute;top:0;left:0;width:150px;height:150px;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/clr_picker/colorpicker_overlay.png)}.colorpicker_color div
div{position:absolute;top:0;left:0;width:11px;height:11px;overflow:hidden;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/clr_picker/colorpicker_select.gif);margin:-5px 0 0 -5px}.colorpicker_hue{position:absolute;top:13px;left:171px;width:35px;height:150px;cursor:n-resize}.colorpicker_hue
div{position:absolute;width:35px;height:9px;overflow:hidden;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/clr_picker/colorpicker_indic.gif) left top;margin:-4px 0 0 0;left:0px}.colorpicker_new_color{position:absolute;width:60px;height:30px;left:213px;top:13px;background:#f00}.colorpicker_current_color{position:absolute;width:60px;height:30px;left:283px;top:13px;background:#f00}.colorpicker
input{background-color:transparent !important;border:none !important;position:absolute;font-size:10px;font-family:Arial,Helvetica,sans-serif;color:#898989;top:4px !important;right:11px !important;text-align:right !important;margin:0;padding:0;height:11px}.colorpicker_hex{position:absolute;width:72px;height:22px;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/clr_picker/colorpicker_hex.png) top;left:212px;top:142px}.colorpicker_hex
input{right:6px !important}.colorpicker_field{height:22px;width:62px;background-position:top;position:absolute}.colorpicker_field
span{position:absolute;width:12px;height:22px;overflow:hidden;top:0;right:0;cursor:n-resize}.colorpicker_rgb_r{background-image:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/clr_picker/colorpicker_rgb_r.png);top:52px;left:212px}.colorpicker_rgb_g{background-image:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/clr_picker/colorpicker_rgb_g.png);top:82px;left:212px}.colorpicker_rgb_b{background-image:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/clr_picker/colorpicker_rgb_b.png);top:112px;left:212px}.colorpicker_hsb_h{background-image:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/clr_picker/colorpicker_hsb_h.png);top:52px;left:282px}.colorpicker_hsb_s{background-image:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/clr_picker/colorpicker_hsb_s.png);top:82px;left:282px}.colorpicker_hsb_b{background-image:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/clr_picker/colorpicker_hsb_b.png);top:112px;left:282px}.colorpicker_submit{position:absolute;width:22px;height:22px;background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/clr_picker/colorpicker_submit.png) top;left:322px;top:142px;overflow:hidden}.colorpicker_focus{background-position:center}.colorpicker_hex.colorpicker_focus{background-position:bottom}.colorpicker_submit.colorpicker_focus{background-position:bottom}.colorpicker_slider{background-position:bottom}
/* end of /wp-content/themes/metrovibes-parent/framework/static/css/colorpicker.css */
.tf_rf_exclude_interval{float:left;margin-left:1px;width:340px !important;border-style:solid;border-width:1px;border-color:#CCC #E6E6E6 #E6E6E6 #CCC !important;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif !important;font-size:12px !important}.popbox{margin:0px
auto;position:relative;float:left;z-index:10}.tfuse_datepicker_popbox
.collapse{left:-110px;position:relative;top:-10px}.tfuse_datepicker_popbox
.open{height:15px;left:10px;position:absolute;top:8px;width:15px}.tfuse_datepicker_popbox
.open_button{background:url(http://davidfoggin.com/wp-content/themes/metrovibes-parent/framework/static/css/../images/picker_icon.jpg);width:16px;height:16px}.tfuse_datepicker_popbox
.box{display:block;display:none;background:#FFF;border:solid 1px #BBB;border-radius:5px;box-shadow:0px 0px 15px #999;position:absolute;width:300px;padding:10px}.tfuse_datepicker_popbox  .box
a.close{color:red;font-size:12px;font-family:arial;text-decoration:underline}.tfuse_datepicker_popbox
.arrow{border-bottom:11px solid transparent;border-right:11px solid #FFF;border-top:11px solid transparent;height:0;left:-11px !important;position:absolute;top:5px;width:0;z-index:1001}.tfuse_datepicker_popbox .arrow-border{border-bottom:11px solid transparent;border-right:11px solid #BBB;border-top:11px solid transparent;height:0;left:-12px !important;position:absolute;top:5px;width:0;z-index:1000}
/* end of /wp-content/themes/metrovibes-parent/framework/static/css/datepicker.css */
