#timeline {	
	width: 960px;
	overflow: hidden;
	margin: 20px auto;
	position: relative;
	background:  url('../images/bg_line.gif') left 34px repeat-x;
}
.cols2 #timeline,
.cols2 #timeline_dates,
.cols2 #timeline_events,
.cols2 #timeline_events li {
	width:620px}

#timeline_dates {
	width: 960px;
	height: 60px;
	overflow: hidden;
	font-family: 'Arvo', serif;
	margin:0;
	padding:0
}
#timeline_dates li {
	list-style: none;
	float: left;
	width: 140px;
	height: 40px;
	font-size: 16px;
	text-align: center;
}
#timeline_dates a {
	display:block;
	line-height: 25px;
	padding-bottom: 15px;
	color:#888;
	background: url('../images/biggerdot.png') center 30px no-repeat;
}
#timeline_dates a:hover {
	color:#555
}
#timeline_dates .selected {
	line-height: 25px;
	font-size: 25px;
	color:#2f75c6;
	background-position:center -70px
}

#timeline_events {
	width: 960px;
	height: auto;
	overflow: hidden;
	margin:0;
	padding:0
}
#timeline_events .inner {
	padding:0 60px}

#timeline_events li {
	width: 960px;
	list-style: none;
	float: left;
	margin:0;
	min-height:200px
}
#timeline_events li h3 {
	font-size:20px;
	color:#666}

#timeline_events li.selected img {
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
}
#timeline_events li img {
	float: left;
	margin: 0px 40px 5px 10px;
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
	zoom: 1;
	-webkit-transition: all 1.2s ease-in-out;
	-moz-transition: all 1.2s ease-in-out;
	-o-transition: all 1.2s ease-in-out;
	-ms-transition: all 1.2s ease-in-out; 
	transition: all 1.2s ease-in-out;
	-webkit-transform: scale(0.7,0.7);
	-moz-transform: scale(0.7,0.7);
	-o-transform: scale(0.7,0.7);
	-ms-transform: scale(0.7,0.7);
	transform: scale(0.7,0.7);
}

#timeline .next,
#timeline .prev {
	position: absolute;
	top: 0;
	font-size: 70px;
	top: 50%;
	width: 22px;
	height: 38px;
	background-position: 0 0;
	background-repeat: no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
#timeline .next:hover,
#timeline .prev:hover {
	background-position: 0 -76px;
}
#timeline .next {
	right: 0;
	background-image: url('../images/next.png');
}
#timeline .prev {
	left: 0;
	background-image: url('../images/prev.png');
}
#timeline .next.disabled,
#timeline .prev.disabled {
	opacity: 0.2;
}

/* Responsive Timeline */ 

@media only screen and (min-width: 320px) {
	#timeline,
	#timeline_dates,
	#timeline_events,
	#timeline_events li,
	.cols2 #timeline,
	.cols2 #timeline_dates,
	.cols2 #timeline_events,
	.cols2 #timeline_events li {
		width: 300px;}
	
	#timeline_dates li {
		font-size: 13px;}

	#timeline_dates .selected {
		font-size: 18px;}
		
	#timeline_events .inner {
		padding:0 35px;
		text-align:justify;}
		
	#timeline_events li h3 {
		font-size:19px}
		
	#timeline_events li img {
		float:none;
		margin:0;}
}

@media only screen and (min-width: 480px) {  
	
	#timeline,
	#timeline_dates,
	#timeline_events,
	#timeline_events li {
		width:432px}
		
	.cols2 #timeline,
	.cols2 #timeline_dates,
	.cols2 #timeline_events,
	.cols2 #timeline_events li {
		width: 432px;}
		
	#timeline_events li img {
		float:none;
		margin:0 20px;}
		
}

@media only screen and (min-width: 768px)  {
	
	#timeline,
	#timeline_dates,
	#timeline_events,
	#timeline_events li {
		width:756px}
		
	.cols2 #timeline,
	.cols2 #timeline_dates,
	.cols2 #timeline_events,
	.cols2 #timeline_events li {
		width: 432px;}
		
	#timeline_events li img {
		float:left;
		margin: 0px 30px 5px 10px;}
	
	#timeline_dates li {
		font-size: 16px;}

	#timeline_dates .selected {
		font-size: 25px;}
		
	#timeline_events .inner {
		padding:0 50px;
		text-align:left;}
	
}

@media only screen and (min-width: 990px) {
	
	#timeline,
	#timeline_dates,
	#timeline_events,
	#timeline_events li {
		width:960px}
		
	.cols2 #timeline,
	.cols2 #timeline_dates,
	.cols2 #timeline_events,
	.cols2 #timeline_events li {
		width: 620px;}
		
	#timeline_events li img {
		margin: 0px 40px 5px 10px;
                height:auto}
		
	#timeline_events .inner {
		padding:0 60px}
	
}	