@media only screen and (max-width: 320px) {

    #post-body .formcontainer select{max-width: 250px;}
    #post-body .option-textarray .formcontainer input,#tfuse_fields .option-textarray .formcontainer input, .tfuse_fields .option-textarray .formcontainer input{width: 115px;}
    #tfuse_fields .desc, .tfuse_fields .desc, #post-body .desc{max-width: 250px;}
    #tfuse_fields #tfusetab-slider_settings .titledesc, #tfusetab-slider_setup .titledesc, #tfusetab-slider_settings .formcontainer,#tfusetab-slider_setup .formcontainer{float: none;}
    #tfuse_fields #tfusetab-slider_settings .option .desc,#tfusetab-slider_setup .option .desc{max-width: 280px;}
    #tfuse_fields #normal-sortables,#tfuse_fields .ui-tabs{min-width: 285px;max-width: 290px;}
    #save_changes_slide, #cancel_changes_slide {padding-left: 10px;padding-right: 10px;}
    .frame_box_buttons {margin-left: 10px;}
    #tfuse_admin_options_form_reset {padding-left: 0;}
    .tf_seek_sortable_list_container .tf_seek_sortable_item{max-width: 265px;}
    .tf_seek_sortable_lists_container .tf_seek_sortable_list_right .tf_seek_sortable_item{max-width: 240px;}
    .tf_seek_sortable_lists_container .tf_seek_sortable_list_left,.tf_seek_sortable_lists_container .tf_seek_sortable_list_right{float: none;margin-left: 0;margin-top: 10px;}
    .tf_seek_sortable_lists_container .tf_seek_sortable_list_right .tf_seek_sortable_list_container{min-width: 265px;max-width: 265px;}
    .colorpicker{left: 0 !important;}
    .tf_tfuse_cf_label .rf_type,.tf_tfuse_cf_label .cf_type{max-width: 15px;margin-left: 10px;}
    .tf_tfuse_cf_label .rf_label,.tf_tfuse_cf_label .cf_label{max-width: 20px;margin-left: 5px;}
    .tf_tfuse_cf_label .rf_required,.tf_tfuse_cf_label .cf_required{max-width: 40px;margin-left: 5px;}
    .tf_tfuse_cf_label .rf_newline,.tf_tfuse_cf_label .rf_width,.tf_tfuse_cf_label .cf_newline,.tf_tfuse_cf_label .cf_width{margin-left: 10px;max-width: 55px;margin-right: 5px;}
    .cf_input_label, .cf_input_width, .rf_input_label, .rf_input_width{margin-top: 10px;}
    #gen_options_reset{margin-left: 0;}
    .tf_rf_exclude_interval{max-width: 225px;}
    #tf_rf_input_required_1, #tf_rf_input_required_2{margin-top: 17px;}
    .widgets-holder-wrap .widget{margin-left: 0 !important;}
    #menu-to-edit .menu-item{max-width: 275px;}
    .nav-menus-php .major-publishing-actions .publishing-action{margin-right: 24px;}
    .tf_custom_reservationform_dates_row .tf_rf_delete_dates_row{right: -24px;}
    .tablenav .actions select{max-width: 140px;}
    #postbox-container-2{max-width: 285px;}
    .tf-interface-option .tf-interface-hidden-children{right: 3px;top: 9px;}
    #tfuse_fields #tfusetab-sidebar_manage_settings{max-width: 285px;}
    #tfuse_fields #tf_sidebar_extra_settings .option .desc{float: none;margin-left: 0;}
    #poststuff #post-body #normal-sortables{min-width: 280px;}
    #tfuse_fields .formcontainer input,#tfuse_fields .formcontainer select,#tfuse_fields .formcontainer textarea,.tfuse_fields .formcontainer input,.tfuse_fields .formcontainer select,.tfuse_fields .formcontainer textarea,#post-body .formcontainer input,#post-body .formcontainer select,#post-body .formcontainer textarea {max-width: 255px;}
    .formcontainer .tf-optigen-input-maps-div{max-width: 255px;max-height: 250px;}

}

@media only screen and (max-width: 480px) {

    #tfuse_header_icon_bg,#tfuse_header_theme_links{display:none}
    #tfuse_header{margin-right:145px;min-width:145px}
    #tfuse_framework_version{background-position-x:-2420px}
    #tfuse_header_text{padding:6px 0}
    #tfuse_header_text img{margin-top:45px;margin-left:-102px}
    #tfuse_header_theme_info{padding:0}
    .tf_meta_tabs .postbox .inside,#tfuse_framework_options_metabox .inside,.tfuse-postbox .inside{padding:0}
    #tfuse_fields .option-inner,.tfuse_fields .option-inner{padding:6px}
    #tfuse_fields .formcontainer input,#tfuse_fields .formcontainer select,#tfuse_fields .formcontainer textarea,.tfuse_fields .formcontainer input,.tfuse_fields .formcontainer select,.tfuse_fields .formcontainer textarea,#post-body .formcontainer input,#post-body .formcontainer select,#post-body .formcontainer textarea {width: 265px;/*max-width: 275px;*/}
    #tfuse_fields .uploaded_thumb,.tfuse_fields .uploaded_thumb,#post-body .uploaded_thumb,.tfuse-tax-form-field .uploaded_thumb{display:none}
    #tfuse_fields .option-checkbox .titledesc, .tfuse_fields .option-checkbox .titledesc, #post-body .option-checkbox .titledesc{width:160px;margin-right:5px}
    .upload_button_div .button,.upload_button_div .button:active {padding: 6px 14px;}
    #tfuse_fields .desc,.tfuse_fields .desc,#post-body .desc{margin-left:0px; float:left; min-width:250px; margin-right: 0; font-size: 11px; font-family: sans-serif; -webkit-text-size-adjust: 100%; }
    #post-body .option-images .option-inner .titledesc {float: none; margin-bottom: 10px;}
    .ui-tabs .ui-tabs-nav li.ui-tabs-active {padding-bottom: 0;}
    #post-body .option-inner .formcontainer{max-width: 100%;}
    #save_slider,#cancel_slider,#tfuse_submit_admin_form_button,#tfuse_reset_admin_form_button,#cf_save_form_button, #new_form_reset, #tf_cf_add_new, #tf_cf_prev_button, #rf_save_form_button, #tf_rf_add_new, #tf_rf_prev_button, #rf_save_messages_button, #messages_reset, #rf_save_dates_button, #rf_exclude_new_interval, #cf_save_messages_button, #tf_cf_save_gen_options, #gen_options_reset, #tf_rf_save_gen_options, #save_slider, #cancel_slider{padding: 10px 14px !important;}
    #tfuse_fields #tfusetab-slider_settings .desc,#tfusetab-slider_setup .desc{max-width: 450px;}
    #tfuse_fields #tfusetab-slider_settings .titledesc,#tfusetab-slider_setup .titledesc{width: 155px;}
    #tfuse_admin_options_form .tf_meta_tabs, #tfuse_fields #tfuse_admin_options_form #normal-sortables, #tf_cf_form_setup #normal-sortables, #tf_rf_form_setup #normal-sortables, #tf_rf_form_setup .tf_meta_tabs{min-width: 290px; max-width: 450px;}
    #tfuse_fields #email-sending-options input[type="radio"] {width: 25px;margin-top: 5px;}
    #tf_cf_prev_button,#tf_rf_prev_button{margin-bottom: 14px; margin-left: 15px;}
    #tf_cf_shortcode_row,#tf_rf_shortcode_row,.cf_shortcode,.rf_shortcode{display: none;}
    .tf_custom_contactform_row .tf_checkbox_switch,.tf_custom_reservationform_row .tf_checkbox_switch{margin-top: 15px !important;}
    .tf_tfuse_cf_label .cf_type,.tf_tfuse_cf_label .cf_label,.tf_tfuse_cf_label .cf_width,.tf_tfuse_cf_label .cf_required,.tf_tfuse_cf_label .cf_newline,.tf_tfuse_cf_label .rf_type,.tf_tfuse_cf_label .rf_label,.tf_tfuse_cf_label .rf_width,.tf_tfuse_cf_label .rf_required,.tf_tfuse_cf_label .rf_newline{width: 55px;}
    .tf_tfuse_cf_label .cf_newline,.tf_tfuse_cf_label .rf_newline{ margin-right: 0;}
    .tf_cf_delete_row,.tf_rf_delete_row{right: 5px;}
    .tf_rf_delete_dates_row{float: right; position: absolute; right: 0px; margin-top: 42px;}
    .tf_custom_reservationform_dates_row .tfuse_datepicker_popbox{width: 20px !important;}
    #sidebars_cancel_changes,#sidebars_add_sidebar{padding: 10px 8px;}
    #sidebars_cancel_changes{padding-bottom: 7px;}
    #post-body .option-images .option-inner .titledesc,#tfuse_fields #tfusetab-sidebar_new_settings .option .titledesc{float: none; margin-bottom: 10px;}
    #tf_sidebar_extra_settings .sidebars_choose_type .formcontainer{float: none;}
    .explain_icons{float: left; width: 100%;}
    #tfusetab-sidebar_manage_settings{max-width: 450px;}
    p.search-box input[name="s"] {margin-top: 10px;}
    #tfuse_fields #tfusetab-slider_setup .formcontainer{float: none;}
    #tfuse_fields #normal-sortables, #tfuse_fields #advanced-sortables, #tfuse_fields .ui-tabs, .tfuse_fields #normal-sortables, .tfuse_fields #advanced-sortables, .tfuse_fields .ui-tabs, #post-body #normal-sortables, #post-body #advanced-sortables{min-width: 456px;}
    .tf-optigen-input-maps-div{max-width: 420px;max-height: 420px;}
    .form-table, .form-table td, .form-table th, .form-table td p, .form-wrap label{font-size: 12px;-webkit-text-size-adjust: 100%;}
}

@media only screen and (max-width: 500px) {

    #tfuse_header_icon_bg{display:none}
    #tfuse_header{min-width:145px;}

}

@media only screen and (min-width: 500px) {

    #tfuse_header{min-width:325px}

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    #tfuse_fields .desc,.tfuse_fields .desc,#post-body .desc{margin-left:5px;float:left;min-width:270px;}
    #tfuse_fields #normal-sortables,#tfuse_fields #advanced-sortables,#tfuse_fields .ui-tabs,.tfuse_fields #normal-sortables,.tfuse_fields #advanced-sortables,.tfuse_fields .ui-tabs/*,#post-body #normal-sortables,#post-body #advanced-sortables*/{min-width:285px}
    #post-body .option-images .option-inner .titledesc {float: left;}
    .column-title {width: 40%;}
    .upload_button_div .button,.upload_button_div .button:active {padding: 6px 14px;}
    p.search-box input[name="s"] {margin-top: 10px;}
    #save_slider,#cancel_slider,#tfuse_submit_admin_form_button,#tfuse_reset_admin_form_button,#cf_save_form_button, #new_form_reset, #tf_cf_add_new, #tf_cf_prev_button, #rf_save_form_button, #tf_rf_add_new, #tf_rf_prev_button, #rf_save_messages_button, #messages_reset, #rf_save_dates_button, #rf_exclude_new_interval, #cf_save_messages_button, #tf_cf_save_gen_options, #gen_options_reset, #tf_rf_save_gen_options, #save_slider, #cancel_slider{padding: 10px 14px !important;}
    html #wpadminbar {z-index: 99999!important;}
    #tfuse_fields .ui-tabs .ui-tabs-nav li.ui-tabs-active{padding-bottom:0px;}
    .tf_seek_sortable_lists_container .tf_seek_sortable_list_right{margin-left: 12px;margin-top: 18px;}
    .tf_seek_sortable_lists_container .tf_seek_sortable_list_left .tf_seek_sortable_list_container{min-width: 330px;}
    #tfuse_fields #email-sending-options input[type="radio"] {width: 25px;margin-top: 5px;}
    #tf_cf_prev_button,#tf_rf_prev_button{margin-bottom: 14px; margin-left: 15px;}
    #tf_cf_shortcode_row,#tf_rf_shortcode_row{display: none;}
    .tf_cf_delete_row,.tf_rf_delete_row{right: 30px;}
    #wpbody #form-content .medica_inp_select {height: 28px;}
    .tf_custom_reservationform_dates_row .tfuse_datepicker_popbox{width: 20px !important;}
    #tfuse_fields #tfusetab-sidebar_new_settings .option-inner{padding: 10px 5px;}
    .explain_icons{float: left; width: 100%;}
    #sidebars_cancel_changes,#sidebars_add_sidebar{padding: 10px 8px;}
    #sidebars_cancel_changes{padding-bottom: 7px;}

}

@media only screen and (min-width: 769px) and (max-width: 990px) {

    #tfuse_fields .ui-tabs .ui-tabs-nav li.ui-tabs-active,.ui-tabs .ui-tabs-nav li.ui-tabs-active {padding-bottom:0px}
    #tfuse_fields .ui-tabs .ui-tabs-nav li,.tfuse_fields .ui-tabs .ui-tabs-nav li,#post-body .ui-tabs .ui-tabs-nav li{margin:3px; margin-bottom: 0;}
    #post-body .option-inner .formcontainer{max-width: 100%;}
    .tf_cf_delete_row,.tf_rf_delete_row{right: 30px;}
    #tf_cf_shortcode_row,#tf_rf_shortcode_row{display: none;}
    #tfuse_fields .option .desc{margin-right: 20px;padding-top: 0;}
    .tf_custom_reservationform_dates_row .tfuse_datepicker_popbox{width: 20px !important;}
    html #wpadminbar {z-index: 99999!important;}
    #post-body .desc,#tf_sidebar_extra_settings .desc{margin-left:0px;float:left;min-width:270px;}
    #post-body .option-images .option-inner .titledesc,#tfuse_fields #tfusetab-sidebar_new_settings .option .titledesc{float: none; margin-bottom: 10px;}
    #tfuse_fields #tf_sidebar_extra_settings .ui-tabs{min-width: 325px;}
    .explain_icons{float: left; width: 75%;}

}

@media only screen and (min-width: 991px) and (max-width: 1079px) {

    #post-body .desc,#tfuse_fields #tf_sidebar_extra_settings .desc{margin-left:0px;float:left;min-width:270px;}
    .fixed .column-date{width: 12%;}
    .sdb_ph_table{width: 44%;}
    .explain_icons{float: left; width: 57%;}
    #post-body .option-images .option-inner .titledesc,#tfuse_fields #tfusetab-sidebar_new_settings .option .titledesc{float: none; margin-bottom: 10px;}
    #tfuse_fields .ui-tabs .ui-tabs-nav li.ui-tabs-active,.ui-tabs .ui-tabs-nav li.ui-tabs-active {padding-bottom: 0;}
    #tfuse_fields #tf_sidebar_extra_settings .ui-tabs{min-width: 425px;}

}

@media only screen and (min-width: 1080px) and (max-width: 1800px){

    .explain_icons{float: left;}
    #post-body .option-images .option-inner .titledesc,#tfuse_fields #tfusetab-sidebar_new_settings .option .titledesc{float: none; margin-bottom: 10px;}
    #tf_sidebar_extra_settings .desc{margin-left:0px;float:left;min-width:270px;}
    #tfuse_fields #tf_sidebar_extra_settings .ui-tabs{min-width: 325px;}

}