@font-face {
    font-family: 'VegurExtraLight';
    src: url('vegur/vegur-el_0500-webfont.eot');
    src: url('vegur/vegur-el_0500-webfont.eot?iefix') format('eot'), url('vegur/vegur-el_0500-webfont.woff') format('woff'), url('vegur/vegur-el_0500-webfont.ttf') format('truetype'), url('vegur/vegur-el_0500-webfont.svg#webfontTyOtPvBM') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VegurRegular';
    src: url('vegur/vegur-r_0500-webfont.eot');
    src: url('vegur/vegur-r_0500-webfont.eot?iefix') format('eot'), url('vegur/vegur-r_0500-webfont.woff') format('woff'), url('vegur/vegur-r_0500-webfont.ttf') format('truetype'), url('vegur/vegur-r_0500-webfont.svg#webfontbzDmieGh') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VegurBold';
    src: url('vegur/vegur-b_0500-webfont.eot');
    src: url('vegur/vegur-b_0500-webfont.eot?iefix') format('eot'), url('vegur/vegur-b_0500-webfont.woff') format('woff'), url('vegur/vegur-b_0500-webfont.ttf') format('truetype'), url('vegur/vegur-b_0500-webfont.svg#webfontz8oN8b5a') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* =============== BASE DIMENSIONS ==============  */
#tfusetab-tf_rf_dates_settings .postbox .inside {
    margin-left:10px;
}

#tfuse_fields, .tfuse_fields {padding-top:0!important;margin-top:0!important;}

#tfuse_fields #normal-sortables, #tfuse_fields #advanced-sortables, #tfuse_fields .ui-tabs,
.tfuse_fields #normal-sortables, .tfuse_fields #advanced-sortables, .tfuse_fields .ui-tabs,
#post-body #normal-sortables, #post-body #advanced-sortables {min-width: 717px}

/*#tfuse_fields  .tf_meta_tabs {max-width: 1280px}*/
/*#tfuse_header {max-width: 1130px}*/

#tfuse_fields .tfuse_header, .tfuse_fields .tfuse_header {min-width: 717px;border: 1px solid}

#tfuse_fields .formcontainer, .tfuse_fields .formcontainer, #post-body .formcontainer {min-width: 105px;}

#tfuse_fields .option-multi .formcontainer, .tfuse_fields .option-multi .formcontainer, #post-body .option-multi .formcontainer,
#side-info-column .option-multi .formcontainer, #tfuse_fields div.option-boxes span.selected_widget, .tfuse_fields div.option-boxes span.selected_widget {width: 280px}

#tfuse_fields .titledesc, .tfuse_fields .titledesc, #post-body .titledesc {width: 165px;margin-right: 20px}

#tfuse_fields .formcontainer input, #tfuse_fields .formcontainer select, #tfuse_fields .formcontainer textarea,
.tfuse_fields .formcontainer input, .tfuse_fields .formcontainer select, .tfuse_fields .formcontainer textarea,
#post-body .formcontainer input, #post-body .formcontainer select, #post-body .formcontainer textarea {width: 275px; max-width: 275px;}

#tfuse_fields .option-textarray .formcontainer input, .tfuse_fields .option-textarray .formcontainer input, #post-body .option-textarray .formcontainer input {width: 130px}

#tfuse_fields .option-hidden, .tfuse_fields .option-hidden, #post-body .option-hidden, #side-info-column .option-hidden { display: none !important; }

#side-info-column .option-textarray .formcontainer input {width: 116px}

#side-info-column .formcontainer input, #side-info-column .formcontainer select, #side-info-column .formcontainer textarea,
#side-sortables .formcontainer input,#side-sortables .formcontainer select, #side-sortables .formcontainer textarea {width: 250px}

#tfuse_fields .formcontainer input[type="checkbox"], #tfuse_fields .formcontainer input[type="radio"],
.tfuse_fields .formcontainer input[type="checkbox"], .tfuse_fields .formcontainer input[type="radio"],
#post-body .formcontainer input[type="checkbox"], #post-body .formcontainer input[type="radio"],
#side-info-column .formcontainer input[type="checkbox"], #side-info-column .formcontainer input[type="radio"],
.tfuse-tax-form-field input[type="checkbox"], .tfuse-tax-form-field input[type="radio"] {width: 20px}

#tfuse_fields .desc, .tfuse_fields .desc, #post-body .desc { margin-left: 500px}

.option .desc {margin-right: 85px}
#tf_sidebar_extra_settings .option .desc {margin-right: 0}

#tfuse_fields .option-checkbox .formcontainer, .tfuse_fields .option-checkbox .formcontainer, #post-body .option-checkbox .formcontainer {width: 25px}

.tfuse_categorydiv ul.categorychecklist ul {margin-left: 18px}

.ui-widget-content a {
    color: #8e490c;
}
.ui-widget-content a:hover {
    color: #d54e21;
}

/* taxonomies */
.form-field select {width: 275px}
.form-field.tfuse-tax-form-field.tf_textarray input {width: 130px}
.form-field.tfuse-tax-form-field.tf_textarray span.description {margin-left: 10px}
.form-field input, .form-field textarea,
.tfuse-tax-form-field table.tfuse-tax-upload-form {width: 97%}
.tfuse-tax-form-field input.upload-input-text {width: 100%}
.tfuse-tax-form-field table.tfuse-tax-upload-form td {padding: 0; margin: 0}

.loading_thumb, .thumb_over {display: none}
div.uploaded_thumb img {padding: 5px}
div.uploaded_thumb img.loading_thumb_ico {padding: 20px}
.upload_button_div .button {
    padding: 4px 14px;
}

.option-multi_upload .upload_button_div .button,
.option-multi_upload2 .multi_upload2_button_div .button {
    margin-left: 14px;
}
.option-upload .upload_button_div .button {
    margin-top: 10px;
}
.upload_button_div .image_reset_button {margin-left: 10px}
.option-multi_upload2 .multi_upload2_clear_restore {
    margin: 0 0 0 15px;
    text-decoration: none;
}

/* =============== TFUSE HEADER ==============  */

#tfuse_header {
    margin-right: 147px;
    min-width: 570px;
    background: url(../images/tfuse_header_bg.png) no-repeat;
}

#tfuse_header_theme_info {
    padding: 9px;
    height: 69px;
    float: left;
}

#tfuse_framework_version {
    float: right;
    height: 69px;
    width: 130px;
    margin-right: -154px;
    padding: 12px;
    background: url(../images/tfuse_header_bg.png) no-repeat -2413px 0 transparent;
}

#tfuse_framework_version span {
    color: #888888;
}

#tfuse_header_icon_bg {
    background: url(../images/header_icon_bg.png) no-repeat;
    height: 69px;
    width: 69px;
    float: left;
}

#tfuse_header_icon_bg .header_icon {
    border: none;
    position: relative;
    top: 10px;
    left: 9px;
}

#tfuse_header_text {
    float: left;
    megin: 0;
    padding: 0;
}

#tfuse_header_text img {
    border: none;
    float: left;
    margin-top: 8px;
}

#tfuse_header_text h3 {
    font-family: 'VegurRegular', Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-shadow: 0 1px 0 #FFF;
    line-height: 20px;
    margin: 9px 0 0 13px;
    float: left;
    color: #333333;
    padding: 0;
}

#tfuse_header_text span {
    color: #464646;
}

#tfuse_header_theme_links {
    font-family: 'VegurRegular', Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    text-shadow: 0 1px 0 #FFF;
    margin-left: 13px;
    margin-top:5px;
    float: left;
}

#tfuse_header_theme_links a {
    text-decoration:underline;
    color: #915b1c;
}

#tfuse_header_theme_links a:hover {
    color:#d54e21;
}

/* ===============News&Promo==============  */
#newspromo_iframe {
    display: none;
}

/* ===============SUPPORT==============  */
.tfuse_support_options a { float: left }
.tfuse_support_options .forum {
    display: block;
    width: 216px;
    height: 190px;
    background: url(../images/tfuse_support_options.png) no-repeat;
    background-position: 0 0;
    margin: 0 10px 0 0;
}

.tfuse_support_options .forum:hover {
    background: url(../images/tfuse_support_options.png) no-repeat;
    background-position: 0 -190px;
}
.tfuse_support_options .faq {
    display: block;
    width: 216px;
    height: 190px;
    background: url(../images/tfuse_support_options.png) no-repeat;
    background-position: -225px 0;
    margin: 0 10px 0 0;
}
.tfuse_support_options .faq:hover {
    background: url(../images/tfuse_support_options.png) no-repeat;
    background-position: -225px -190px;
}
.tfuse_support_options .docs {
    display: block;
    width: 216px;
    height: 190px;
    background: url(../images/tfuse_support_options.png) no-repeat;
    background-position: -452px 0;
}
.tfuse_support_options .docs:hover {
    background: url(../images/tfuse_support_options.png) no-repeat;
    background-position: -452px -190px;
}

/* ===============TABS==============  */

#tfuse_fields .tf_meta_tabs, .tfuse_fields .tf_meta_tabs {display:none}
#tfuse_fields .ui-tabs, #post-body .ui-tabs,
#tfuse_fields .ui-tabs-nav, #post-body .ui-tabs-nav,
#tfuse_fields .ui-tabs-panel, #post-body .ui-tabs-panel,
.tfuse_fields .ui-tabs, #post-body .ui-tabs,
.tfuse_fields .ui-tabs-nav, #post-body .ui-tabs-nav,
.tfuse_fields .ui-tabs-panel, #post-body .ui-tabs-panel {padding:0}
#tfuse_fields .ui-tabs-panel, .tfuse_fields .ui-tabs-panel {padding-top: 20px}
#post-body .ui-tabs-panel {padding-top: 10px}
#tfuse_fields .ui-tabs-nav, .tfuse_fields .ui-tabs-nav, #post-body .ui-tabs-nav {border-bottom: 1px solid #CCCCCC !important;border-radius: 0}
#tfuse_fields .ui-widget-header, .tfuse_fields .ui-widget-header, #post-body .ui-widget-header,
#tfuse_fields .ui-widget-content, .tfuse_fields .ui-widget-content, #post-body .ui-widget-content {background: none;border: none}
#tfuse_fields .ui-tabs .ui-tabs-nav li, .tfuse_fields .ui-tabs .ui-tabs-nav li, #post-body .ui-tabs .ui-tabs-nav li {margin: 0 6px 0px 0}
#tfuse_fields .ui-state-default, #tfuse_fields .ui-widget-content .ui-state-default,
#tfuse_fields .ui-widget-header .ui-state-default,
.tfuse_fields .ui-state-default, .tfuse_fields .ui-widget-content .ui-state-default,
.tfuse_fields .ui-widget-header .ui-state-default{background: #fff; border-color: #ccc}
#tfuse_fields .ui-state-default a, #tfuse_fields .ui-corner-top a,
.tfuse_fields .ui-state-default a, .tfuse_fields .ui-corner-top a,
#post-body .ui-state-default a, #post-body .ui-corner-top a {
    font:italic 18px/34px Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    color:#C1C1C1;
    display:inline-block;
    padding:2px 14px 2px !important;
    text-decoration:none;
    text-shadow:0 1px 0 #FFFFFF;
}
#tfuse_fields .ui-tabs-selected a, #tfuse_fields .ui-state-active a,
.tfuse_fields .ui-tabs-selected a, .tfuse_fields .ui-state-active a,
#post-body .ui-tabs-selected a, #post-body .ui-state-active a {border-width:1px;color:#464646}
#tfuse_fields .ui-tabs-nav a:hover, .tfuse_fields .ui-tabs-nav a:hover, #post-body .ui-tabs-nav a:hover {color: #D54E21}

#post-body .ui-state-default, #post-body .ui-state-hover {background:none;background-color:#f8f8f8}
#post-body div.inside ul.ui-tabs-nav {padding-left:10px}


/* =============== METABOX OPTIONS ==============  */
#tfuse_fields .titledesc, .tfuse_fields .titledesc, #post-body .titledesc, #side-info-column .titledesc {
    font-size: 11px;
    font-weight: bold;
    display: block;
    line-height: 1.2em;
    float: left;
    font-family: Arial, sans-serif;
}

#side-info-column .titledesc, #side-info-column .desc, #side-sortables .titledesc, #side-sortables .desc{
    margin: 5px 3px;
    float: left;
}

#tfuse_fields .desc, .tfuse_fields .desc, #post-body .desc, #side-info-column .desc {
    color: #999;
    font-size: 11px;
}

.option-inner {
    font-size: 12px;
    line-height: 1.2em;
    font-family: sans-serif;
}

#tfuse_fields div.option-boxes span.selected_widget, .tfuse_fields div.option-boxes span.selected_widget { padding-top: 5px; }

#tfuse_fields .option-radio .option-inner,
.tfuse_fields .option-radio .option-inner,
#post-body .option-radio .option-inner,
#side-info-column .option-radio .option-inner {
    line-height: 1.5em;
}

#tfuse_fields .formcontainer, .tfuse_fields .formcontainer, #post-body .formcontainer, #side-info-column .formcontainer, #side-sortables .formcontainer{
    float: left;
}

.option-inner .formcontainer input, .option-inner  .formcontainer select, .option-inner .formcontainer textarea {
    background-color: #f1f1f1;
    border: 1px solid;
    border-color: #ccc #e6e6e6 #e6e6e6 #ccc;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    font-size: 12px
}

#tfuse_fields input[type="checkbox"], #tfuse_fields input[type="radio"],
.tfuse_fields input[type="checkbox"], .tfuse_fields input[type="radio"],
#post-body input[type="checkbox"], #post-body input[type="radio"],
#side-info-column input[type="checkbox"], #side-info-column input[type="radio"],
#edittag input[type="checkbox"], #edittag input[type="radio"]
{background:none;border:none}

/*#tfuse_fields .inside, .tfuse_fields .inside, #post-body .inside {
    padding: 10px 0;
    margin: 0
}*/

#tfuse_fields .option-inner, .tfuse_fields .option-inner {
    padding: 10px 30px;
}

#post-body .option-inner {
    padding: 10px 15px;
}

#side-info-column .option-inner,#side-sortables   .option-inner {
    padding: 5px 0;
}

#tfuse_fields .uploaded_thumb, .tfuse_fields .uploaded_thumb, #post-body .uploaded_thumb, .tfuse-tax-form-field .uploaded_thumb {
    float: right;
    position: relative;
    width: 55px;
    height: 55px;
    background: url(../images/thumb_images_bg.png) no-repeat;
}

.thumb_over, .tfuse-meta-radio-img-selected {
    width: 57px;
    height: 57px;
    margin-top: -3px;
    background: url(../images/thumb_images_bg.png) no-repeat 0 -55px;
    position: absolute;
}

.tfuse-meta-radio-img-selected {
    margin-top: -4px;
    background: url(../images/thumb_images_bg.png) no-repeat -1px -55px;
}

.tfuse-meta-radio-img-box {
    height: 60px;
    width: 60px;
    float: left;
}

#side-info-column .tfuse-meta-radio-img-box {width: 63px}

.tfuse-meta-radio-img-label {display: none}

img.tfuse-meta-radio-img-img {cursor: pointer}

.single_checkbox {display: none}

.tf_checkbox_switch {
    height: 28px;
    width: 108px;
    background: url(../images/tf_checkbox_switch.png) no-repeat 0 -31px;
    display: inline-block;
    cursor: pointer;
}

#side-info-column div.option-checkbox label.titledesc, #side-sortables div.option-checkbox label.titledesc
{ width: 144px;}

.tfuse-tax-form-field .tf_checkbox_switch { margin: -5px 10px -5px 0; }

.tf_checkbox_switch.on { background-position: 0 0; }

span.tf_checkbox_switch { margin: 0 -1px; }

.tfuse-tax-form-field  span.tf_checkbox_switch { margin: 0 10px 0 0px; }

#side-info-column span.tf_checkbox_switch { margin: 0 4px; }

div.tfclear { clear: both; }

div.tfclear.divider {
    /*border-top: 1px solid #DFDFDF;*/
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #FFFFFF;
}

div.tfuse_spacer { display: block; height:5px}

.tf_meta_tabs .postbox .inside,
#tfuse_framework_options_metabox .inside,
.tfuse-postbox .inside {
    padding: 0;
}
/*
#addlink #post-body .inside, #editlink #post-body .inside {padding: 10px 0;margin:0 0 0 15px}
#post-body #linkcategorydiv .inside {margin:0!important;}
#post-body #linkcategorydiv #category-adder {margin:0 0 0 15px;}*/

/* ===========TFUSE SAVE/RESET==========  */
.tfuse-save-popup { position:absolute; -moz-border-radius:5px; border-radius:5px; background:rgba(0,0,0,0.6); color:#e4e4e4; font-size:18px; font-family:Arial; font-style: italic; text-align:center; display:none; z-index: 10; }

.tfuse-save-save { background:url(../images/saved.png) 20px 51% no-repeat; padding:26px 30px 24px 70px}
.tfuse-save-reset { background:url(../images/warning.png) 20px 51% no-repeat; padding:26px 30px 24px 70px}

.tfuse-save-loading {padding:26px 5px}

#tfuse_admin_options_form p.submit, #tfuse_admin_options_form_reset p.submit, .tfuse_fields form p.submit {padding:0 0 15px 0}
.submit-footer, #tfuse_admin_options_form_reset {float:left}
#tfuse_admin_options_form_reset {padding-left: 20px}
#tfuse_submit_admin_form_button, #tfuse_reset_admin_form_button,
.tfuse_submit_admin_form_button, .tfuse_reset_admin_form_button {line-height: 15px !important; padding: 3px 10px !important;}
/* ===========SLIDER TOOLTIP==========  */

.popup_thumb {
    display: none;
}

/* ===========TFUSE SUGGEST==========  */
.tfuse_input_help_text {
    font-style: italic;
    color: #808080;
    /*background-color: #f1f1f1 !important;*/
}

.tfuse_ac_loading {
    background: url('../images/loading_16x16.gif') white right center no-repeat !important;
}

.tfuse_ac_results {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}

.tfuse_ac_results {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    z-index: 10000;
    display: none;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-color: #808080;
}

.tfuse_ac_results li {
    color: #101010;
    padding: 2px 5px;
    white-space: nowrap;
    text-align: left;
}

.tfuse_ac_results a {
    text-decoration: none;
}

.tfuse_ac_over {
    cursor: pointer;
    background-color: #f0f0b8;
}

.tfuse_ac_match {
    color:#d54e21;
    text-decoration: underline;
}

div.multiple_box_selected_titles.tagchecklist span {
    white-space: normal;
    display: block;
}

.del_button {
    display: inline-block;
    background: url(../images/xit.gif) no-repeat;
    background-position: 0 0;
    height: 10px;
    width:10px;
}

.del_button:hover {
    background-position: -10px 0;
}

/* =============== TFUSE INSTALL ==============  */
.install_demo_container {
    width: 750px;
}
.metabox-holder .install h3 {
    margin:8px 0 20px 40px;
    padding:0;
    text-shadow:0 1px 0 #FFFFFF;
}

.install p {
    color:#888888;
    font-family:'VegurRegular', Arial, sans-serif;
    font-size:13px;
    font-style:normal;
    margin:0px;
    padding:0px;
    line-height:20px;
}

.install p span {
    color:#915B1C;
    font-family:'VegurBold', Arial, sans-serif;
    font-size:12px;
    font-style:normal;
    font-weight:normal;
}

.install_loading {
    display: none;
    width:750px;
}

.demoinstall, .skipinstall {
    background: url(../images/install_bg.png) no-repeat;
    height: 235px;
    width: 320px;
    padding: 25px;
    float: left;
}

.skipinstall {
    margin-left: 10px;
}

.tfuse_install_icon {
    float: left;
}

.tfuse_install_submit {
    position: absolute;
    margin-top: 210px;
}
#tfuse_fields .tagchecklist span, .tfuse_fields .tagchecklist span {
    float:none !important;
}/*
#postexcerpt textarea,
#postexcerpt .inside p{
    margin-left: 8px;
}
#commentstatusdiv .inside .meta-options label,
#authordiv .inside #post_author_override,
#revisionsdiv .inside .post-revisions,
#slugdiv .inside input{
    margin-left: 8px;
}*/
#dashboard-widgets-wrap #dashboard-widgets.metabox-holder{
    margin-bottom: 7px;
}
.tf_load_meta_tabs {
    background: url("../images/loading_16x16.gif") no-repeat;
    margin-left: 47%;
}
.ui-widget-header .ui-dialog-titlebar-close{margin-top: 0px}
.ui-dialog-titlebar .ui-dialog-titlebar-close { margin-top: -10px; } /* Pentru Dialog UI la iconita CLOSED corectare */

/* prettyPhoto hide description (description for innerdocs is Click here for help) */
 .pp_description { display: none !important; }

#ui-datepicker-div { display: none; }

/* begin: Maps optigen */
.tf-optigen-input-maps-div {
    height:275px;
    width:275px;
    background: #808080;
    margin: 3px auto 0;
}
.tf-optigen-input-maps-div-big {
    width:480px;
    height: 480px;
}
/* end: Maps optigen */

.option-images .option-inner .formcontainer {
    max-width: 277px;
}

/* begin: hidden_children */
.tf-interface-option .formcontainer {
    position: relative;
}
.tf-interface-option .tf-interface-hidden-children {
    color: transparent;
    position: absolute;
    top: 5px;
    right: -24px;
    display: block;
    height: 16px;
    width: 16px;
    background: url('../images/hidden_children-showhide.png') scroll no-repeat 0 0;
}
.tf-interface-option .tf-interface-hidden-children.children-hidden {
    /*background-color: #696969;*/
}
/* end: hidden_children */

.widget {
    position: relative;
}

/* Used in different gray texts, to be only one gray, not many, specified in style="..." by different developers */
.tf-gray { color:#C1C1C1; }

/* Optigen Table */
table.tfuse-optigen-table {
    background: #FFFFFF;
    background: transparent;
}
table.tfuse-optigen-table,
table.tfuse-optigen-table thead th,
table.tfuse-optigen-table thead td,
table.tfuse-optigen-table tfoot td {
    border: none;

    background: #FFFFFF;
    background: transparent;
}
table.tfuse-optigen-table tbody td,
table.tfuse-optigen-table thead td {
    border: none;
    padding: 5px;
}
table.tfuse-optigen-table thead, table.tfuse-optigen-table tfoot {
    background: none !important;
}
table.tfuse-optigen-table tfoot {
    display: none;
}
table.tfuse-optigen-table tbody .tf-opt-table-add-row {
    padding: 2px;
}
table.tfuse-optigen-table tbody .tf-opt-table-add-row span.padd {
    padding: 0 10px 0 0;
}
/*# Optigen Table */