@media only screen and (min-width: 280px) {
    #topmenu{
        display: none;
    }
    .cols2 .contact-form .comment-form .inputtext.tfuse_rf_post_datepicker_in,
     .cols2 .contact-form .comment-form .inputtext.tfuse_rf_post_datepicker_out{
max-width: 170px;
}
 .full_width .contact-form .comment-form .inputtext.tfuse_rf_post_datepicker_in,
     .full_width .contact-form .comment-form .inputtext.tfuse_rf_post_datepicker_out{
max-width: 170px;
}
    .comment-form .rowSubmit,.comment-form p.form-submit {
padding: 20px 25px;
margin: 20px -45px;
}
    .link-reset {
right: 25px;
font-size: 11px;
}
    .styled_table table tr th, .styled_table table tr td, .sb .box_title {
padding: 5px 10px;
}
.full_width .add-comment ,.full_width .comment-respond{
        width:300px;
}
.comment-form .inputtext, .comment-form .textarea{
width: 190px;
}
.full_width .comment-form .inputtext,.full_width .comment-form .textarea{
width: 190px;
}
    .map.sortcode{max-width:255px;}
    .container {
        width:300px}

    .cols2 .content .row .col, .col {
        margin: 5px 0;
    }
    .alignleft {float:none;}  .alignright {float:none;}
    img.alignleft {
        margin:2px 10px 5px 0 !important}
    img.alignright {
        margin:2px 0 5px 10px !important}

    /* Columns width's
	--------------------------------------------------*/
    .col_1,
    .col_1_2,
    .col_1_3,
    .col_2_3,
    .col_1_4,
    .col_3_4,
    .row .col_1, .cols2 .content .row .col_1,
    .row .col_1_2, .cols2 .content .row .col_1_2,
    .row .col_1_3, .cols2 .content .row .col_1_3,
    .row .col_2_3, .cols2 .content .row .col_2_3,
    .row .col_1_4, .cols2 .content .row .col_1_4,
    .row .col_3_4, .cols2 .content .row .col_3_4 {width:300px}



    /* Row inside content-box*/
    .cols2 .content .content_box .row .col_1 {width:260px}
    .cols2 .content .content_box .row .col_1_2 {width:260px}
    .cols2 .content .content_box .row .col_1_3 {width:260px}
    .cols2 .content .content_box .row .col_2_3 {width:260px}
    .cols2 .content .content_box .row .col_1_4 {width:260px}
    .cols2 .content .content_box .row .col_3_4 {width:260px}

    /* Row inside content-box full-width*/
    .full_width .content .content_box .row .col_1 {width:260px}
    .full_width .content .content_box .row .col_1_2 {width:260px}
    .full_width .content .content_box .row .col_1_3 {width:260px}
    .full_width .content .content_box .row .col_2_3 {width:260px}
    .full_width .content .content_box .row .col_1_4 {width:260px}
    .full_width .content .content_box .row .col_3_4 {width:260px}
    .full_width .content .content_box .row .col_1_5 {width:260px}
    .full_width .content .content_box .row .col_4_5 {width:260px}

    h1{font-size:19px}
    h2{font-size:19px}
    h3{font-size:17px}
    h4{font-size:16px}
    h5{font-size:15px}
    h6{font-size:13px}

    /* default: sidebar right */
    #middle .content {
        width: 300px;
        float:left;
        min-height:100px;
        margin:0 auto;}

    #middle .sidebar {
        width: 300px;
        float:left;
        margin:0 auto}

    /* sidebar left */
    #middle.sidebar_left .content {
        width: 300px;
        float:right;
        margin:0 auto}

    #middle.sidebar_left .sidebar {
        width: 300px;
        float:left;
        margin:0 auto}

    #middle.full_width .content,
    #middle.full_width .post-detail,
    #middle.full_width2 .content,
    #middle.full_width2 .post-detail {
        width:300px;
        float:none;
        margin:0}

    #middle.full_width .content {
        padding:60px 0}

    #middle.full_width2 .content,
    #middle.cols2 .content,
    #middle.cols2 .sidebar {
        padding:40px 0 30px;
    }

    #middle.cols2 .content {
        border-bottom:1px dashed #8e8071;
    }

    /* Header top */
    .header_top {
        height:110px;}

    .header_top .container {
        width:300px;}

    .header .container {
        padding-top:35px;
        width:300px;
        height:300px;}

    .header-medium .container {
        width:300px;
        height:250px;}

    .header_thin .container {
        height: 110px;
        padding-top: 35px;}

    .header_big .container {
        padding-top:45px;
        height:595px;
        width:300px;}

    /*header carousel*/

    .header .minigallery_carousel {
        padding: 0;
        margin: 10px 0 0; }

    .header .minigallery_carousel li {
        width: 300px;
        min-height: 450px;
        margin: 0 10px;}

    .minigallery_pagination .pagination {
        width: 280px;
        padding: 25px 0;}

    /*Drop Down Menu*/
    .dropdown {
        font-size: 14px;}

    .dropdown li a {
        padding: 0 20px; }

    .dropdown > li ,.dropdown > li:hover, .dropdown > li.current-menu-item {
        height: 55px;
        line-height: 55px;}

    .dropdown li:hover > ul {
        top:55px;}

    /*Header Boxes*/
    .header .box {
        margin-right:3px;
        margin-bottom:3px !important;}

    .header .box-2, .header .box-2 img {
        width: 65px;
        height: 62px !important;}

    .header .box-1, .header .box-1 img {
        width: 150px;
        height: 192px;}

    .header .box-1 span {
        line-height:192px;}

    .header .box-2 span {
        line-height:62px;}

    .header .box a {
        font-size: 11px;
        font-weight: 600;}

    /* Logo */

    .logo {
        padding: 18px 0 0;
        float: left;}

    .logo h2,
    .logo h2 a{
        font-size: 22px;
        margin: 0;}

    /*Header Title*/
    .header-bottom .header-title,
    .header .header-title,
    .header-bottom .shortcode-title{
        width:300px;
        margin:0 auto;
        padding:25px 0 29px;}

    .header-bottom .shortcode-title h2 span{
        font-size:23px;}

    .header .header-title{
        padding:0;}

    .header_big .header-title {
        margin-bottom:70px;}

    .header-bottom .header-title h1,
    .header .header-title h1 {
        font-size:19px;}

    .header_big .header-title {
        margin-bottom: 70px;}

    .header-bottom .header-title h5,
    .header .header-title h5 {
        font-size:16px;}

    .video iframe {
        width:100% !important;
        height:250px;}

    /*Service item*/

    .service_item {
        width:250px;
        padding: 25px;
        margin: 0 0 35px;}

    .service_item .service_title h2 {
        font-size: 21px; }

    .service_item .service_desc p {
        font-size: 14px;}

    .link-more {
        font-size: 16px;}


    /*Categories Item*/
    .header-categories {
        padding: 45px 0 35px;}

    .categories-item {
        width: 250px;
        margin: 0 0 15px;
        padding: 20px 25px 25px;}

    .categories-item .categories_title {
        margin-bottom: 20px;}

    .categories-style2 .categories-item {
        width: 300px;
        padding: 0;}

    .categories-style2 .categories_title {
        margin: 0;}

    .categories-style2 .categories-item h2 {
        font-size: 31px;
        line-height: 97px;
        padding: 0 25px;}

    .categories-style2 .categories-item .categories_desc {
        padding: 25px;}

    .categories-item .categories_title h2 a {
        font-size: 19px;}

    .categories-item .categories_desc p {
        font-size: 14px;}

    /* BTN*/

    .btn, .entry .btn {
        font-size: 13px;
        padding: 5px 10px;}

    /*testimonials*/

    .header_testimonials {
        width: 300px;}

    .header_testimonials .quote-image {
        width: 150px;}

    .header_testimonials .slider_wrapper {
        width: 300px;}


    .header_testimonials .quote-text {
        padding-right: 0; }

    .quote-text {
        font-size: 14px;
        padding: 30px 20px;
        line-height: 25px;}

    .content .slider.slider_quotes h3 {
        font-size:29px ;
        top: 8px;
        right:25px;
        margin-bottom: 10px;}

    .slider_quotes .slider_wrapper {
        display: block}
    /*team box*/

    .team-box {
        float: left;
        width:300px;
        margin: 0 0 40px;}

    .team-box .team-description {
        padding: 30px 20px 25px;}

    .team-box .team-contact {
        height: 60px;
        line-height: 55px; }

    /* blog/portofolio filter  / contact list*/

    .portfolio_filter ul, .blog_filter ul, .contact_list ul {
        font-size: 15px;}

    .portfolio_filter ul li,
    .blog_filter ul li,
    .contact_list ul li {
        padding: 10px;}

    /*middle bottom container*/

    .partener h2 {
        font-size: 17px;
        top: -57px;
        margin-bottom: -20px;}

    .partnerships {
        padding: 30px 0;
        line-height: 70px;
        margin: 0 0 0 20px;
        text-align: center;}

    .partnerships li {
        float: none;
        margin-right: 40px;
        display: inline; }

    .question {
        text-align: center;
        padding: 25px 0;
        margin: 0 10px;}

    .question h2 {
        float:none;
        line-height: 2.3em;
        font-size:16px;}

    /* Header Sliders */
    .header_slider {
        padding:0;
        width:300px;
        height:232px}

    .header_slider .oneByOne1 {
        width:300px;
        height:384px;}

    .header_slider .oneByOne_slide {
        position: relative;
        width:300px;
        height:384px}

    .oneByOne_item .slider_title {
        top: 65px;
        width: 260px;
        left: 20px;}

    .oneByOne_item .slider_title strong {
        font-size:24px;}

    .slider_btn {
        left: 75px}

    .arrowButton .prevArrow, .arrowButton .nextArrow {
        top:150px}
    .arrowButton .prevArrow{
        left:2px}
    .arrowButton .prevArrow:hover{
        left:0}
    .arrowButton .nextArrow{
        right:2px;
        background-position:-14px 0}
    .arrowButton .nextArrow:hover {
        right:0}

    /* Image & Video Slider */
    .vidimg_slider .slider_item {
        width:300px;
        height:424px;
        padding:10px 0}

    .vidimg_slider .slider_image {
        background:#efefef;
        width:250px;
        height:141px;
        padding:5px;
        float:none;
        margin:0 auto}

    .vidimg_slider .slide_image_right .slider_image {
        float:none;}

    .vidimg_slider .slider_image iframe {
        width:250px;
        height:141px;}

    .vidimg_slider .slider_text {
        width: auto;
        height: auto;
        float:none;
        padding:10px 0 0 0;
        margin:0;}

    .vidimg_slider .slide_image_right .slider_text {
        margin:0;}

    .vidimg_slider .slider_text p,
    .img_slider .slider_text p  {
        display:none;}

    .vidimg_slider .slider_text h2 {
        font-size:16px;
        font-weight:500;
        margin:0;
        padding-bottom:2px}

    .vidimg_slider .prev, .vidimg_slider .next,
    .img_slider .prev, .img_slider .next {
        background: url(images/slider_nextprev.png) 0 -18px no-repeat;
        width: 15px;
        height: 36px;
        top:225px}

    .vidimg_slider .prev{
        left:0}
    .vidimg_slider .prev:hover{
        left:0}

    .vidimg_slider .next,
    .img_slider .next{
        right:0;
        background-position:-45px -18px;}
    .vidimg_slider .next:hover,
    .img_slider .next:hover {
        right:0}

    /* Image Slider */
    .img_slider .slider_item {
        width:300px;
        height:149px;
        padding-top:30px}

    .img_slider .slider_image {
        width:300px;
        height:149px}

    .img_slider .slider_text {
        bottom:0;
        width:300px;
        height:20px;
        padding:5px 0;}

    .img_slider .slider_text h2 {
        font-size:14px;
        margin:0}

    .img_slider .prev, .img_slider .next {
        background: url(images/slider_nextprev.png) 0 50% no-repeat;
        width: 15px;
        height: 119px;
        position: absolute;
        z-index:2;
        top:186px;
        overflow:hidden;
        text-indent:-400px}

    .img_slider .prev,
    .img_slider .prev:hover{
        left:3px}

    .img_slider .next,
    .img_slider .next:hover{
        right:3px;
        background-position:-45px 50%}

    /*CONTENT BOX*/
    .content_box {
        padding: 20px;
        margin-bottom: 35px;}

    /* Footer Widgetarea and Social */

    footer .container {
        padding: 40px 0 25px; }

    .f-col {
        width: 280px;
        float: left;
        margin: 0 0 20px 10px;}

    .copyright {
        font-size: 14px;}

    /*Widgets */
    .sidebar .widget-container .widget-title {
        font: 15px 'Open Sans';
        line-height: 55px;
        height: 55px;
        padding: 0 0 0 25px;
        margin: 0 0 15px;}

    .widget-testimonials {
        margin-bottom: 40px;
        padding: 20px 35px;}

    .widget-testimonials .testimonials-text ,
    .widget-testimonials.right .testimonials-text{
        float:none;}
    .widget-testimonials.right .testimonials-img {
        float: left;}

    .widget-container.widget_nav_menu li a, .widget_categories li a, .widget_archive li a, .widget_links li a, .widget_meta li a, .widget_pages li a {
        display: block;
        border-left: 3px solid transparent;
        padding: 12px 25px 12px 22px;}

    .widget_nav_menu li, .widget_categories li, .widget_archive li, .widget_links li, .widget_meta li, .widget_pages li {
        font-size: 13px;}

    .widget-container.widget_recent_entries ul, .widget-container.widget_recent_comments ul {
        padding: 0 25px;}

    .sidebar .widget-container.widget_recent_comments li {
        line-height: 1.4em !important; }

    .widget_tag_cloud .tagcloud {
        padding: 8px 25px;}

    .widget_tag_cloud .tagcloud a {
        font-size: 11px !important;}

    .sidebar .widget-container-2 {
        padding: 35px 25px 40px 22px;}

    .newsletterBox .inputField,
    .widget_search .inputField{
        width: 158px;}

    .testimonials-list {
        width: 300px;}

    .widget-testimonials .testimonials-text {
        width: 70%;}

    .widget_contact .inner {
        padding: 10px 25px;}

    /*Join US & Tweeter*/

    .join-box h2 a {
        font-size: 26px;
        padding: 25px 0 25px 25px}

    .join-ico {
        margin-right: 15px;}

    .sidebar .widget-container .widget-tweeter h3, .sidebar .widget-tweeter h3, .content .widget-container .widget-tweeter h3, .content .widget-tweeter h3 {
        font-size: 26px;
        line-height: 90px;
        margin: 0 0 30px;
        padding-left: 25px; }

    .widget-tweeter .tweet_item {
        padding: 0 25px;
        margin-bottom: 30px;}

    .flickr-inner {
        padding: 10px 15px;}

    /* extendent elements */
    .frame_left {
        margin:5px 20px 5px 0}
    .frame_right {
        margin:5px 0 5px 20px}
    .f-col .newsletterBox,
    .f-col .widget_search,
    .f-col .widget_login {
        width:220px !important}

    .f-col .widget_search .inputField,
    .f-col .newsletterBox .inputField{
        width: 111px;}

    .f-col .widget_login input{
        width:164px}

    .toggle_content.boxed {
        padding:20px}

    .tabs_framed .tabs {
        height:52px}

    .tabs_framed .tabs li {
        margin: 0 3px 0 0;
        padding: 8px 0 0 0;
        height: 52px;}

    .tabs_framed .tabs li a {
        font-size:15px;
        line-height: 52px;
        padding: 0 30px;}

    .small_tabs .tabs {
        height: 38px;}

    .small_tabs .tabs li {
        padding:5px 0 0 0;
        height: 40px;}

    .small_tabs .tabs li a {
        font-size: 13px;
        padding: 0 15px;
        height: 40px;
        line-height: 40px;}
    /* Buttons */

    input.btn {
        padding: 0 20px; }

    /* Slideshow Gallery and Text */
    .slider_small {
        width:280px}

    .slider_medium {
        width: 280px;}

    .slider .slider-item {
        padding:10px}

    .slider_small .slider-item,
    .slider_small .slider-item iframe {
        width: 240px;
        height: 135px;}

    .slider_medium .slider-item, .slider_medium .slider-item iframe {
        width: 240px;
        height: 135px;}

    .col_1_2 .slider_small {
        margin:0 0 0 10px}

    .slider_quotes {
        text-align: center;}

    .slider_quotes .slider-item {
        padding:0;
        width:250px}

    .slider_mini {
        width: 256px;}

    .slider_mini .slider-item, .slider_mini .slider-item iframe {
        width: 236px;
        height: 133px; }

    /* Styled Tables and Boxes */
    .styled_table table tr th,
    .sb .box_title	{
        font-size:14px;}

    .styled_table table tr th,
    .styled_table table tr td,
    .sb .box_title	{
        padding:5px 10px;}
    .styled_table table tbody td,
    .sb .box_content {
        padding:8px 15px;}

    /* Blog post list */
    .post-item .post-title, .about-item .about-title {
        margin: 0 15px 10px 15px;}

    .post-item .post-desc {
        margin: 0 15px 10px;}

    .post-meta-bot .post-meta.post-view, .post-meta-bot .post-meta.post-comm {
        width: 85px;}

    .post-meta-bot .post-meta.post-author {
        width: 127px;}

    .post-meta-bot .post-meta.post-read {
        width: 300px;}

    .post-item .post-meta, .post-meta a {
        float: left;
        padding: 12px 0;
        font-weight:600;
        height: 24px;
        font-size: 13px;}

    .about-item .about-desc {
        margin: 0 30px 10px; }

    .post-item .post-meta a {
        padding: 0 !important;
        margin-left: 100px;}

    /* posts navigation */
    .tf_pagination .page-numbers {
        line-height: 41px;
        padding: 8px 13px 8px;}

    .tf_pagination .page_prev {
        left:20%}
    .tf_pagination .page_next {
        right:20%;}

    .tf_pagination .page_prev, .tf_pagination .page_next {
        padding: 8px 13px 8px;}

    /* Author description */
    .author-description {
        padding: 30px 0;}

    .author-image {
        width: 95px;
        margin-right: 20px;}

    .author-image img {
        width: 95px;
        height: 95px;}

    .author-text {
        float: left;
        width: 230px;}

    /* Comment list */
    .comment-list h2 {
        font-size: 24px;
        margin: 0 0 25px 0;}

    .link-add-comment {
        top:25px;
        right:5px;}

    .comment-body {
        padding: 25px 15px;}

    .comment-avatar,
    .comment-list li li .comment-avatar {
        width: 35px;
        margin-right: 10px;
        float:left;}

    .comment-avatar .avatar img,
    .comment-list li li .comment-avatar .avatar img {
        width:95px;
        height:95px;}

    .comment-text,
    .children .comment-text,
    .children .children .comment-text {
        float:left;}

    .comment-author {
        text-align:right;}

    .link-author {
        float:left;
        display:inline;}

    .children li {
        padding-left: 0;}

    /* Comment form / Contact form */

    .add-comment.contact-form  {
        width: 300px;}

    .comment-form .row .label_title {
        font-size: 14px;}

    .add-comment h3,.comment-respond h3,
    .contact-form h3 {
        height: 89px;
        line-height: 89px;
        font-size: 20px;}

    .comment-form .form-inner,.comment-respond .comment-form {
        padding: 0 45px;}

    .cols2 .contact-form .comment-form .inputtext,
    .cols2 .contact-form .comment-form .textarea,
    #topm-select {
        max-width: 190px;}
    
    .cols2 .contact-form .comment-form .select_styled
     {
        max-width: 210px;}
     
     .full_width .contact-form .comment-form .inputtext,
    .full_width  .contact-form .comment-form .textarea,
    #topm-select {
        max-width: 190px;}
    
    .full_width .contact-form .comment-form .select_styled
     {
        max-width: 210px;}
     
     .full_width .add-comment.contact-form {
width:300px;
}

    .comment-form .input_full,
    .comment-form .textarea {
        width:190px;}

    .comment-form .rowRadio,
    .comment-form .rowCheckbox {
        width:225px}

    .comment-form .select_styled{
        width:210px;}
.header .minigallery_carousel .prev, .header .minigallery_carousel .next {
display: none !important;
}

    /* minigallery_carousel */
    .minigallery_carousel {
        padding:0 25px}

    /* Gallery list / Portfolio */
    .gl_col_2 .gallery-item,
    .gl_col_3 .gallery-item
    .gl_col_4 .gallery-item{
        margin: 0 0 20px 0;}

    .gl_col_2 .gallery-item ,
    .gl_col_2 .gallery-item img{
        width: 300px;
        height: 196px;}

    .gl_col_3 .gallery-item,
    .gl_col_3 .gallery-item img{
        width: 280px;
        height: 280px;}

    .gl_col_4 .gallery-item,
    .gl_col_4 .gallery-item img {
        width: 280px;
        height: 280px !important;}
}

@media only screen and (min-width: 480px) {
    .cols2 .contact-form .comment-form .inputtext.tfuse_rf_post_datepicker_in,
     .cols2 .contact-form .comment-form .inputtext.tfuse_rf_post_datepicker_out{
max-width: 127px;
}
.full_width .contact-form .comment-form .inputtext.tfuse_rf_post_datepicker_in,
     .full_width .contact-form .comment-form .inputtext.tfuse_rf_post_datepicker_out{
max-width: 127px;
}
    .comment-form .rowSubmit ,.comment-form p.form-submit{
padding: 20px 45px;
margin: 20px -45px;
}
    .link-reset {
right: 45px;
font-size: 12px;
}
.full_width .comment-form .inputtext, .full_width .comment-form .textarea {
width: 337px;
}
.full_width .add-comment ,.full_width .comment-respond{
width: 465px;
}
.comment-form .inputtext, .comment-form .textarea{
width: 302px;
}

.map.sortcode{max-width:425px;}
    .container {
        width:468px}

    .cols2 .content .row .col {
        margin:5px 0;
    }
    .alignleft {float:left;}  .alignright {float:right;}
    img.alignleft {
        margin:2px 10px 5px 0 !important}
    img.alignright {
        margin:2px 0 5px 10px !important}

    /* Columns width's
  --------------------------------------------------*/
    .col_1,
    .col_1_2,
    .col_1_3,
    .col_2_3,
    .col_1_4,
    .col_3_4,
    .row .col_1, .cols2 .content .row .col_1,
    .row .col_1_2, .cols2 .content .row .col_1_2,
    .row .col_1_3, .cols2 .content .row .col_1_3,
    .row .col_2_3, .cols2 .content .row .col_2_3,
    .row .col_1_4, .cols2 .content .row .col_1_4,
    .row .col_3_4, .cols2 .content .row .col_3_4 {width:468px}



    /* Row inside content-box*/
    .cols2 .content .content_box .row .col_1 {width:428px}
    .cols2 .content .content_box .row .col_1_2 {width:428px}
    .cols2 .content .content_box .row .col_1_3 {width:428px}
    .cols2 .content .content_box .row .col_2_3 {width:428px}
    .cols2 .content .content_box .row .col_1_4 {width:428px}
    .cols2 .content .content_box .row .col_3_4 {width:428px}

    /* Row inside content-box full-width*/
    .full_width .content .content_box .row .col_1 {width:428px}
    .full_width .content .content_box .row .col_1_2 {width:428px}
    .full_width .content .content_box .row .col_1_3 {width:428px}
    .full_width .content .content_box .row .col_2_3 {width:428px}
    .full_width .content .content_box .row .col_1_4 {width:428px}
    .full_width .content .content_box .row .col_3_4 {width:428px}
    .full_width .content .content_box .row .col_1_5 {width:428px}
    .full_width .content .content_box .row .col_4_5 {width:428px}

    h1{font-size:19px}
    h2{font-size:19px}
    h3{font-size:17px}
    h4{font-size:16px}
    h5{font-size:15px}
    h6{font-size:13px}

    /* default: sidebar right */
    #middle .content {
        width: 468px;
        float:left;
        min-height:100px;
        margin:0 auto}

    #middle .sidebar {
        width: 468px;
        float:left;
        margin:0 auto}

    /* sidebar left */
    #middle.sidebar_left .content {
        width: 468px;
        float:right;
        margin:0 auto}

    #middle.sidebar_left .sidebar {
        width: 468px;
        float:left;
        margin:0 auto}

    #middle.full_width .content,
    #middle.full_width .post-detail,
    #middle.full_width2 .content,
    #middle.full_width2 .post-detail {
        width:468px;
        float:none;
        margin:0}

    #middle.full_width .content {
        padding:60px 0}

    #middle.full_width2 .content,
    #middle.cols2 .content,
    #middle.cols2 .sidebar {
        padding:40px 0 30px;
    }

    #middle.cols2 .content {
        border-bottom:1px dashed #8e8071;
    }

    /* Header top */
    .header_top {
        height:58px;}

    .header_top .container {
        width:468px;}

    .header .container {
        padding-top:35px;
        width:468px;
        height:250px;}

    .header-medium .container {
        width:468px;
        height:250px;}

    .header_thin .container {
        height: 110px;
        padding-top: 25px;}

    .header_big .container {
        padding-top:45px;
        height:595px;
        width:468px;}

    /*header carousel*/

    .header .minigallery_carousel {
        padding: 0;
        margin: 10px 0 0; }

    .header .minigallery_carousel li {
        width: 448px;
        min-height: 450px;
        margin: 0 10px;}

    .minigallery_pagination .pagination {
        width: 468px;
        padding: 25px 0;}

    /*Drop Down Menu*/
    .dropdown {
        font-size: 14px;}

    .dropdown li a {
        padding: 0 20px; }

    .dropdown > li ,.dropdown > li:hover, .dropdown > li.current-menu-item {
        height: 55px;
        line-height: 55px;}

    .dropdown li:hover > ul {
        top:55px;}

    /*Header Boxes*/
    .header .box {
        margin-right:7px;
        margin-bottom:7px !important;}

    .header .box-2, .header .box-2 img {
        width: 96px;
        height: 91px !important;}

    .header .box-1, .header .box-1 img {
        width: 149px;
        height: 198px;}

    .header .box-1 span {
        line-height:288px;}

    .header .box-2 span {
        line-height:91px;}

    .header .box a {
        font-size: 14px;
        font-weight: 600;}

    /* Logo */

    .logo {
        padding: 18px 0 0;
        float: left;}

    .logo h2,
    .logo h2 a{
        font-size: 22px;
        margin: 0;}

    /*Header Title*/
    .header-bottom .header-title,
    .header .header-title,
    .header-bottom .shortcode-title{
        width:468px;
        margin:0 auto;
        padding:25px 0 29px;}

    .header-bottom .shortcode-title h2 span{
        font-size:23px;}

    .header .header-title{
        padding:0;}

    .header_big .header-title {
        margin-bottom:70px;}

    .header-bottom .header-title h1,
    .header .header-title h1 {
        font-size:26px;}

    .header_big .header-title {
        margin-bottom: 70px;}

    .header-bottom .header-title h5,
    .header .header-title h5 {
        font-size:19px;}

    .video iframe {
        width:100% !important;
        height:225px;}

    /*Service item*/

    .service_item {
        width:416px;
        padding: 25px;
        margin: 0 0 35px;}

    .service_item .service_title h2 {
        font-size: 21px; }

    .service_item .service_desc p {
        font-size: 14px;}

    .link-more {
        font-size: 16px;}


    /*Categories Item*/
    .header-categories {
        padding: 45px 0 35px;}

    .categories-item {
        width: 418px;
        margin: 0 0 15px;
        padding: 20px 25px 25px;}

    .categories-item .categories_title {
        margin-bottom: 20px;}

    .categories-style2 .categories-item {
        width: 468px;
        padding: 0;}

    .categories-style2 .categories_title {
        margin: 0;}

    .categories-style2 .categories-item h2 {
        font-size: 31px;
        line-height: 97px;
        padding: 0 25px;}

    .categories-style2 .categories-item .categories_desc {
        padding: 25px;}

    .categories-item .categories_title h2 a {
        font-size: 19px;}

    .categories-item .categories_desc p {
        font-size: 14px;}

    /*testimonials*/

    .header_testimonials {
        width: 468px;}

    .header_testimonials .quote-image {
        width: 150px;}

    .header_testimonials .slider_wrapper {
        width: 300px;}


    .header_testimonials .quote-text {
        padding-right: 0; }

    .quote-text {
        font-size: 14px;
        padding: 30px 20px;
        line-height: 25px;}

    .content .slider.slider_quotes h3 {
        font-size:29px ;
        top: 8px;
        right:25px;
    }

    .slider_quotes .slider_wrapper {
        display: block;}

    /* BTN*/

    .btn, .entry .btn {
        font-size: 14px;
        padding: 10px 25px;}
    /*team box*/

    .team-box {
        float: left;
        width:468px;
        margin: 0 0 40px;}

    .team-box .team-description {
        padding: 30px 20px 25px;}

    .team-box .team-contact {
        height: 60px;
        line-height: 55px; }

    /* blog/portofolio filter  / contact list*/

    .portfolio_filter ul, .blog_filter ul, .contact_list ul {
        font-size: 15px;}

    .portfolio_filter ul li,
    .blog_filter ul li,
    .contact_list ul li {
        padding: 25px 22px;}

    /*middle bottom container*/

    .partener h2 {
        font-size: 17px;
        top: -57px;
        margin-bottom: -20px;}

    .partnerships {
        padding: 30px 0;
        line-height: 70px;
        margin: 0 0 0 20px;
        text-align: center;}

    .partnerships li {
        float: none;
        margin-right: 40px;
        display: inline; }

    .question {
        text-align: left;
        padding: 25px 0;
        margin: 0 10px;}

    .question h2 {
        float:left;
        line-height: 2.7em;
        font-size:19px;}

    /* Header Sliders */
    .header_slider {
        padding:0;
        width:468px;
        height:232px}

    .header_slider .oneByOne1 {
        width:468px;
        height:384px;}

    .header_slider .oneByOne_slide {
        position: relative;
        width:468px;
        height:384px}

    .oneByOne_item .slider_title {
        top: 65px;
        width: 384px;
        left: 40px;}

    .oneByOne_item .slider_title strong {
        font-size:24px;}

    .slider_btn {
        left: 150px}

    .arrowButton .prevArrow, .arrowButton .nextArrow {
        top:150px}
    .arrowButton .prevArrow{
        left:2px}
    .arrowButton .prevArrow:hover{
        left:0}
    .arrowButton .nextArrow{
        right:2px;
        background-position:-14px 0}
    .arrowButton .nextArrow:hover {
        right:0}

    /* Image & Video Slider */
    .vidimg_slider .slider_item {
        width:300px;
        height:424px;}

    .vidimg_slider .slider_image,
    .vidimg_slider .slider_image iframe {
        width:300px;
        height:169px;}

    .vidimg_slider .slider_text {
        padding:5px 0 0 0;}

    .vidimg_slider .prev, .vidimg_slider .next,
    .img_slider .prev, .img_slider .next {
        top:110px}

    .vidimg_slider .prev,
    .vidimg_slider .prev:hover{
        left:10px}

    .vidimg_slider .next,
    .img_slider .next{
        right:10px;}
    .vidimg_slider .next:hover,
    .img_slider .next:hover {
        right:10px}

    .vidimg_slider .slider_text h2 {
        font-size:16px;
        font-weight:500;
        margin:0;
        padding-bottom:2px}

    /* Image Slider */
    .img_slider .slider_item {
        width:430px;
        height:228px;
        padding-top:0}

    .img_slider .slider_image {
        width:430px;
        height:228px}

    .img_slider .slider_text {
        bottom:0;
        width:430px;
        height:20px;
        padding:5px 0;}

    .img_slider .slider_text h2 {
        font-size:15px;
        margin:0}

    .img_slider .prev, .img_slider .next {
        background: url(images/slider_nextprev.png) 0 50% no-repeat;
        width: 15px;
        height: 198px;
        position: absolute;
        z-index:2;
        top:86px;
        overflow:hidden;
        text-indent:-400px}

    .img_slider .prev,
    .img_slider .prev:hover{
        left:25px}

    .img_slider .next,
    .img_slider .next:hover{
        right:25px;
        background-position:-45px 50%}

    /*CONTENT BOX*/
    .content_box {
        padding: 20px;
        margin-bottom: 35px;}

    /* Footer Widgetarea and Social */

    footer .container {
        padding: 40px 0 25px; }

    .f-col {
        width: 224px;
        float: left;
        margin: 0 0 20px 10px;}

    .copyright {
        font-size: 14px;}

    /*Widgets */
    .sidebar .widget-container .widget-title {
        font: 15px 'Open Sans';
        line-height: 55px;
        height: 55px;
        padding: 0 0 0 25px;
        margin: 0 0 15px;}

    .widget-testimonials {
        margin-bottom: 40px;
        padding: 20px 35px;}

    .widget-container.widget_nav_menu li a, .widget_categories li a, .widget_archive li a, .widget_links li a, .widget_meta li a, .widget_pages li a {
        display: block;
        border-left: 3px solid transparent;
        padding: 12px 25px 12px 22px;}

    .widget_nav_menu li, .widget_categories li, .widget_archive li, .widget_links li, .widget_meta li, .widget_pages li {
        font-size: 13px;}

    .widget-container.widget_recent_entries ul, .widget-container.widget_recent_comments ul {
        padding: 0 25px;}

    .sidebar .widget-container.widget_recent_comments li {
        line-height: 1.4em !important; }

    .widget_tag_cloud .tagcloud {
        padding: 8px 25px;}

    .widget_tag_cloud .tagcloud a {
        font-size: 11px !important;}

    .sidebar .widget-container-2 {
        padding: 35px 25px 40px 22px;}

    .newsletterBox .inputField,
    .widget_search .inputField{
        width: 326px;}

    .testimonials-list {
        width: 468px;}

    .widget-testimonials .testimonials-text {
        width: 49%;}

    .widget_contact .inner {
        padding: 10px 25px;}

    .widget-testimonials.right .testimonials-img {
        float: right;
    }

    .widget-testimonials.right .testimonials-text {
        float: right;
    }

    .widget-testimonials .testimonials-text {
        float:right;
    }

    /*Join US & Tweeter*/

    .join-box h2 a {
        font-size: 26px;
        padding: 25px 0 25px 25px}

    .join-ico {
        margin-right: 15px;}

    .sidebar .widget-container .widget-tweeter h3, .sidebar .widget-tweeter h3, .content .widget-container .widget-tweeter h3, .content .widget-tweeter h3 {
        font-size: 26px;
        line-height: 90px;
        margin: 0 0 30px;
        padding-left: 25px; }

    .widget-tweeter .tweet_item {
        padding: 0 25px;
        margin-bottom: 30px;}

    .flickr-inner {
        padding: 10px 15px;}

    /* extendent elements */
    .frame_left {
        margin:5px 20px 5px 0}
    .frame_right {
        margin:5px 0 5px 20px}
    .f-col .newsletterBox,
    .f-col .widget_search,
    .f-col .widget_login {
        width:220px !important}

    .f-col .widget_search .inputField,
    .f-col .newsletterBox .inputField{
        width: 111px;}

    .f-col .widget_login input{
        width:164px}

    .toggle_content.boxed {
        padding:20px}

    .tabs_framed .tabs {
        height:52px}

    .tabs_framed .tabs li {
        margin: 0 3px 0 0;
        padding: 8px 0 0 0;
        height: 52px;}

    .tabs_framed .tabs li a {
        font-size:15px;
        line-height: 52px;
        padding: 0 30px;}

    .small_tabs .tabs {
        height: 38px;}

    .small_tabs .tabs li {
        padding:5px 0 0 0;
        height: 40px;}

    .small_tabs .tabs li a {
        font-size: 13px;
        padding: 0 15px;
        height: 40px;
        line-height: 40px;}
    /* Buttons */

    input.btn {
        padding: 0 20px; }

    /* Slideshow Gallery and Text */
    .slider_small {
        width:298px}

    .slider_medium {
        width: 398px;}

    .slider .slider-item {
        padding:10px}

    .slider_small .slider-item,
    .slider_small .slider-item iframe {
        width: 288px;
        height: 162px;}

    .slider_medium .slider-item, .slider_medium .slider-item iframe {
        width: 378px;
        height: 213px; }

    .col_1_2 .slider_small {
        margin:0 0 0 10px}

    .slider_quotes .slider-item {
        padding:0;
        width:428px}

    .slider_mini {
        width: 256px;}

    .slider_mini .slider-item, .slider_mini .slider-item iframe {
        width: 236px;
        height: 133px; }

    /* Styled Tables and Boxes */
    .styled_table table tr th,
    .sb .box_title	{
        font-size:16px;}

    .styled_table table tr th,
    .styled_table table tr td,
    .sb .box_title	{
        padding:10px 15px;}
    .styled_table table tbody td,
    .sb .box_content {
        padding:8px 15px;}

    /* Blog post list */
    .post-item .post-title, .about-item .about-title {
        margin: 0 30px 10px 30px;}

    .post-item .post-desc {
        margin: 0 30px 10px;}

    .post-meta-bot .post-meta.post-view, .post-meta-bot .post-meta.post-comm {
        width: 85px;}

    .post-meta-bot .post-meta.post-author {
        width: 120px;}

    .post-meta-bot .post-meta.post-read {
        width: 120px;}

    .post-item .post-meta, .post-meta a {
        float: left;
        padding: 12px 0;
        font-weight:600;
        height: 24px;
        font-size: 13px;}

    .about-item .about-desc {
        margin: 0 30px 10px; }

    .post-item .post-meta a {
        padding: 0 !important;
        margin-left: 15px;}

    /* posts navigation */
    .tf_pagination .page-numbers {
        line-height: 41px;
        padding: 11px 16px 10px;}

    .tf_pagination .page_prev {
        left:20%}
    .tf_pagination .page_next {
        right:20%;}
    .tf_pagination .page_prev, .tf_pagination .page_next {
        padding: 11px 16px 10px;}
    /* Author description */
    .author-description {
        padding: 30px 0;}

    .author-image {
        width: 60px;
        margin-right: 20px;}

    .author-image img {
        width: 95px;
        height: 95px;}

    .author-text {
        float: left;
        width: 300px;}

    /* Comment list */
    .comment-list h2 {
        font-size: 24px;
        margin: 0 0 25px 0;}

    .link-add-comment {
        top:10px;
        right:5px;}

    .comment-body {
        padding: 25px 35px;}

    .comment-avatar,
    .comment-list li li .comment-avatar {
        width:55px;
        margin-right:20px;
        float:left;}

    .comment-avatar .avatar img,
    .comment-list li li .comment-avatar .avatar img {
        width:95px;
        height:95px;}

    .comment-text,
    .children .comment-text,
    .children .children .comment-text {
        float:left;}

    .comment-author {
        text-align:right;}

    .link-author {
        float:left;
        display:inline;}

    .children li {
        }

    /* Comment form / Contact form */

    .add-comment.contact-form  {
        width: 448px;}

    .comment-form .row .label_title {
        font-size: 14px;}

    .add-comment h3,.comment-respond h3,
    .contact-form h3 {
        height: 89px;
        line-height: 89px;
        font-size: 23px;}

    .comment-form .form-inner,.comment-respond .comment-form {
        padding: 0 45px;}

    .full_width .add-comment.contact-form {
width:448px;
}

.full_width .contact-form .comment-form .inputtext,#topm-select 
     {
        max-width: 147px;}
    
    
    .full_width .contact-form .comment-form .select_styled
    {
        max-width: 166px;}
    
    .full_width .contact-form .comment-form .textarea{
        max-width: 334px;
    }
    
    .cols2 .contact-form .comment-form .inputtext,#topm-select 
     {
        max-width: 147px;}
    
    
    .cols2 .contact-form .comment-form .select_styled
    {
        max-width: 166px;}
    
    .cols2 .contact-form .comment-form .textarea{
        max-width: 334px;
    }

    .comment-form .input_full,
    .comment-form .textarea {
        width:302px;}

    .comment-form .rowRadio,
    .comment-form .rowCheckbox {
        width:253px}

    .comment-form .select_styled{
        width:167px;}


    /* minigallery_carousel */
    .minigallery_carousel {
        padding:0 25px}

    /* Gallery list / Portfolio */
    .gl_col_2 .gallery-item,
    .gl_col_3 .gallery-item
    .gl_col_4 .gallery-item{
        margin: 0 10px 20px 10px;}

    .gl_col_2 .gallery-item ,
    .gl_col_2 .gallery-item img{
        width: 214px;
        height: 140px;}

    .gl_col_3 .gallery-item,
    .gl_col_3 .gallery-item img{
        width: 214px;
        height: 214px;}

    .gl_col_4 .gallery-item,
    .gl_col_4 .gallery-item img {
        width: 214px;
        height: 214px !important;}

}

@media only screen and (min-width: 768px)  {
    #topmenu{
        display: block;
    }

    #topmenu-select{
        display: none;
    }
   
     .cols2 .contact-form .comment-form .inputtext.tfuse_rf_post_datepicker_in,
     .cols2 .contact-form .comment-form .inputtext.tfuse_rf_post_datepicker_out{
max-width: 127px;
}
.full_width .contact-form .comment-form .inputtext.tfuse_rf_post_datepicker_in,
     .full_width .contact-form .comment-form .inputtext.tfuse_rf_post_datepicker_out{
max-width: 127px;
}
	.full_width .add-comment.contact-form {
width:448px;
}

.full_width .contact-form .comment-form .inputtext
     {
        max-width: 147px;}
    
    
    .full_width .contact-form .comment-form .select_styled
    {
        max-width: 166px;}
    
    .full_width .contact-form .comment-form .textarea{
        max-width: 334px;
    }
    
    .cols2 .contact-form .comment-form .inputtext,#topm-select 
     {
        max-width: 147px;}
    
    
    .cols2 .contact-form .comment-form .select_styled
    {
        max-width: 166px;}
    
    .cols2 .contact-form .comment-form .textarea{
        max-width: 334px;
    }

    .map.sortcode{max-width:390px;}
    .container {
        width: 744px;}

    .col, .cols2 .col {
        margin:0 10px;}

    img.alignleft {
        margin:2px 20px 5px 0 !important}
    img.alignright {
        margin:2px 0 5px 20px !important}

    /* Columns width's
  --------------------------------------------------*/
    .col_1 {width:724px}
    .col_1_2 {width:352px}
    .col_1_3 {width:228px}
    .col_2_3 {width:476px}
    .col_1_4 {width:166px}
    .col_3_4 {width:538px}

    /* Columns inside ROW */
    .row .col_1 {width:744px}
    .row .col_1_2 {width:362px}
    .row .col_1_3 {width:234px}
    .row .col_2_3 {width:490px}
    .row .col_1_4 {width:171px}
    .row .col_3_4 {width:553px}

    /* Columns, Page with Sidebar, Content: 620px
    --------------------------------------------------*/
    .cols2 .content .col_1 {width:620px}
    .cols2 .content .col_1_2 {width:300px}
    .cols2 .content .col_1_3 {width:193px}
    .cols2 .content .col_2_3 {width:407px}
    .cols2 .content .col_1_4 {width:140px}
    .cols2 .content .col_3_4 {width:460px}

    /* Columns inside ROW */
    .cols2 .content .row .col_1 {width:620px}
    .cols2 .content .row .col_1_2 {width:300px}
    .cols2 .content .row .col_1_3 {width:193px}
    .cols2 .content .row .col_2_3 {width:407px}
    .cols2 .content .row .col_1_4 {width:140px}
    .cols2 .content .row .col_3_4 {width:460px}

    /* Row inside content-box*/
    .cols2 .content .content_box .row .col_1 {width:398px}
    .cols2 .content .content_box .row .col_1_2 {width:189px}
    .cols2 .content .content_box .row .col_1_3 {width:119px}
    .cols2 .content .content_box .row .col_2_3 {width:259px}
    .cols2 .content .content_box .row .col_1_4 {width:84px}
    .cols2 .content .content_box .row .col_3_4 {width:294px}

    /* Row inside content-box full-width*/
    .full_width .content .content_box .row .col_1 {width:694px}
    .full_width .content .content_box .row .col_1_2 {width:337px}
    .full_width .content .content_box .row .col_1_3 {width:218px}
    .full_width .content .content_box .row .col_2_3 {width:456px}
    .full_width .content .content_box .row .col_1_4 {width:158px}
    .full_width .content .content_box .row .col_3_4 {width:516px}
    .full_width .content .content_box .row .col_1_5 {width:122px}
    .full_width .content .content_box .row .col_4_5 {width:552px}

    h1{font-size:19px}
    h2{font-size:19px}
    h3{font-size:17px}
    h4{font-size:16px}
    h5{font-size:15px}
    h6{font-size:13px}

    /* default: sidebar right */
    #middle .content {
        width: 448px;
        float:left;
        min-height:100px;
        margin:0 10px;
        }
    #middle.cols2 .content {
        border-bottom:0;
    }
    #middle .sidebar {
        width: 256px;
        float:left;
        margin:0 10px}

    /* sidebar left */
    #middle.sidebar_left .content {
        width: 448px;
        float:right;
        margin:0 10px}

    #middle.sidebar_left .sidebar {
        width: 256px;
        float:left;
        margin:0 10px}

    #middle.full_width .content,
    #middle.full_width .post-detail,
    #middle.full_width2 .content,
    #middle.full_width2 .post-detail {
        width:744px;
        float:none;
        margin:0}

    #middle.full_width .content {
        padding:60px 0 90px}

    #middle.full_width2 .content,
    #middle.cols2 .content,
    #middle.cols2 .sidebar {
        padding:60px 0;}


    /* Header top */
    .header_top {
        height:58px;}

    .header_top .container {
        width:744px;}

    .header .container {
        padding-top:50px;
        width:744px;
        height:380px;}

    .header-medium .container {
        width:744px;
        height:384px;}

    .header_thin .container {
        height: 110px;
        padding-top: 35px;}

    .header_big .container {
        padding-top:45px;
        height:595px;
        width:744px;}

    /*header carousel*/

    .header .minigallery_carousel {
        padding: 0;
        margin: 10px 0 0; }

    .header .minigallery_carousel li {
        width: 228px;
        min-height: 450px;
        margin: 0 10px;}

    .minigallery_pagination .pagination {
        width: 724px;
        padding: 25px 0;}

    /*Drop Down Menu*/
    .dropdown {
        font-size: 14px;}

    .dropdown li a {
        padding: 0 20px; }

    .dropdown > li ,.dropdown > li:hover, .dropdown > li.current-menu-item {
        height: 55px;
        line-height: 55px;}

    .dropdown li:hover > ul {
        top:55px;}

    /*Header Boxes*/
    .header .box {
        margin-right:7px;
        margin-bottom:7px !important;}

    .header .box-2, .header .box-2 img {
        width: 158px;
        height: 150px !important;}

    .header .box-1, .header .box-1 img {
        width: 240px;
        height: 307px;}

    .header .box-1 span {
        line-height:307px;}

    .header .box-2 span {
        line-height:150px;}

    .header .box a {
        font-size: 17px;
        font-weight: 600;}

    /* Logo */

    .logo {
        padding: 18px 0 0;
        float: left;}

    .logo h2,
    .logo h2 a{
        font-size: 24px;
        margin: 0;}

    /*Header Title*/
    .header-bottom .header-title,
    .header .header-title,
    .header-bottom .shortcode-title{
        width:744px;
        margin:0 auto;
        padding:25px 0 29px;}

    .header-bottom .shortcode-title h2 span{
        font-size:23px;}

    .header .header-title{
        padding:0;}

    .header_big .header-title {
        margin-bottom:70px;}

    .header-bottom .header-title h1,
    .header .header-title h1 {
        font-size:29px;}

    .header_big .header-title {
        margin-bottom: 70px;}

    .header-bottom .header-title h5,
    .header .header-title h5 {
        font-size:19px;}

    .video iframe {
        width:100% !important;
        height:300px;}

    /*Service item*/

    .service_item {
        width: 178px;
        padding: 25px;
        margin: 0 10px 35px;}

    .service_item .service_title h2 {
        font-size: 19px; }

    .service_item .service_desc p {
        font-size: 13px;}

    .link-more {
        font-size: 14px;}


    /*Categories Item*/
    .header-categories {
        padding: 45px 0 35px;}

    .categories-item {
        width: 178px;
        margin: 0 10px 15px;
        padding: 20px 25px 25px;}

    .categories-item .categories_title {
        margin-bottom: 20px;}

    .categories-style2 .categories-item {
        width: 228px;
        padding: 0;}

    .categories-style2 .categories_title {
        margin: 0;}

    .categories-style2 .categories-item h2 {
        font-size: 31px;
        line-height: 97px;
        padding: 0 25px;}

    .categories-style2 .categories-item .categories_desc {
        padding: 25px;}

    .categories-item .categories_title h2 a {
        font-size: 19px;}

    .categories-item .categories_desc p {
        font-size: 14px;}

    /*testimonials*/

    .header_testimonials {
        width: 700px;}

    .header_testimonials .quote-image {
        width: 150px;}

    .header_testimonials .slider_wrapper {
        width: 536px;}


    .header_testimonials .quote-text {
        padding-right: 0; }

    .quote-text {
        font-size: 18px;
        padding: 30px 25px;
        line-height: 25px;}

    /*team box*/

    .team-box {
        float: left;
        width: 228px;
        margin: 0 10px 40px;}

    .team-box .team-description {
        padding: 30px 20px 25px;}

    .team-box .team-contact {
        height: 60px;
        line-height: 55px; }

    /* blog/portofolio filter  / contact list*/

    .portfolio_filter ul, .blog_filter ul, .contact_list ul {
         font-size: 15px;}

    .portfolio_filter ul li,
    .blog_filter ul li,
    .contact_list ul li {
        padding: 25px 22px;}

    /*middle bottom container*/

    .partener h2 {
        font-size: 17px;
        top: -57px;
        margin-bottom: -20px;}

    .partnerships {
        padding: 30px 0;
        line-height: 70px;
        margin: 0 0 0 20px;
        text-align: center;}

    .partnerships li {
        float: none;
        margin-right: 40px;
        display: inline; }

    .question {

        padding: 25px 0;
        margin: 0 10px;}

    .question h2 {
        font-size:32px;
        line-height: 1.4em;
    }


    /* Header Sliders */
    .header_slider {
        width:744px;
        height:384px}

    .header_slider .oneByOne1 {
        width:744px;
        height:384px;}

    .header_slider .oneByOne_slide {
        position: relative;
        width:744px;
        height:384px}

    .oneByOne_item .slider_title {
        top: 65px;
        width: 584px;
        left: 80px;}

    .oneByOne_item .slider_title strong {
        font-size:35px;}

    .slider_btn {
        left: 300px}

    .arrowButton .prevArrow, .arrowButton .nextArrow {
        top:250px}
    .arrowButton .prevArrow{
        left:2px}
    .arrowButton .prevArrow:hover{
        left:0}
    .arrowButton .nextArrow{
        right:2px;
        background-position:-14px 0}
    .arrowButton .nextArrow:hover {
        right:0}

    /* Image & Video Slider */
    .vidimg_slider .slider_item {
        width:704px;
        height:390px;
        padding:30px 0 0 0 }

    .vidimg_slider .slider_image {
        background:url(images/slider_image_box.png) center no-repeat;
        width:426px;
        height:240px;
        padding:22px 29px 100px 30px;
        float:left;
        margin:0}

    .vidimg_slider .slide_image_right .slider_image {
        float:right;}

    .vidimg_slider .slider_image iframe {
        width:426px;
        height:240px;}

    .vidimg_slider .slider_text {
        width: auto;
        height: auto;
        float:none;
        padding:30px 0 0 0;
        margin:0 15px 0 0;
        font-size:14px;}

    .vidimg_slider .slide_image_right .slider_text {
        margin:0 0 0 15px}

    .vidimg_slider .slider_text p,
    .img_slider .slider_text p  {
        display:inline;}

    .vidimg_slider .slider_text h2 {
        font-size:25px;
        font-weight:bold;
        margin:0 0 15px 0;
        padding-bottom:0}

    .vidimg_slider .prev, .vidimg_slider .next,
    .img_slider .prev, .img_slider .next {
        background: url(images/slider_nextprev.png) 0 -12px no-repeat;
        width: 20px;
        height: 48px;
        top:225px}

    .vidimg_slider .prev{
        left:2px}
    .vidimg_slider .prev:hover{
        left:2px}

    .vidimg_slider .next,
    .img_slider .next{
        right:2px;
        background-position:-40px -12px;}
    .vidimg_slider .next:hover,
    .img_slider .next:hover {
        right:2px}

    .vidimg_slider .slider_btn {
        left:230px;}

    /* Image Slider */
    .img_slider {
        padding:0;
        width:744px;}

    .img_slider .slider_item {
        width:744px;
        height:420px;
        padding-top:0}

    .img_slider .slider_image {
        width:744px;
        height:394px}

    .img_slider .slider_text {
        bottom:26px;
        width:704px;
        height:60px;
        padding:10px 20px 35px 20px;
        font-size:14px;
        line-height:1.2em;}

    .img_slider .slider_text h2 {
        font-size:19px;
        margin:0 0 5px 0}

    .img_slider .prev, .img_slider .next {
        background: url(images/slider_nextprev.png) 0 60% no-repeat;
        width: 30px;
        height: 289px;
        top:86px;}

    .img_slider .prev,
    .img_slider .prev:hover{
        left:5px}

    .img_slider .next,
    .img_slider .next:hover{
        right:5px;
        background-position:-30px 60%}

    /*CONTENT BOX*/
    .content_box {
        padding: 25px;
        margin-bottom: 35px;}

    /* Footer Widgetarea and Social */

    footer .container {
        padding: 40px 0 25px; }

    .f-col {
        width: 166px;
        float: left;
        margin: 0 0 0 20px;}

    .copyright {
        font-size: 14px;}

    /*Widgets */
    .sidebar .widget-container .widget-title {
        font: 15px 'Open Sans';
        line-height: 55px;
        height: 55px;
        padding: 0 0 0 25px;
        margin: 0 0 15px;}

    .widget-testimonials {
        margin-bottom: 40px;
        padding: 20px 35px;}

    .widget-container.widget_nav_menu li a, .widget_categories li a, .widget_archive li a, .widget_links li a, .widget_meta li a, .widget_pages li a {
        display: block;
        border-left: 3px solid transparent;
        padding: 12px 25px 12px 22px;}

    .widget_nav_menu li, .widget_categories li, .widget_archive li, .widget_links li, .widget_meta li, .widget_pages li {
        font-size: 13px;}

    .widget-container.widget_recent_entries ul, .widget-container.widget_recent_comments ul {
        padding: 0 25px;}

    .sidebar .widget-container.widget_recent_comments li {
        line-height: 1.4em !important; }

    .widget_tag_cloud .tagcloud {
        padding: 8px 25px;}

    .widget_tag_cloud .tagcloud a {
        font-size: 11px !important;}

    .sidebar .widget-container-2 {
        padding: 35px 25px 40px 22px;}

    .newsletterBox .inputField,
    .widget_search .inputField{
        width: 112px;}

    .testimonials-list {
        width: 744px;}

    .widget-testimonials .testimonials-text {
        width: 70%;}

    .widget_contact .inner {
        padding: 10px 25px;}
    .author-text h4, .entry .author-text h4 {
        font-size:19px;}


    /*Join US & Tweeter*/

    .join-box h2 a {
        font-size: 26px;
        padding: 25px 0 25px 25px}

    .join-ico {
        margin-right: 15px;}

    .sidebar .widget-container .widget-tweeter h3, .sidebar .widget-tweeter h3, .content .widget-container .widget-tweeter h3, .content .widget-tweeter h3 {
        font-size: 26px;
        line-height: 90px;
        margin: 0 0 30px;
        padding-left: 25px; }

    .widget-tweeter .tweet_item {
        padding: 0 25px;
        margin-bottom: 30px;}

    .flickr-inner {
        padding: 10px 15px;}

    /* extendent elements */
    .frame_left {
        margin:5px 20px 5px 0}
    .frame_right {
        margin:5px 0 5px 20px}
    .f-col .newsletterBox,
    .f-col .widget_search,
    .f-col .widget_login {
        width:220px !important}

    .f-col .widget_search .inputField,
    .f-col .newsletterBox .inputField{
        width: 111px;}

    .f-col .widget_login input{
        width:164px}

    .toggle_content.boxed {
        padding:20px}

    .tabs_framed .tabs {
        height:52px}

    .tabs_framed .tabs li {
        margin: 0 3px 0 0;
        padding: 8px 0 0 0;
        height: 52px;}

    .tabs_framed .tabs li a {
        font-size:15px;
        line-height: 52px;
        padding: 0 30px;}

    .small_tabs .tabs {
        height: 38px;}

    .small_tabs .tabs li {
        padding:5px 0 0 0;
        height: 40px;}

    .small_tabs .tabs li a {
        font-size: 13px;
        padding: 0 15px;
        height: 40px;
        line-height: 40px;}
    /* Buttons */

    input.btn {
        padding: 0 20px; }

    /* Slideshow Gallery and Text */
    .slider_small {
        width:298px}

    .slider_medium {
        width: 398px;}

    .slider .slider-item {
        padding:10px}

    .slider_small .slider-item,
    .slider_small .slider-item iframe {
        width: 288px;
        height: 162px;}

    .slider_medium .slider-item, .slider_medium .slider-item iframe {
        width: 378px;
        height: 213px; }

    .col_1_2 .slider_small {
        margin:0 0 0 10px}

    .slider_quotes .slider-item {
        padding:15px 20px;
        width:408px}

    .slider_mini {
        width: 256px;}

    .slider_mini .slider-item, .slider_mini .slider-item iframe {
        width: 236px;
        height: 133px; }

    .content .slider.slider_quotes h3 {
        font-size: 34px;
        margin-bottom: 0;
        top: 8px;
        right: 60px;}

    .slider_quotes .slider_wrapper {
        display: inline-block;}

    .slider_quotes {
        width: 100%;
        text-align: right;
        margin-bottom: 35px;
    }

    /* Styled Tables and Boxes */
    .styled_table table tr th,
    .sb .box_title	{
        font-size:16px;}

    .styled_table table tr th,
    .styled_table table tr td,
    .sb .box_title	{
        padding:10px 15px;}
    .styled_table table tbody td,
    .sb .box_content {
        padding:8px 15px;}

    /* Blog post list */
    .post-item .post-title, .about-item .about-title {
        margin: 0 30px 10px 30px;}

    .post-item .post-desc {
        margin: 0 30px 10px;}

    .post-meta-bot .post-meta.post-view, .post-meta-bot .post-meta.post-comm {
        width: 85px;}

    .post-meta-bot .post-meta.post-author {
        width: 120px;}

    .post-meta-bot .post-meta.post-read {
        width: 120px;}

    .post-item .post-meta, .post-meta a {
        float: left;
        padding: 12px 0;
        font-weight:600;
        height: 24px;
        font-size: 13px;}

    .about-item .about-desc {
        margin: 0 30px 10px; }

    .post-item .post-meta a {
        padding: 0 !important;
        margin-left: 15px;}

    /* posts navigation */
    .tf_pagination .page-numbers {
        line-height: 41px;
        padding: 11px 16px 10px;}

    .tf_pagination .page_prev {
        left:20%}
    .tf_pagination .page_next {
        right:20%;}

    /* Author description */
    .author-description {
        padding: 30px 0;}

    .author-image {
        width: 58px;
        margin-right: 20px;}

    .author-image img {
        width: 95px;
        height: 95px;}

    .author-text {
        float: left;
        width: 300px;}

    /* Comment list */
    .comment-list h2 {
        font-size: 24px;
        margin: 0 0 25px 0;}

    .link-add-comment {
        top:10px;
        right:5px;}

    .comment-body {
        padding: 25px 35px;}

    .comment-avatar,
    .comment-list li li .comment-avatar {
        width:50px;
        margin-right:20px;
        float:left;}

    .comment-avatar .avatar img,
    .comment-list li li .comment-avatar .avatar img {
        width:95px;
        height:95px;}

    .comment-text,
    .children .comment-text,
    .children .children .comment-text {
        float:left;}

    .comment-author {
        text-align:right;}

    .link-author {
        font-size: 16px;
        float:left;
        display:inline;}

    .children li {}

    /* Comment form / Contact form */

    .add-comment.contact-form  {
        width: 448px;}

    .comment-form .row .label_title {
        font-size: 14px;}

    .add-comment h3,.comment-respond h3,
    .contact-form h3 {
        height: 89px;
        line-height: 89px;
        font-size: 23px;}

    .comment-form .form-inner,.comment-respond .comment-form {
        padding: 0 45px;}

    

    .comment-form .input_full,
    .comment-form .textarea {
        width:302px;}

    .comment-form .rowRadio,
    .comment-form .rowCheckbox {
        width:253px}

    .comment-form .select_styled{
        width:167px;}


    /* minigallery_carousel */
    .minigallery_carousel {
        padding:0 25px}

    /* Gallery list / Portfolio */
    .gl_col_2 .gallery-item,
    .gl_col_3 .gallery-item
    .gl_col_4 .gallery-item{
        margin: 0 10px 20px 10px;}

    .gl_col_2 .gallery-item ,
    .gl_col_2 .gallery-item img{
        width: 352px;
        height: 230px;}

    .gl_col_3 .gallery-item,
    .gl_col_3 .gallery-item img{
        width: 228px;
        height: 228px;}

    .gl_col_4 .gallery-item,
    .gl_col_4 .gallery-item img {
        width: 166px;
        height: 155px !important;}
          .cols2 .content .row .col {
margin: 0px 10px;
}
}

@media only screen and (min-width: 990px) {
    .cols2 .contact-form .comment-form .inputtext.tfuse_rf_post_datepicker_in,
     .cols2 .contact-form .comment-form .inputtext.tfuse_rf_post_datepicker_out{
max-width: 213px;
}
.full_width .contact-form .comment-form .inputtext.tfuse_rf_post_datepicker_in,
     .full_width .contact-form .comment-form .inputtext.tfuse_rf_post_datepicker_out{
max-width: 213px;
}
       .cols2 .content .row .col {
margin: 0px 10px;
}
 
    .header .minigallery_carousel .prev, .header .minigallery_carousel .next {
display: block !important;
}
.full_width .comment-form .inputtext  {
width: 233px;
}
.full_width .comment-form .textarea
{
width: 509px;
}
.full_width .add-comment ,.full_width .comment-respond{
        width:620px;
}
.comment-form .inputtext{
width: 233px;
}
    .map.sortcode{max-width:865px;}
    .container {
        width:960px}

    .col, .cols2 .col {
        margin:0 10px;}

    img.alignleft {
        margin:2px 20px 5px 0 !important}
    img.alignright {
        margin:2px 0 5px 20px !important}

    /* Columns, Full width page, Content: 960px
    -------------------------------------------------- */
    .col_1 {width:940px}
    .col_1_2 {width:460px}
    .col_1_3 {width:300px}
    .col_2_3 {width:620px}
    .col_1_4 {width:220px}
    .col_3_4 {width:700px}

    /* Columns inside ROW */
    .row .col_1 {width:960px}
    .row .col_1_2 {width:470px}
    .row .col_1_3 {width:306px}
    .row .col_2_3 {width:634px}
    .row .col_1_4 {width:225px}
    .row .col_3_4 {width:715px}

    /* Columns, Page with Sidebar, Content: 620px
    --------------------------------------------------*/
    .cols2 .content .col_1 {width:620px}
    .cols2 .content .col_1_2 {width:300px}
    .cols2 .content .col_1_3 {width:193px}
    .cols2 .content .col_2_3 {width:407px}
    .cols2 .content .col_1_4 {width:140px}
    .cols2 .content .col_3_4 {width:460px}

    /* Columns inside ROW */
    .cols2 .content .row .col_1 {width:620px}
    .cols2 .content .row .col_1_2 {width:300px}
    .cols2 .content .row .col_1_3 {width:193px}
    .cols2 .content .row .col_2_3 {width:407px}
    .cols2 .content .row .col_1_4 {width:140px}
    .cols2 .content .row .col_3_4 {width:460px}

    /* Row inside content-box*/
    .cols2 .content .content_box .row .col_1 {width:550px}
    .cols2 .content .content_box .row .col_1_2 {width:265px}
    .cols2 .content .content_box .row .col_1_3 {width:170px}
    .cols2 .content .content_box .row .col_2_3 {width:360px}
    .cols2 .content .content_box .row .col_1_4 {width:122px}
    .cols2 .content .content_box .row .col_3_4 {width:408px}

    /* Row inside content-box full-width*/
    .full_width .content .content_box .row .col_1 {width:890px}
    .full_width .content .content_box .row .col_1_2 {width:435px}
    .full_width .content .content_box .row .col_1_3 {width:283px}
    .full_width .content .content_box .row .col_2_3 {width:587px}
    .full_width .content .content_box .row .col_1_4 {width:207px}
    .full_width .content .content_box .row .col_3_4 {width:663px}
    .full_width .content .content_box .row .col_1_5 {width:162px}
    .full_width .content .content_box .row .col_4_5 {width:708px}

    h1{font-size:27px}
    h2{font-size:27px}
    h3{font-size:20px}
    h4{font-size:18px}
    h5{font-size:17px}
    h6{font-size:14px}

    /* default: sidebar right */
    #middle .content {
        width:620px;
        float:left;
        min-height:100px;
        margin:0 10px}

    #middle .sidebar {
        width:300px;
        float:left;
        margin:0 10px}

    /* sidebar left */
    #middle.sidebar_left .content {
        width:620px;
        float:right;
        margin:0 10px}

    #middle.sidebar_left .sidebar {
        width:300px;
        float:left;
        margin:0 10px}

    #middle.full_width .content,
    #middle.full_width .post-detail,
    #middle.full_width2 .content,
    #middle.full_width2 .post-detail {
        width:960px;
        float:none;
        margin:0}

    #middle.full_width .content {
        padding:60px 0 90px}

    #middle.full_width2 .content,
    #middle.cols2 .content,
    #middle.cols2 .sidebar {
        padding:60px 0;}


    /* Header top */
    .header_top {
        height:65px;}

    .header_top .container {
        width:940px;}

    .header .container {
        padding-top:65px;
        width:940px;
        height:454px;}

    .header-medium .container {
        width:940px;
        height:384px;}

    .header_thin .container {
        height:125px;
        padding-top:45px;}

    .header_big .container {
        padding-top:45px;
        height:595px;
        width:960px;}

    /*header carousel*/

    .header .minigallery_carousel {
        padding: 0;
        margin: 10px 0 0; }

    .header .minigallery_carousel li {
        width: 300px;
        min-height: 450px;
        margin: 0 10px;}

    .minigallery_pagination .pagination {
        width: 940px;
        padding: 25px 0;}

    /*Drop Down Menu*/
    .dropdown {
        font-size: 16px;}

    .dropdown li a {
        padding: 0 25px; }

    .dropdown > li ,.dropdown > li:hover, .dropdown > li.current-menu-item {
        height: 62px;
        line-height: 62px;}

    .dropdown li:hover > ul {
        top:62px;}

    /*Header Boxes*/
    .header .box {
        margin-right:7px;
        margin-bottom:7px !important;}

    .header .box-2,
    .header .box-2 img {
        width:202px;
        height:192px !important;}

    .header .box-1,
    .header .box-1 img {
        width:306px;
        height:391px;}

    .header .box-1 span {
        line-height:391px;}

    .header .box-2 span {
        line-height:192px;}

    .header .box a {
        font-size: 19px;
        font-weight: 600;}

    /* Logo */
    .logo {padding:20px 0 0}

    .logo h2, .logo h2 a {
        font-size: 26px;}

    /*Header Title*/
    .header-bottom .header-title,
    .header .header-title,
    .header-bottom .shortcode-title{
        width:940px;
        margin:0 auto;
        padding:35px 0 39px;}

    .header-bottom .shortcode-title h2 span{
        font-size:23px;}

    .header .header-title{
        padding:0;}

    .header_big .header-title {
        margin-bottom:70px;}

    .header-bottom .header-title h1,
    .header .header-title h1 {
        font-size:35px;}

    .header_big .header-title {
        margin-bottom: 70px;}

    .header-bottom .header-title h5,
    .header .header-title h5 {
        font-size:24px;}

    /*Service item*/

    .service_item {
        width: 220px;
        padding: 40px;
        margin: 0 10px 35px;}

    .service_item .service_title h2 {
        font-size: 23px; }

    .service_item .service_desc p, .team-text p {
        font-size: 14px;}

    .link-more {
        font-size: 16px;}

    /*Categories Item*/
    .header-categories {
        padding: 45px 0 35px;}

    .categories-item {
        width: 220px;
        margin: 0 10px 15px;
        padding: 30px 40px 25px;}

    .categories-item .categories_title {
        margin-bottom: 20px;}

    .categories-style2 .categories-item {
        width: 300px;
        padding: 0;}

    .categories-style2 .categories_title {
        margin: 0;}

    .categories-style2 .categories-item h2 {
        font-size: 31px;
        line-height: 97px;
        padding: 0 40px;}

    .categories-style2 .categories-item .categories_desc {
        padding: 30px 40px;}

    .categories-item .categories_title h2 a {
        font-size: 23px;}

    .categories-item .categories_desc p {
        font-size: 15px;}

    /*testimonials*/

    .header_testimonials {
        width: 700px;}

    .header_testimonials .quote-image {
        width: 150px;}

    .header_testimonials .slider_wrapper {
        width: 536px;}


    .header_testimonials .quote-text {
        padding-right: 0; }

    .quote-text {
        font-size: 18px;
        padding: 30px 40px;
        line-height: 25px;}

    /*team box*/

    .team-box {
        float: left;
        width: 300px;
        margin: 0 10px 60px;}

    .team-box .team-description {
        padding: 40px 40px 35px;}

    .team-box .team-contact {
        height: 60px;
        line-height: 55px; }

    /* blog/portofolio filter  / contact list*/
    .portfolio_filter ul, .blog_filter ul, .contact_list ul {
        font-size: 18px;}

    .portfolio_filter ul li,
    .blog_filter ul li,
    .contact_list ul li {
        padding: 35px 27px;
        margin-right: -5px;}

    /*middle bottom container*/

    .partener h2 {
        font-size: 18px;
        top: -57px;
        margin-bottom: -21px;}

    .partnerships {
        padding: 50px 0;
        line-height: 75px;
        margin: 0 0 0 20px; }

    .partnerships li {
        float: left;
        margin-right: 61px;}

    .question {
        padding: 35px 0;
        margin: 0 10px;}


    /* Header Sliders */
    .header_slider {
        width:960px;
        height:384px}

    .header_slider .oneByOne1 {
        width:960px;
        height:384px;}

    .header_slider .oneByOne_slide {
        position: relative;
        width:960px;
        height:384px}

    .oneByOne_item .slider_title {
        width: 800px;
        top: 65px;
        left: 80px;}

    .slider_btn {
        left: 400px;}

    .arrowButton .prevArrow, .arrowButton .nextArrow {
        top:250px}
    .arrowButton .prevArrow{
        left:2px}
    .arrowButton .prevArrow:hover{
        left:0}
    .arrowButton .nextArrow{
        right:2px;
        background-position:-14px 0}
    .arrowButton .nextArrow:hover {
        right:0}

    .header_video iframe {
        height: 390px;}

    /* Image & Video Slider */
    .vidimg_slider .slider_item {
        width:900px;
        height:424px;
        padding:30px 30px 0}

    .vidimg_slider .slider_text {
        padding:20px 0 0 0;
        margin:0 15px 0 0;
        font-size:15px;}

    .vidimg_slider .slide_image_right .slider_text {
        margin:0 0 0 15px;}

    .vidimg_slider .slider_text h2 {
        font-size:45px;
        margin:0 0 15px 0;}

    .vidimg_slider .prev, .vidimg_slider .next,
    .img_slider .prev, .img_slider .next {
        background-position:0 0;
        width: 30px;
        height: 72px;
        top:200px;}

    .vidimg_slider .prev{
        left:-10px}
    .vidimg_slider .prev:hover{
        left:-12px}

    .vidimg_slider .next,
    .img_slider .next{
        right:-10px;
        background-position:-30px 0;}
    .vidimg_slider .next:hover,
    .img_slider .next:hover {
        right:-12px}

    .vidimg_slider .slider_btn {
        left:334px;}

    /*CONTENT BOX*/
    .content_box {
        padding: 35px;
        margin-bottom: 35px;}

    /* Footer Widgetarea and Social */

    footer .container {
        padding: 60px 0 35px; }

    .f-col {
        width: 220px;
        float: left;
        margin: 0 0 0 20px;}

    .copyright {
        font-size: 14px;}

    /*Widgets */
    .sidebar .widget-container .widget-title {
        font: 17px 'Open Sans';
        line-height: 60px;
        height: 60px;
        padding: 0 0 0 35px;
        margin: 0 0 20px;}

    .widget-testimonials {
        margin-bottom: 40px;
        padding: 20px 35px;}

    .widget-container.widget_nav_menu li a, .widget_categories li a, .widget_archive li a, .widget_links li a, .widget_meta li a, .widget_pages li a {
        display: block;
        border-left: 3px solid transparent;
        padding: 14px 35px 14px 32px;}

    .widget_nav_menu li, .widget_categories li, .widget_archive li, .widget_links li, .widget_meta li, .widget_pages li {
        font-size: 14px;}

    .widget-container.widget_recent_entries ul, .widget-container.widget_recent_comments ul {
        padding: 0 35px;}

    .sidebar .widget-container.widget_recent_comments li {
        line-height: 1.5em !important;}

    .widget_tag_cloud .tagcloud {
        padding: 10px 35px;}

    .widget_tag_cloud .tagcloud a {
        font-size: 12px !important;}

    .sidebar .widget-container-2 {
        padding: 35px 35px 40px 32px;}

    .newsletterBox .inputField,
    .widget_search .inputField{
        width: 125px;}


    .testimonials-list {
        width:940px;}

    .widget-testimonials .testimonials-text {
        width: 76%;}

    .flickr-inner {
        padding: 10px 35px;}

    .widget_contact .inner {
        padding: 10px 35px;}


    /* extendent elements */
    .frame_left {
        margin:5px 20px 5px 0}
    .frame_right {
        margin:5px 0 5px 20px}
    .f-col .newsletterBox,
    .f-col .widget_search,
    .f-col .widget_login {
        width:220px !important}

    .f-col .widget_search .inputField,
    .f-col .newsletterBox .inputField{
        width: 111px;}

    .f-col .widget_login input{
        width:164px}

    .toggle_content.boxed {
        padding:20px}

    .tabs_framed .tabs {
        height:52px}

    .tabs_framed .tabs li {
        margin: 0 3px 0 0;
        padding: 8px 0 0 0;
        height: 52px;}

    .tabs_framed .tabs li a {
        font-size:15px;
        line-height: 52px;
        padding: 0 30px;}

    .small_tabs .tabs {
        height: 38px;}

    .small_tabs .tabs li {
        padding:5px 0 0 0;
        height: 40px;}

    .small_tabs .tabs li a {
        font-size: 13px;
        padding: 0 15px;
        height: 40px;
        line-height: 40px;}
     /* Buttons */

    input.btn {
        padding: 0 23px; }

    /* Slideshow Gallery and Text */
    .slider_small {
        width:430px}

    .slider_medium {
        width: 550px;}

    .slider .slider-item {
        padding:10px}

    .slider_small .slider-item,
    .slider_small .slider-item iframe {
        width: 408px;
        height: 242px;}

    .slider_medium .slider-item,
    .slider_medium .slider-item iframe {
        width: 528px;
        height: 300px;}

    .col_1_2 .slider_small {
        margin:0 0 0 10px}

    .slider_quotes .slider-item {
        padding:15px 20px;
        width:560px}

    .slider_mini {
        width: 300px;}

    .slider_mini .slider-item, .slider_mini .slider-item iframe {
        width: 290px;
        height: 163px;}


    /* Styled Tables and Boxes */
    .styled_table table tr th,
    .sb .box_title	{
        font-size:16px;}

    .styled_table table tr th,
    .styled_table table tr td,
    .sb .box_title	{
        padding:10px 15px;}
    .styled_table table tbody td,
    .sb .box_content {
        padding:8px 15px;}

    /* Blog post list */
    .post-item .post-title, .about-item .about-title {
        margin: 0 40px 10px 40px;}

    .post-item .post-desc {
        margin: 0 40px 10px;}

    .post-meta-bot .post-meta.post-view, .post-meta-bot .post-meta.post-comm {
        width: 123px;}

    .post-meta-bot .post-meta.post-author {
        width: 167px;}

    .post-meta-bot .post-meta.post-read {
        width: 204px;}

    .post-item .post-meta, .post-meta a {
        float: left;
        padding: 12px 0;
        height: 24px;
        font-size: 15px;
        font-weight:bold;}

    .post-item .post-meta a {
        padding: 0 !important;
        margin-left: 25px;}

    .about-item .about-desc {
        margin: 0 40px 25px; }

    /*Join US & Tweeter*/

    .join-box h2 a {
        font-size: 33px;
        padding: 36px 0 36px 40px;}

    .join-ico {
        margin-right: 25px;}

    .sidebar .widget-container .widget-tweeter h3, .sidebar .widget-tweeter h3, .content .widget-container .widget-tweeter h3, .content .widget-tweeter h3 {
        font-size: 31px;
        line-height: 120px;
        margin: 0 0 35px;
        padding-left: 35px; }

    .widget-tweeter .tweet_item {
        padding: 0 35px;
        margin-bottom: 30px;}

    /* posts navigation */
    .tf_pagination .page-numbers {
        line-height: 41px;
        padding: 11px 16px 10px;}

    .tf_pagination .page_prev {
        left:20%}
    .tf_pagination .page_next {
        right:20%;}

    /* Author description */
    .author-description {
        padding: 30px 0;}

    .author-image {
        width: 95px;
        margin-right: 20px;}

    .author-image img {
        width: 95px;
        height: 95px;}

    .author-text {
        float: left;
        width: 430px;}
    .author-text h4, .entry .author-text h4 {
        font-size: 24px;
    }


    /* Comment list */
    .comment-list h2 {
        font-size: 24px;
        margin: 0 0 25px 0;}

    .link-add-comment {
        top:10px;
        right:5px;}

    .comment-body {
        padding: 25px 35px;}

    .comment-avatar,
    .comment-list li li .comment-avatar {
        width:95px;
        margin-right:20px;
        float:left;}

    .comment-avatar .avatar img,
    .comment-list li li .comment-avatar .avatar img {
        width:95px;
        height:95px;}

    .comment-text,
    .children .comment-text,
    .children .children .comment-text {
        float:left;}

    .comment-author {
        text-align:right;}

    .link-author {
        font-size: 21px;
        float:left;
        display:inline;}

    .children li {
        padding-left: 82px;}

    /* Comment form / Contact form */

    .add-comment.contact-form  {
        width: 620px;}

    .comment-form .row .label_title {
        font-size: 16px;}

    .add-comment h3,.comment-respond h3,
    .contact-form h3 {
        height: 89px;
        line-height: 89px;
        font-size: 23px;}

     .comment-form .form-inner ,.comment-respond .comment-form{
        padding: 0 45px;}
     
     .full_width .add-comment.contact-form {
width:620px;
}

    .full_width .contact-form .comment-form .inputtext,
    #topm-select {
        max-width: 233px;}
    
    .full_width .contact-form .comment-form .tfuse_rf_post_datepicker_in ,
    .full_width .contact-form .comment-form .tfuse_rf_post_datepicker_out 
     {
        max-width: 213px;}
    
    .full_width .contact-form .comment-form .select_styled
     {
        max-width: 253px;}
     
     .full_width  .contact-form .comment-form .textarea
     {
        max-width: 509px;}

    .cols2  .contact-form .comment-form .inputtext,
    #topm-select {
        max-width: 233px;}
    
    .cols2  .contact-form .comment-form .select_styled
     {
        max-width: 253px;}
     
     .cols2 .contact-form .comment-form .textarea
     {
        max-width: 509px;}

    .comment-form .input_full,
    .comment-form .textarea {
        width: 507px;}

    .comment-form .rowRadio,
    .comment-form .rowCheckbox {
        width:253px}

    .comment-form .select_styled{
        width:253px;}

    /* minigallery_carousel */
    .minigallery_carousel {
        padding:0 25px}

    /* Gallery list / Portfolio */
    .gl_col_2 .gallery-item,
    .gl_col_3 .gallery-item
    .gl_col_4 .gallery-item{
        margin: 0 10px 20px 10px;}

    .gl_col_2 .gallery-item,
    .gl_col_2 .gallery-item img  {
        width: 460px;
        height: 300px;}

    .gl_col_3 .gallery-item,
    .gl_col_3 .gallery-item img {
        width: 300px;
        height: 300px;}

    .gl_col_4 .gallery-item,
    .gl_col_4 .gallery-item img {
        width: 220px;
        height: 205px !important;}
		
		/*------------- */
.cols2 .comment-body .comment-form .inputtext,.cols2 .comment-body .comment-form .textarea
{
    width:430px;
}

.cols2  .children .comment-body .comment-form .inputtext,.cols2 .children .comment-body   .comment-form .textarea
{
    width:345px;
}

.cols2 .children .children .comment-body  .comment-form .inputtext,.cols2 .children .children .comment-body   .comment-form .textarea
{
    width:270px;
}

.cols2 .children .children .children .comment-body  .comment-form .inputtext,.cols2 .children .children .children .comment-body   .comment-form .textarea
{
    width:195px;
}

.cols2 .children .children .children .comment-text {
width: 59%;
}

.cols2 .children .children .children .children .comment-text {
width: 92%;
}

.cols2 .children .children .children .link-reset {
top: 52px;
right: 95px;
}

.cols2 .children .children .children input.btn-default {
margin-left: 31px;
}


/*=------------------------------*/

}