.reservationForm .field_text .tfuse_rf_post_datepicker_in, .reservationForm .field_text .tfuse_rf_post_datepicker_out{
    background-image: url("../../../../../framework/static/images/picker_icon.jpg");
    background-repeat: no-repeat;
    background-position: 10px 12px;
    padding-left: 30px;
    width: 16px;
}
.tfuse_captcha_reload{
    background-image:url(../images/reload.png) !important;
    background-repeat: no-repeat !important;
    height: 18px !important;
    margin-top: 15px !important;
    max-width: 16px !important;
    vertical-align: top;
    background-color: transparent !important;
    border:none !important;
    padding-left: 18px !important;
}
.comment-form .select_styled {
    color: #666;
    font-size: 14px;
    line-height: 18px;
    margin: 3px 0;
    height: 40px;
}
.cusel {
    border: 1px solid #e5d4c2;
}
.btn, .entry .btn {
    margin: 0;
}
.comment-form .rowCheckbox {
    width: auto;
}
.custom-radio label {
    color: #5c5146;
}
#form_messages h2{
    padding: 15px;
}
.notice{
    padding-left: 44px;
    padding-right: 44px;
}
/* preview*/
#TB_ajaxContent .reservationForm .field_text .tfuse_rf_post_datepicker_in,#TB_ajaxContent .reservationForm .field_text .tfuse_rf_post_datepicker_out{
    background-image: url("../../../../../framework/static/images/picker_icon.jpg") !important;
    background-repeat: no-repeat !important;
    background-position: 10px 12px !important;
    padding-left: 30px ;
    width: 16px;
}
#TB_ajaxContent .comment-form .select_styled{
	height:36px;
}
#TB_ajaxContent .comment-form .row .label_title {
    line-height: 18px;
    display: block;
    color: #5c5146;
    font-size: 16px;
    margin-bottom: 6px;
}
#TB_ajaxContent .contact-form h3 {
    height: 70px;
    line-height: 89px;
    color: #5c5146;
    font-size: 23px;
    text-shadow: 0 1px 1px #fff;
    padding: 0 15px;
    margin: 0 !important;
}
#TB_ajaxContent .comment-form .inputtext,
#TB_ajaxContent .comment-form .textarea,
#TB_ajaxContent .tfuse_captcha_input,
#TB_ajaxContent .comment-form .select_styled{
    color: #666;
    font-size: 14px;
    line-height: 18px;
    width: 233px;
    margin: 3px 0;

    font-family: 'Open Sans', sans-serif;
    background: #fff !important;
    border: 1px solid #e5d4c2;
    padding: 8px 10px;
    color: #999;
    border-radius: 0;
}
#TB_ajaxContent .comment-form .row {
    margin-right: 20px;
}
#TB_ajaxContent .comment-form .row.omega {
    margin-right: 0px;
}
#TB_ajaxContent .comment-form .rowSubmit {
    position: relative;
    text-align: left;
    margin-right: 0;
    padding: 20px 45px;
    background: #f8f3f0;
    height: 45px;
    line-height: 45px;
    margin-top: 20px;
}
#TB_ajaxContent .link-reset {
    color: #e86741 !important;
    font-size: 12px;
    text-shadow: 0 1px 1px #fff;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    top: 21px;
    right: 45px;
    text-decoration: none;
}
#TB_ajaxContent .btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    padding: 10px 25px;
    border-radius: 5px;
    line-height: 20px;
    margin: 5px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    white-space: nowrap;
    background: linear-gradient(to bottom, #e96a46 0%,#e45835 100%);

    box-shadow: inset 0 1px 0 #F19576 , 0 2px 5px rgba(154,125,108,.49);
    border: 1px solid #ca4e2a;
}
#TB_ajaxContent .rowSubmit{
    width: 530px;
}
#TB_ajaxContent .rowCheckbox input{
    float: left;
    margin-top: 4px;
}
#TB_ajaxContent .select_styled{
    height: 18px;
}
#TB_ajaxContent .notice{
    padding: 0;
}
#TB_ajaxContent .contact-form label {
    font-style: normal;
}
#TB_ajaxContent .notice,
#TB_ajaxContent .rowRadio label,
#TB_ajaxContent .rowCheckbox label,
#TB_ajaxContent .contact-form label {
    color: #5c5146;
}
#TB_ajaxContent #header_message{
    margin-top: -35px !important;
}


/* Custom checkboxes, radios
===================================*/
/*	wrapper divs */
.custom-checkbox,.custom-radio { position:relative; font-size:13px}

/* input, label positioning */
.custom-checkbox input,.custom-radio input { position:absolute; left:7px; top:8px; margin:0; border:none; width:1px; height:1px}
.custom-checkbox input {left:6px; top:7px}
.ie7 .custom-checkbox input {left:2px; top:12px}
.custom-checkbox label,.custom-radio label { display:block; position:relative; line-height:1; padding:.4em 0 .3em 30px; margin:0 0 .3em; cursor:pointer; color:#5c5146}

.custom-radio label {padding:.4em 0 .5em 30px}

/* states */
.custom-checkbox label { background:#fff url(../../../../../images/styled_checkbox.png) no-repeat; }
.custom-radio label { background:#fff url(../../../../../images/styled_radiobutton.png) no-repeat; }
.custom-checkbox label,.custom-radio label { background-position:-10px -10px; }
.custom-checkbox label.hover,.custom-checkbox label.focus,.custom-radio label.hover,.custom-radio label.focus { background-position:-10px -10px; }
.custom-checkbox label.checked,.custom-radio label.checked { background-position:-10px -110px; color:#5c5146 }
.custom-checkbox label.checked.hover,.custom-checkbox label.checkedFocus { background-position:-10px -110px; }
.custom-checkbox label.focus,.custom-radio label.focus { outline:0; }

