/*
	styles for select
*/
.cusel,
.cuselFrameRight,
.jScrollPaneDrag,
.jScrollArrowUp,
.jScrollArrowDown {

}
.cusel {
	height: 34px;
	background-position: left top;
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-size: 14px;
	z-index: 2;
}

.cuselFrameRight {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	height: 100%;
	width: 32px;
	background:url(../images/select_arrow.png) 0 0;
    opacity: 0.8;
}

.cuselText {
	height: 40px;
	padding: 0 0 0 11px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:40px;
	text-shadow:none;
	position: absolute;
	top: 0;
	left: 0;
	color:#5c5146
}
.cusel:hover .cuselText {
	color:#555}
	
* html .cuselText {
	height: 34px;
}
.cusel span {
	display: block;
	cursor: pointer;
	white-space: nowrap;
	padding: 8px 20px 8px 11px;
	zoom: 1;
	border-top:1px solid #e5d4c2
}
.cusel span:first-child {
	border:none}
	
.cusel span:hover,
.cusel .cuselOptHover {
	background: #f8f3f0;
	color: #5c5146;
}
.cusel .cuselActive {
	color: #e8750f;
	cursor: default;
}

/* 	styles for focus and hover */
.cusel:hover .cuselFrameRight,
.cuselFocus .cuselFrameRight {
	background-position: 0 0;
    opacity: 1;}

.cuselOpen {
	z-index: 999;
}

/* 	styles for scrollbar */
.cusel .cusel-scroll-wrap {
	display: block;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 100%;	
	color:#5c5146;
	min-width: 100%;
	width: auto;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	z-index:200;
	text-align:left
}
.cusel .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5;
	background:#fcfcfc;
	border: 1px solid #e5d4c2;
	border-top: none
}
.cusel .jScrollPaneTrack {
	height: 100%;
	width: 7px !important;
	position: absolute;
	top: 0;
	right: 4px;
}
.cusel .jScrollPaneDrag {
	position: absolute;
	background-position: -40px -34px;
	cursor: pointer;
	width: 15px !important;
	right: -4px;
    background: #999;
}

.cusel .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollArrowUp {
	position: absolute;
	top: 0;
	right: 1px;
	width: 13px !important;
	height: 12px;
	cursor: pointer;
	background-position: 0 -34px;
	background-color:#595959;
	overflow: hidden;	
}
.cusel .jScrollArrowDown {
	width: 13px !important;
	height: 12px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 1px;
	cursor: pointer;
	background-position: -13px -34px;
	background-color:#595959;
	overflow: hidden;}